<div class="communication-section">
  <div class="communication-item" *ngFor="let item of communications">
    <span class="label">{{item.label}}:</span>
    <span>{{item.value}}</span>
  </div>
</div>
