<div class="dialog">
  <h2 class="dialog__title">{{index === -1?'Add':'Update'}} Dependent</h2>
  <form (submit)="addUpdateDependent()">
    <div class="dialog__form-content">

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="firstname"
                 placeholder="Dependent's First Name"
                 [(ngModel)]="dependent.first_name"
                 (ngModelChange)="errors.first_name = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.first_name">{{errors.first_name}}</span></div>
      </div>


      <div class="date-field" style="position: relative">
        <md-input-container class="dialog__row">
          <input mdInput
                 name="start"
                 type="text"
                 placeholder="Date of Birth (dd/mm/yyyy)"
                 [(ngModel)]="dependent.birthdate"
                 (ngModelChange)="errors.birthdate = ''; onChangeDateInput()"
                 [textMask]="{mask: mask}">
        </md-input-container>
        <input type="text"
               name="hidden_input"
               class="date-hidden-input"
               [(ngModel)]="birthdateObj"
               (ngModelChange)="errors.birthdate = ''; onChangeDateCalendar()"
               ngbDatepicker #d="ngbDatepicker"/>
        <md-icon class="datepicker-icon" (click)="d.toggle()">date_range</md-icon>
      </div>

    </div>


    <div class="dialog__form-buttons" *ngIf="index === -1">
      <button md-raised-button type="button" class="negative-btn" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Add
      </button>
    </div>

    <div class="dialog__form-buttons" *ngIf="index !== -1">
      <button md-raised-button type="button" class="negative-btn" (click)="deleteDependent(index)">
        <i class="material-icons">delete</i>
        Delete
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Update
      </button>
    </div>

  </form>
</div>
