@import "../../../css/_variables";

/deep/
.md-dialog-container {
  overflow: initial;
}

.dialog__form-content {
  width: 90%;
  margin: 0 auto;
  max-height: 310px;
}

.dialog__title {
  margin: 0;
}

.dialog__row {
  display: block;
  width: 98%;
  margin-top: 2em;
}

.dialog__field {
  width: 100%;
}

.dialog__checkbox-row {
  margin: 0.5em 0;
}

.dialog__radio-row {
  display: flex;
  align-items: center;

  label {
    padding-right: 20px;
  }
}

.radio-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

md-radio-button {
  margin-right: 20px;
}

/deep/ .md-radio-label-content {
  position: relative;
  top: -0.1em;
}

.dialog__form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 80%;
}
