@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;

  .main-header {
    text-align: center;
  }
}

.info {
  &-section {
    background-color: white;
    position: relative;
    padding: 20px 20px 0;
    border-top: 2px solid black;
  }

  &-header {
    background-color: inherit;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: 20px;
  }

  &-box {
    display: flex;
    justify-content: space-around;
  }

  &-item {
    width: 300px;
    margin: 0 20px;

    .value {
      color: $primary-color;
      font-size: 2em;
      text-align: center;
      margin: 0;
    }

    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }
}

.field-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2.5em;

  .row {
    margin-right: 3%;
    width: 30%;
    margin-top: 2em;

    @media (max-width: 768px) {
      width: 45%;
      margin-right: 4%;
    }

    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .field {
    width: 100%;
  }
}

.table-title {
  margin-bottom: 2em;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 1em;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
}

button:first-child {
  margin-left: 0;
}
.contact-text-center {
  text-align: center;
  padding-top: 10px;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
}