<div class="content-container">
  <h2 class="main-header">Please provide additional information for your Loan Application.</h2>

  <div class="info-section">
    <h3 class="info-header">Monthly Household Expenses</h3>
    <div class="info-box">
      <div class="info-item">
        <h3 class="value">
          {{ investorIncome.total_net_income_monthly | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Net Monthly Income</p>
      </div>
      <div class="info-item">
        <h3 class="value">
          {{ monthlySumm | currency:'GBP':true }}
        </h3>
        <p class="label">Total Monthly Expenses</p>
      </div>
      <div class="info-item">
        <h3 class="value">
          {{ (investorIncome.total_net_income_monthly - monthlySumm) | currency:'GBP':true:'.0-2' }}
        </h3>
        <p class="label">Monthly Disposable Income</p>
      </div>
    </div>
  </div>

  <form (submit)="onSubmit()">
    <div class="field-section">
      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="rent"
                 placeholder="Monthly Rent"
                 [(ngModel)]="model.monthly_rent"
                 (change)="errors.monthly_rent = ''; calculateExpenses()">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthly_rent">{{errors.monthly_rent}}</span>
        </div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="utilites"
                 placeholder="Monthly Utilites"
                 [(ngModel)]="model.monthly_utilities"
                 (change)="errors.monthly_utilities = ''; calculateExpenses()">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthly_utilities">{{errors.monthly_utilities}}</span>
        </div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="travel"
                 placeholder="Monthly Travel"
                 [(ngModel)]="model.monthly_travel"
                 (change)="errors.monthly_travel = ''; calculateExpenses()">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthly_travel">{{errors.monthly_travel}}</span>
        </div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="food"
                 placeholder="Monthly Food"
                 [(ngModel)]="model.monthly_food"
                 (change)="errors.monthly_food = ''; calculateExpenses()">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthly_food">{{errors.monthly_food}}</span>
        </div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="entertainment"
                 placeholder="Monthly Entertainment"
                 [(ngModel)]="model.monthly_entertainment"
                 (change)="errors.monthly_entertainment = ''; calculateExpenses()">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthly_entertainment">{{errors.monthly_entertainment}}</span>
        </div>
      </div>
      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="savings"
                 placeholder="Monthly Savings"
                 [(ngModel)]="model.monthly_savings"
                 (change)="errors.monthly_savings = ''; calculateExpenses()">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthly_savings">{{errors.monthly_savings}}</span>
        </div>
      </div>
    </div>

    <div class="section" *ngIf="dependents.length && !noDependencies">
      <h3 class="table-title">Your Dependents</h3>
      <div class="table-container">
        <table class="table table_stretched">

          <tr>
            <th class="table__header-cell">Dependent's First Name</th>
            <th class="table__header-cell">Date of Birth</th>
            <th class="table__header-cell">Age</th>
          </tr>

          <tr class="table__row" *ngFor="let item of dependents" (click)="editDependent(item)">
            <td class="table__cell">{{ item.first_name }}</td>
            <td class="table__cell">{{ convertDateForDisplay(item.birthdate) }}</td>
            <td class="table__cell">{{ calculateAge(item.birthdate) }}</td>
          </tr>

        </table>
      </div>
    </div>

    <div class="checkbox-section">
      <md-checkbox class="checkbox"
                   [checked]="false"
                   name="noDependencies"
                   [(ngModel)]="noDependencies"
                   (change)="setPreferences(noDependencies)">
        I have no dependents.
      </md-checkbox>
    </div>

    <div class="button-section">
      <button md-raised-button type="button" (click)="back()">
        <i class="material-icons">arrow_back</i>
        Back
      </button>
      <button md-raised-button type="button" *ngIf="!noDependencies" class="positive-btn" (click)="showDependentPopup()">
        <i class="material-icons">add</i>
        Add Dependent
      </button>
      <button md-raised-button type="submit" class="positive-btn" [disabled]="!(noDependencies || dependents.length)" >
        <i class="material-icons">arrow_forward</i>
        Next
      </button>
    </div>
    <div class="contact-text-center">
      Let us know about your immediate family and dependents, those who rely on you financially
    </div>

    <md-divider></md-divider>
    <div class="content-container">
      <h2 class="calculate-title">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - SUCCESS</h2>
      <div class="calculate-information">
        <div class="calculate-item" *ngIf="quote.amount">
          <h3 class="value">
            {{quote.amount | currency:'GBP':true:'.0-2'}}
          </h3>
          <p class="label">Loan Amount</p>
        </div>
        <div class="calculate-item" *ngIf="quote.monthly_payment">
          <h3 class="value">
            {{quote.monthly_payment | currency:'GBP':true:'.0-2'}}
          </h3>
          <p class="label">Monthly Payment</p>
        </div>
        <div class="calculate-item" *ngIf="quote.term">
          <h3 class="value">
            {{quote.term}} Months
          </h3>
          <p class="label">Loan Term</p>
        </div>
        <div class="calculate-item" *ngIf="quote.rate">
          <h3 class="value">
            {{quote.contract_rate/100 | percent:'.0-2'}}
          </h3>
          <p class="label">Contract Rate</p>
        </div>
      </div>
    </div>
  </form>

</div>

