<admin-header [activeTab]="'clients'"></admin-header>

<section class="content-container">
  <md-tab-group>
    <md-tab label="Personal Information">
      <section class="border-block__section">
        <div class="flex-block">
          <section class="left-column" *ngIf="personal_information.id">
            <h3 class="section-header">Personal Information</h3>
            <client-personal-info [personal_information]="personal_information"></client-personal-info>
          </section>
          <section class="right-column" *ngIf="addresses.length">
            <h3 class="section-header">Address</h3>
            <client-address-info [addresses]="addresses"></client-address-info>
          </section>
        </div>
        <section *ngIf="communications.length">
          <h3 class="section-header communication-section-header">Communication</h3>
          <client-communication-info [communications]="communications"></client-communication-info>
        </section>
      </section>
    </md-tab>

    <md-tab label="Activity logs">
      <section class="border-block__section" *ngIf="logs.length">
        <h3 class="section-header">Activity Logs</h3>
        <!--<activity-logs-list [logs]="logs"></activity-logs-list>-->
        <ngb-pagination [collectionSize]="count" [pageSize]="limit" [(page)]="page"
                        (pageChange)="getActivityLogs()" [maxSize]="10"></ngb-pagination>
      </section>
    </md-tab>
  </md-tab-group>
</section>
