@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;
  margin-top: 80px;
}

.table {
  margin-bottom: 2em;
  margin-left: auto;
}

.border-block {
  &__section {
    background-color: inherit;
    position: relative;
    box-sizing: border-box;
  }

  &__header {
    background-color: inherit;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: -13px;
    left: 20px;
  }
}

.flex-block {
  display: flex;
  margin-bottom: 40px;
}

.left-column,
.right-column {
  box-sizing: border-box;
  width: 50%;
  padding: 0 20px;
}

.communication-section-header {
  padding-left: 20px;
}

/deep/
.client-address-info-width,
/deep/
.client-personal-info-width,
/deep/
.client-communication-info-width {
  width: 100%;
}
