.dialog__title {
  margin: 0;
  margin-bottom: 2rem;
}

.table {
  width: 100%;

  td {
    padding: 0 10px 0 10px;
    vertical-align: middle;
    height: 48px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
  }
}

.dialog__form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 80%;
}

