<section class="dialog">
  <h2 class="dialog__title">Please can you clear security</h2>
  <form>
    <table cellspacing="0" cellpadding="0" class="table">
      <tr>
        <td class="table__cell">Client Full Name</td>
        <td class="table__cell">{{client.full_name}}</td>
        <td class="table__cell">
          <md-checkbox
            name="full_name"
            [checked]="false"
            [(ngModel)]="model.full_name"
            (change)="metadataChecked('full_name')"></md-checkbox>
        </td>
      </tr>

      <tr>
        <td>Client DOB</td>
        <td>{{convertDateForDisplay(client.dob)}}</td>
        <td>
          <md-checkbox
            name="dob"
            [checked]="false"
            [(ngModel)]="model.dob"
            (change)="metadataChecked('dob')"></md-checkbox>
        </td>
      </tr>

      <tr>
        <td>Client Post Code</td>
        <td>{{client.post_code}}</td>
        <td>
          <md-checkbox
            name="post_code"
            [checked]="false"
            [(ngModel)]="model.post_code"
            (change)="metadataChecked('post_code')"></md-checkbox>
        </td>
      </tr>

      <tr>
        <td>Client Age</td>
        <td>{{client.age}}</td>
        <td>
          <md-checkbox
            name="age"
            [checked]="false"
            [(ngModel)]="model.age"
            (change)="metadataChecked('age')"></md-checkbox>
        </td>
      </tr>

      <tr>
        <td>Client Screen Name</td>
        <td>{{client.screenname}}</td>
        <td>
          <md-checkbox
            name="screen_name"
            [checked]="false"
            [(ngModel)]="model.screenname"
            (change)="metadataChecked('screenname')"></md-checkbox>
        </td>
      </tr>
    </table>

    <div class="dialog__form-buttons">
      <button md-raised-button type="button" class="negative-btn" (click)="goToDetails(1)">
        ADMIN ONLY
      </button>
      <button md-raised-button type="button" class="positive-btn" (click)="goToDetails(0)" [disabled]="countOfCheckedMetadata < 3">
        CLEARED
      </button>
    </div>

  </form>
</section>
