@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;

  .main-header {
    text-align: center;
  }
}

.information {
  &-section {
    background-color: white;
    position: relative;
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 2em;

    .table-container {
      width: 100%;
      overflow-y: auto;
      margin: 0 0 1em;
    }
  }

  &-header {
    background-color: inherit;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: -13px;
    left: 20px;
  }

  &-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    p {
      box-sizing: border-box;
      padding-right: 20px;
      width: 33.3%;
      min-width: 200px;
      font-weight: bold;

      @media (max-width: 992px) {
        width: 50%;
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }
  }
}

.table__add-btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 2%;
}

.field-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .row {
    margin-right: 3%;
    width: 30%;
    margin-top: 2em;

    @media (max-width : 768px) {
      width: 45%;
      margin-right: 4%;
    }

    @media (max-width : 480px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .field {
    width: 100%;
  }
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

md-radio-button {
  margin-right: 20px;
}

/deep/.md-radio-label-content {
  position: relative;
  top: -0.1em;
}

.dialog-form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0;
  width: 80%;
  margin-top: 55px;
}

@media (max-width: 768px) {
  .field-section {
    justify-content: space-around;
  }

  .field {
    width: 45%;
    margin-right: 4%;
  }
}

@media (max-width: 480px) {
  .field {
    width: 100%;
    margin-right: 0;
  }
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 600px;
}
