<div class="content-container">
  <h2 class="main-header">Please provide additional information for your Loan Application.</h2>

  <div class="information-section">
    <h4 class="information-header">Personal Information</h4>
    <div class="information-box">
      <p>{{private_information.first_name}}</p>
      <p>{{private_information.last_name}}</p>
      <p>{{private_information.birthdate}}</p>
    </div>

    <div class="table-container">
      <table class="table table_stretched" *ngIf="addresses.length">

        <tr>
          <th class="table__header-cell">Address</th>
          <th class="table__header-cell">Current</th>
          <th class="table__header-cell">Moved In</th>
        </tr>

        <tr table__row *ngFor="let address of addresses; let index = index" (click)="editAddress(address)" style="cursor: pointer;">
          <td class="table__cell">
            {{ address.street }}
            {{ address.building_number }},
            {{ address.city }},
            {{ address.country }}
          </td>
          <td class="table__cell">{{ index === 0 ? 'Y' : 'N' }}</td>
          <td class="table__cell">{{ convertDateForDisplay(address.moved) }}</td>
        </tr>

      </table>
    </div>

    <button md-raised-button type="button" (click)="addAddress()" class="positive-btn table__add-btn">
      <i class="material-icons">add</i>
      Add
    </button>
  </div>

  <form (submit)="onSubmit()">
    <div class="field-section">
      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="middlename"
                 placeholder="Middle Name"
                 [(ngModel)]="model.middle_name"
                 (change)="errors.middleName = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.middleName">{{errors.middleName}}</span></div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="maidenname"
                 placeholder="Maiden Name"
                 [(ngModel)]="model.maiden_name"
                 (change)="errors.maidenName = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.maidenName">{{errors.maidenName}}</span></div>
      </div>

      <md-radio-group class="radio-group row"
                      name="gender"
                      [(ngModel)]="model.gender">
        <md-radio-button value="m">Male</md-radio-button>
        <md-radio-button value="f">Female</md-radio-button>
      </md-radio-group>

    </div>

    <div class="button-section">
      <button md-raised-button type="button" (click)="back()">
        <i class="material-icons">arrow_back</i>
        Back
      </button>
      <button md-raised-button type="submit" class="positive-btn" [disabled]="shortAddressPeriod">
        <i class="material-icons">arrow_forward</i>
        Next
      </button>
    </div>
    <md-divider></md-divider>
    <div class="calculate-title">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - SUCCESS</div>
    <div class="calculate-information">
      <div class="calculate-item" *ngIf="quote.amount">
        <h3 class="value">
          {{quote.amount | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Loan Amount</p>
      </div>
      <div class="calculate-item" *ngIf="quote.monthly_payment">
        <h3 class="value">
          {{quote.monthly_payment | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
      <div class="calculate-item" *ngIf="quote.term">
        <h3 class="value">
          {{quote.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
      <div class="calculate-item" *ngIf="quote.rate">
        <h3 class="value">
          {{quote.contract_rate/100 | percent:'.0-2'}}
        </h3>
        <p class="label">Contract Rate</p>
      </div>
    </div>
  </form>
</div>

