<div class="content-container">

  <div class="calculate">
    <div class="header">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - UNSUCCESSFULL</div>
    <div class="calculate-information">
      <div class="calculate-item" *ngIf="model.quote_amount">
        <p class="label">Loan Amount</p>
        <h3 class="value">
          {{model.quote_amount | currency:'GBP':true:'.0-2'}}
        </h3>
      </div>
      <div class="calculate-item" *ngIf="model.quote_term">
        <p class="label">Loan Term</p>
        <h3 class="value">
          {{model.quote_term}} Months
        </h3>
      </div>
    </div>
    <p class="calculate-text">
      Thank	your	for	applying	for	a	personal	loan	with	Wealth	Harbour.	We	regret	to	inform	you	that	after	careful	consideration,	your	application	has	been	 unsuccessful.	 The	 decision	 was	 made	 taking	 into	 account	 the	information	 provided	 by	 you	 in	 your	 application,	 your	 current	 credit	history,	and	the	amount	of	credit	you	applied for.<br /><br />
      We	would	recommend	reviewing	your	current	position	before	applying	for	another	loan,	and	we	have	provided	some	information	that	we	hope	you	will	find	helpful.
    </p>
  </div>

  <md-divider class="divider"></md-divider>

  <div class="options-section">
    <div class="header">Next steps and options</div>
    <div class="flex-block options-flex">
      <div class="options-item">
        <div class="option">Option	1: Noddle</div>
        <p class="text">
          <strong>Review	your	credit	score	and history</strong><br />
          Noddle	allows	you	to	access	your	full	credit	report,	free	of	charge.	Knowing	your	current	credit	score	and	history	can	help	you	in	making	the	financial	decisions	that	are	best	for	you.	It	can	also	help	you	gain	 a	 better	 understanding	 about	 potential	 credit	 applications	 in	 the	future.
        </p>
        <a href="https://www.noddle.co.uk" target="_blank" md-raised-button type="button" class="button">
          Go to Noddle
        </a>
      </div>

      <div class="options-item">
        <div class="option">Option 2: Christians Against Poverty</div>
        <p class="text">
          <strong>See	who	can help</strong><br />
          Christians	Against	Poverty	is a	national	debt	charity	designed	to	help	people	manage	their	debts	and	become	debt	free.	They	provide	1-to-1	support	and	catered	debt	solutions	to	clients,	so	that	more	people	can	become	 debt	 free.	 They	 also	 provide	 support	 networks	 to	 help	 you	through	your	challenges.
        </p>
        <a href="https://capuk.org" target="_blank"  md-raised-button type="button" class="button">
          Go	to	Christians	Against	Poverty
        </a>
      </div>

      <div class="options-item">
        <div class="option">Option	3:	TWiCE</div>
        <p class="text">
          <strong>Learn	more	about	personal finance</strong><br />
          The	 TWiCE	 Campaign	 is	 a	 community program	 whose	mission	is	to	help everyone	have	a	fair	shot	at	financial	success. TWiCE	aims	 to	 better	 educate	 everyone	 so	 that	 they	 make	 better	 financial	decisions. TWiCE	wants	to	reshape	everyone’s relationship	with	money	so they	can	take	back	control	of	their	finances.
        </p>
        <a href="https://www.twicecampaign.org" target="_blank" md-raised-button type="button" class="button">
          Go to TWiCE
        </a>
      </div>

    </div>
  </div>
  <md-divider class="divider"></md-divider>
  <div class="flex-block">
    <button md-raised-button type="button" (click)="back()">
      <i class="material-icons">arrow_back</i>
      Back
    </button>
    <button md-raised-button type="button" class="big-button">
      <i class="material-icons">call</i>
      Request Call Back
    </button>
  </div>
</div>
