@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;

}

.md-data-table,
.md-data-table th {
  font-size: 1rem;
  color: $primary-text-color;
}

.table-section {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 3em;
}

        // unsuccessful state styles

.header {
  font-size: 1.8rem;
  color: $negative-accent-color;
}

.calculate {
  margin-bottom: 10px;

  &-information {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    .value {
      color: $primary-color;
      font-size: 3em;
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      margin: 15px 0 0 0;
      font-size: 1.4em;
    }
  }
  &-item {
    box-sizing: border-box;
    width: 50%;
    min-width: 280px;
    margin: 0;
    padding: 0 20px;
  }
}

.flex-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.big-button {
  display: block;
  font-size: 1.4em;
  height: 2em;
}

@media only screen and (max-width : 1200px) {
  .calculate-information {
    width: 100%;
  }


  .calculate .big-button {
    display: inline-block;
    text-align: center;
  }

  .flex-block {
    justify-content: space-around;
  }
}

.options-flex {
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 30px;
}

.options-item {
  box-sizing: border-box;
  padding: 0 30px;
  width: 33%;
  margin-bottom: 15px;

  @media (max-width: 1200px) {
    width: 43%;
  }

  @media (max-width: 992px) {
    width: 50%;
  }

  @media (max-width : 480px) {
    width: 100%;
  }

  .option {
    /*border: 2px solid black;
    min-height: 10em;*/
    font-size: 17px;
    font-weight: 600;
  }

  .button {
    display: block;
    margin: 0 auto;
    background-color: lighten($orange-accent-color, 20%);
  }
}

.divider {
  margin-bottom: 30px;
}
