<div class="dialog">
  <h2 class="dialog__title">{{index === -1?'Add':'Update'}} Address, 5-years required.</h2>
  <form (submit)="updateAddress(index)">
    <div class="dialog__form-content">

      <my-autocomplete class="dialog__row" [searchStr]="searchStr" [errors]="errors"></my-autocomplete>

      <div class="dialog__row">
        <div class="date-select-wrap">
          <md-select class="date-select"
                     name="month"
                     placeholder="Month of move"
                     [(ngModel)]="month"
                     (ngModelChange)="errors.moved = ''">
            <md-option *ngFor="let item of months" [value]="item">{{item}}</md-option>
          </md-select>
          <md-select class="date-select"
                     name="year"
                     placeholder="Year of move"
                     [(ngModel)]="year"
                     (ngModelChange)="errors.moved = ''">
            <md-option *ngFor="let item of years" [value]="item">{{item}}</md-option>
          </md-select>
        </div>

        <div class="errorMessage"><span *ngIf="errors.moved">{{errors.moved}}</span></div>
      </div>
    </div>

    <div class="dialog__form-buttons" *ngIf="index !== -1">
      <button md-raised-button type="button" class="negative-btn" (click)="deleteAddress(index)">
        <i class="material-icons">delete</i>
        Delete
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Update
      </button>
    </div>

    <div class="dialog__form-buttons" *ngIf="index === -1">
      <button md-raised-button type="button" class="negative-btn" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">add</i>
        Add
      </button>
    </div>

  </form>
</div>
