<div class="content-container">
  <h2 class="main-header">Activity Logs</h2>

  <activity-logs-list [logs]="logs"></activity-logs-list>

  <ngb-pagination [collectionSize]="count" [pageSize]="limit" [(page)]="page" (pageChange)="getActivityLogs()" [maxSize]="10"></ngb-pagination>

  <div class="button-section">
    <button md-raised-button type="button" class="positive-btn" (click)="goToDashboard()">
      Go to Dashboard
    </button>
  </div>

</div>
