<p>
    Dear {{ name  }},
    <br>
    Re:  Loan needs your review and acceptance
    We are delighted to confirm that you have been approved to consollify your debts with Wealth Harbour Services Ltd. <br>
    Please log in on our website to check your Loan Agreement details and confirm that you accept these.
    If you have any questions, please do not hesitate to give us a call on 0203 457 7558.
</p>