{% if isBorrower %}
    <p>Hello {{ full_name }},
    <br>
        Thank you for applying to consollify on our site.  Please follow the link to confirm your registration. <br>
        {{ link }}
    </p>
{% else %}
    <p>Hello {{ full_name }},
    <br>
    Thank you for applying to invest on our site.  Please follow the link to confirm your registration. <br>
    {{ link }}
{% endif %}