<admin-header [activeTab]="'settings'"></admin-header>

<div class="b-container">
  <section class="admin-settings" *ngIf="logs.length">

    <h2 class="main-header">Activity Logs</h2>

    <activity-logs-list [logs]="logs"></activity-logs-list>

    <ngb-pagination class="class" [collectionSize]="count" [pageSize]="limit" [(page)]="page"
                    (pageChange)="getActivityLogs()" [maxSize]="10"></ngb-pagination>
  </section>
</div>
