//Turn off input spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button,
input[type=password]::-webkit-inner-spin-button,
input[type=password]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//disable scroll bars for selected option in select field
.mat-select-value {
  overflow: hidden;
}


