@import "../../../../css/_variables";

.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 0 5px;
  }

  &__header {
    margin: 0;
    padding: 10px 10px 0 10px;
    border: 2px solid black;
    border-bottom: 0 none;
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
    cursor: pointer;
    &.active {
      background-color: #a6a6a6;
    }
    &.disabled {
      opacity: .3;
    }
  }
}

.b-tabs__btn {
  font-size: 0.9rem;
  padding: 0.8em 0.6em;
  margin: 0 2px;
}



