<ul class="b-tabs">
  <li><button type="button" [class.disabled]="this.loanStatus < 100" [class.active]="tab == 'quotation'" (click)="changeTab('quotation')" class="btn b-tabs__btn">Quotation</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 200" [class.active]="tab == 'overview'" (click)="changeTab('overview')" class="btn b-tabs__btn">Full Application</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 300" [class.active]="tab == 'check'" (click)="changeTab('check')" class="btn b-tabs__btn">Call Validate Check</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 320" [class.active]="tab == 'affordability'" (click)="changeTab('affordability')" class="btn b-tabs__btn">Affordability Check</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 330" [class.active]="tab == 'history'" (click)="changeTab('history')" class="btn b-tabs__btn">Credit History Check</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 350" [class.active]="tab == 'decision'" (click)="changeTab('decision')" class="btn b-tabs__btn">Credit Decision</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 400 || this.loanStatus == 450" [class.active]="tab == 'acceptance'" (click)="changeTab('acceptance')" class="btn b-tabs__btn">Acceptance</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 500" [class.active]="tab == 'matching'" (click)="changeTab('matching')" class="btn b-tabs__btn">Matching</button></li>
  <li><button type="button" [class.disabled]="this.loanStatus < 600" [class.active]="tab == 'installments'" (click)="changeTab('installments')" class="btn b-tabs__btn">Instalments</button></li>
</ul>

<app-quotation (tab)="changeTab($event)" *ngIf="tab == 'quotation'" [id]="id"></app-quotation>
<app-client-overview-borrower (tab)="changeTab($event)" *ngIf="tab == 'overview'" [id]="id"  [client]="'borrower'"></app-client-overview-borrower>
<app-id-check (tab)="changeTab($event)" *ngIf="tab == 'check'" [id]="id"></app-id-check>
<app-credit-history (tab)="changeTab($event)" *ngIf="tab == 'history'" [id]="id"></app-credit-history>
<app-affordability (tab)="changeTab($event)" *ngIf="tab == 'affordability'" [id]="id"></app-affordability>
<app-credit-decision (tab)="changeTab($event)" *ngIf="tab == 'decision'" [id]="id"></app-credit-decision>
<app-acceptance (tab)="changeTab($event)" *ngIf="tab == 'acceptance'" [id]="id"></app-acceptance>
<app-matching (tab)="changeTab($event)" *ngIf="tab == 'matching'" [id]="id"></app-matching>
<app-instalments-borrower (tab)="changeTab($event)" *ngIf="tab == 'installments'" [id]="id"></app-instalments-borrower>

