<div class="content-container">
  <h2 class="main-header">My portfolio summary</h2>

  <div class="calculate">
    <div class="calculate-information">
      <div class="calculate-item">
        <h3 class="value">
          $65713
        </h3>
        <p class="label">Portfolio Value</p>
      </div>
      <div class="calculate-item">
        <h3 class="value">
          $5639
        </h3>
        <p class="label">Cash Balance</p>
      </div>
    </div>

    <div class="calculate-histogram">
      <h3 class="header">Portfolio summary</h3>
      <div class="graph"></div>
    </div>
  </div>

  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea hic commodi quia omnis aut rerum dicta doloremque voluptates odit. Officiis ab consequuntur odit recusandae, accusantium laboriosam assumenda nesciunt veritatis laudantium. Aliquid corporis, quidem illum eius quod magni, ducimus debitis natus molestiae accusamus doloribus ad optio modi quibusdam temporibus enim odit.</p>

  <div class="offer-section">
    <div class="offer">
      <button md-raised-button type="submit" class="positive-btn button">
        <i class="material-icons">arrow_forward</i>
        Proceed with Offer
      </button>
    </div>
    <div class="offer">
      <button md-raised-button type="submit" class="positive-btn button">
        <i class="material-icons">arrow_forward</i>
        Proceed with Offer
      </button>
    </div>
  </div>

  <div class="button-section">
    <button md-raised-button type="button" class="button">
      <i class="material-icons">call</i>
      Request Call Back
    </button>
  </div>

</div>

