@import "../../../css/_variables";;

.content-container {
  width: 95%;
  max-width: 1200px;
}

.calculate {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-header {
    font-size: 1.8rem;
    color: $accent-color;
  }

  &-information {
    width: 25%;

    .value {
      color: $primary-color;
      font-size: 3em;
      font-weight: normal;
      text-align: center;
      margin: 0;
    }

    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }

  &-item {
    width: 185px;
    box-sizing: border-box;
    margin: 0;
  }

  &-histogram {
    box-sizing: border-box;
    width: 75%;
    padding: 0 25px 30px;
    border: 2px solid $primary-text-color;

    .header {
      text-align: center;
    }

    .graph {
      min-height: 10em;
      border: 2px solid $divider-color;
    }
  }
}

@media (max-width : 992px) {
  .calculate {
    flex-direction: column;

    &-information {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &-histogram {
      width: 100%;
    }
  }
}

.offer-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.offer {
  position: relative;
  width: 45%;
  margin-bottom: 15px;
  min-width: 275px;
  min-height: 20em;
  border: 2px solid ;

  .button {
    position: absolute;
    right: 0.8em;
    bottom: 0.8em;
  }
}

@media only screen and (max-width : 992px) {
  .offer-section {
    flex-direction: column;
    align-items: center;
  }

  .offer {
    width: 60%;
  }
}


@media  (max-width : 660px) {
  .offer {
    width: 100%;
  }
}

.button-section {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width : 992px) {
    justify-content: center;;
  }
}

.button {
  display: block;
  font-size: 1.4em;
  height: 2em;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
