<section class="border-block__section">
  <div class="table-section" *ngIf="items.quotes.length">
    <div class="c-user-card__header">
      <h2>Quotes</h2>
    </div>
    <table class="table table_stretched">
      <tr>
        <th class="table__header-cell">Product type</th>
        <th class="table__header-cell">Date</th>
        <th class="table__header-cell">Status</th>
        <th class="table__header-cell width-25">My Actions</th>
        <th class="table__header-cell width-25"></th>
      </tr>

      <tr *ngFor="let quote of items.quotes">
        <td class="table__cell">{{ quote.quote_product_description }}</td>
        <td class="table__cell">{{ quote.displayedDate }}</td>
        <td class="table__cell">
          <div class="badge badge-light" *ngIf="quote.displayedStatus === 'Draft'">Draft</div>
          <div class="badge badge-secondary"
               *ngIf="quote.displayedStatus === 'Pending' && clientStatus == 'borrower' ||
               loanStatus[quote.loan_status]=='Call Validate check' && clientStatus == 'borrower' ||
               loanStatus[quote.loan_status]=='Affordability Check' && clientStatus == 'borrower' ||
               loanStatus[quote.loan_status]=='Credit History Check' && clientStatus == 'borrower' ||
               loanStatus[quote.loan_status]=='Credit Decision' && clientStatus == 'borrower' ||
               loanStatus[quote.loan_status]=='Matching' && clientStatus == 'borrower' ||
               quote.displayedStatus=='Pending Funds' && clientStatus == 'investor' ||
               quote.displayedStatus=='Pending' && clientStatus == 'investor'">Pending
          </div>
          <div class="badge badge-danger" *ngIf="quote.displayedStatus === 'Rejected'">Declined
          </div>
          <div class="badge badge-warning" *ngIf="(loanStatus[quote.loan_status]=='Submitted' && clientStatus == 'borrower') ||
              (quote.displayedStatus=='Funding Required' && clientStatus == 'investor')">
            Incomplete
          </div>
          <div class="badge badge-success"
               *ngIf="loanStatus[quote.loan_status]=='Draft' && clientStatus == 'borrower'">
            Ready
          </div>
          <div class="badge badge-success"
               *ngIf="loanStatus[quote.loan_status]=='Acceptance' && clientStatus == 'borrower'">
            Active
          </div>
          <div class="badge badge-secondary" *ngIf="quote.displayedStatus == 'Refer' && clientStatus == 'borrower'">
            Refer
          </div>
        </td>
        <td class="table__cell">
          <div *ngIf="quote.displayedStatus === 'Draft' && clientStatus == 'borrower'">Complete Application</div>
          <div *ngIf="quote.displayedStatus === 'Pending' && clientStatus == 'borrower'">Wait - Generating Quote</div>
          <div *ngIf="quote.displayedStatus === 'Rejected' && clientStatus == 'borrower'"></div>
          <div *ngIf="loanStatus[quote.loan_status]=='Draft' && clientStatus == 'borrower'">View Quote</div>
          <div
            *ngIf="loanStatus[quote.loan_status]=='Submitted' && clientStatus == 'borrower'">
            Complete Application
          </div>
          <div
            *ngIf="(loanStatus[quote.loan_status]=='Credit Decision' ||
             loanStatus[quote.loan_status]=='Credit History Check' ||
              loanStatus[quote.loan_status]=='Affordability Check' ||
               loanStatus[quote.loan_status]=='Call Validate check') && clientStatus == 'borrower'">
            Waiting - Credit checking
          </div>
          <div
            *ngIf="loanStatus[quote.loan_status]=='Acceptance' && clientStatus == 'borrower'">
            View Decision & Accept Offer
          </div>
          <div
            *ngIf="loanStatus[quote.loan_status]=='Matching' && clientStatus == 'borrower'">
            Wait - Matching
          </div>
          <div *ngIf="quote.displayedStatus=='Draft' && clientStatus == 'investor'">Complete Application</div>
          <div *ngIf="quote.displayedStatus=='Funding Required' && clientStatus == 'investor'">Process fund transfer</div>
          <div *ngIf="(quote.displayedStatus=='Pending Funds' || quote.displayedStatus=='Pending') && clientStatus == 'investor'">Wait - Confirming deposit</div>
          <div *ngIf="quote.displayedStatus=='Rejected' && clientStatus == 'investor'"></div>
        </td>
        <td class="table__cell">
          <button md-raised-button
                  type="button"
                  *ngIf="quote.displayedStatus === 'Verification' && loanStatus[quote.loan_status] == 'Acceptance'"
                  (click)="navigateToLoanAgreement(quote)">
            Loan Agreement
          </button>
          <button md-raised-button
                  type="button"
                  *ngIf="quote.displayedStatus === 'Approved' || quote.displayedStatus === 'Rejected'"
                  (click)="viewXML(quote)">
            View XML
          </button>
          <button md-raised-button
                  type="button"
                  class="positive-btn"
                  *ngIf="quote.displayedStatus === 'Draft' ||
                         (clientStatus == 'borrower' && (
                         quote.displayedStatus === 'Approved' ||
                         quote.displayedStatus === 'Rejected'))"
                  (click)="selectQuote(quote)">
            <i class="material-icons">arrow_forward</i>
            Next
          </button>
        </td>
      </tr>

    </table>
  </div>

  <div class="table-section" *ngIf="items.loans.length">
    <div class="c-user-card__header">
      <h2>Loans</h2>
    </div>
    <table class="table table_stretched">

      <tr>
        <th class="table__header-cell">Product Type</th>
        <th class="table__header-cell">Date</th>
        <th class="table__header-cell">Status</th>
        <th class="table__header-cell width-25">Actions</th>
      </tr>

      <tr *ngFor="let loan of items.loans">
        <td class="table__cell">{{ loan.loan_product_description }}</td>
        <td class="table__cell">{{ loan.displayedDate }}</td>
        <td class="table__cell">
          <span class="status-mark">{{ loan.displayedStatus[0] }}</span>
          <span>{{ loan.displayedStatus }}</span>
        </td>
        <td class="table__cell">
          <button md-raised-button
                  type="button"
                  *ngIf="loan.displayedStatus === 'Submitted'"
                  (click)="viewXML(loan)">
            View XML
          </button>
          <button md-raised-button
                  type="button"
                  class="positive-btn"
                  *ngIf="loan.displayedStatus === 'Submitted'"
                  (click)="selectLoan()">
            <i class="material-icons">arrow_forward</i>
            Next
          </button>
        </td>
      </tr>

    </table>
  </div>
</section>

