@import "../../../../css/variables";

.content-container {
  width: 95%;
  max-width: 1200px;
}

.table-section {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 3em;
}

.width-20 {
  width: 20%;
}
.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
  }
}
button {
  margin: 5px 0;
}
