<div class="dialog">
  <h2 class="dialog__title">Warning</h2>
  <div class="dialog__form-content">
    <p class="dialog__row">
      You have exceeded the Loan Amount limit of £25,000.<br>
      Please re-select credit lines that do not exceed this amount.
    </p>
  </div>
  <div class="dialog__form-buttons">
    <button md-raised-button type="submit" class="positive-btn" (click)="dialogRef.close(true)">OK
    </button>
  </div>
</div>
