.b-registration {
  width: 95%;
  max-width: 1000px;
  padding: 20px;
  font-family: $font;
  color: $primary-text-color;
  margin: 30px auto;
  border-top: 10px solid $primary-color-light;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

  &__description {
    text-align: center;
    margin-bottom: 2.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h2, h3, p {
    line-height: 1.5em;
  }

  .form-buttons {
    text-align: right;
    margin-top: 20px;
  }

  &__field {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1rem;
    &-description {
    //  color: grey;
      padding: 0 5px;
      font-size: 0.86em;
    }
  }

  &__label {
    font-weight: bold;
    margin-bottom: 0.25em;
    padding: 0 5px;
  }
  &__slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &-inner {
      width: 70%;
      max-width: 700px;
      margin-right: 20px;
    }
    .mat-slider {
      cursor: pointer;
    }
  }
}

.b-calculate {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1rem;

  &-item {
    box-sizing: border-box;
    width: 25%;
    padding: 0 20px;
    min-width: 220px;
  }

  &__value {
    color: #0A152C;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }

  &__label {
    text-align: center;
    font-weight: normal;
    color: #757575;
    font-size: 1em;
  }
}