.completer-holder {
  position: relative;
  .completer-input {
    width: 100%;
  }
  .completer-dropdown-holder {
    position: absolute;
    width: 100%;
    z-index: 1001;
    margin-top: -12px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    .completer-dropdown {
      max-height: 180px;
      overflow: auto;
    }
    .completer-row-wrapper {
      cursor: pointer;
      &:hover {
        background-color: #f4f4f4;
      }
      /deep/ .md-list-item {
        font-size: 15px;
        height: 48px;
        padding: 0 20px;
      }
    }
  }
}
