<div class="completer-holder">
  <md-input-container class="completer-input">
    <input mdInput
           name="material-completer"
           placeholder="You current address(min. 2 chars):"
           [(ngModel)]="searchStr"
           (ngModelChange)="onChange($event)"
           (change)="errors.address = ''"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off">
  </md-input-container>
  <div class="errorMessage"><span *ngIf="errors.address">{{errors.address}}</span></div>

  <div class="completer-dropdown-holder">
    <md-list class="completer-dropdown" *ngIf="items && items.length">
      <md-list-item class="completer-row-wrapper" *ngFor="let item of items; let rowIndex=index"
                    (click)="clickAddress(item)">{{item.Text}}
      </md-list-item>
    </md-list>
  </div>
</div>
