<div class="login-container">

  <div class="content-container content-container_stylized" *ngIf="!forgotPasswordForm">

    <h2 class="main-header">Please login to WH Marketplace Admin</h2>

    <form (submit)="login()">
      <div class="form-content">

        <div *ngIf="!newPasswordsFields">
          <md-input-container class="row">
            <input mdInput
                   type="text"
                   name="email"
                   placeholder="Username"
                   [(ngModel)]="model.username"
                   (change)="errors.username = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.username">{{errors.username}}</span></div>


          <md-input-container class="row">
            <input mdInput
                   type="password"
                   name="password"
                   placeholder="Password"
                   [(ngModel)]="model.password"
                   (change)="errors.password = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.password">{{errors.password}}</span></div>
        </div>

        <div *ngIf="newPasswordsFields">
          <md-input-container class="row">
            <input mdInput
                   type="password"
                   name="plain_password"
                   placeholder="New Password"
                   [(ngModel)]="model.plain_password"
                   (change)="errors.plainPassword = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.plainPassword">{{errors.plainPassword}}</span></div>

          <md-input-container class="row">
            <input mdInput
                   type="password"
                   name="repeat_password"
                   placeholder="Retype Password"
                   [(ngModel)]="model.repeat_password"
                   (change)="errors.repeatPassword = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.repeatPassword">{{errors.repeatPassword}}</span></div>
        </div>

      </div>
      <div class="form-buttons">
        <md-slide-toggle class="toggle" color="primary">
          Remember me?
        </md-slide-toggle>
        <button md-raised-button type="submit" class="positive-btn" *ngIf="newPasswordsFields">
          <i class="material-icons">arrow_forward</i>
          Set new password & Log in
        </button>
        <button md-raised-button type="submit" class="positive-btn" *ngIf="!newPasswordsFields">
          <i class="material-icons">arrow_forward</i>
          Log in to Dashboard
        </button>
      </div>

      <md-divider></md-divider>
      <div class="forgot"><a (click)="forgotPasswordForm = true">Forgot Password?</a></div>
    </form>

  </div>

  <div class="content-container content-container_stylized" *ngIf="forgotPasswordForm">

    <h2 class="main-header">Forgot Password?</h2>

    <form (submit)="sendEmail()" *ngIf="!successMessage">
      <div class="form-content send-email__form-content">

        <md-input-container class="row">
          <input mdInput
                 type="text"
                 name="forgot_password_email"
                 placeholder="Enter your email"
                 [(ngModel)]="model.username"
                 (change)="errors.username = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.username">{{errors.username}}</span></div>

      </div>
      <div class="form-buttons send-email__form-buttons">
        <button md-raised-button type="button" (click)="forgotPasswordForm = false">
          <i class="material-icons">arrow_back</i>
          BACK
        </button>
        <button md-raised-button type="submit" class="positive-btn">
          SEND EMAIL
        </button>
      </div>

    </form>

    <div *ngIf="successMessage" class="success-message">{{successMessage}}</div>

  </div>

</div>
