<div class="content-container">
  <div class="section">
    <h2 class="main-header">Thank you! Your loan application has been submitted.</h2>
    <h2 class="main-header">
      Wealth Harbour will now review your loan application. We will check your credit history, review the suitability of your application, and make sure that your details are correct.<br />
      Expect us to make a decision and be in touch within the next working day. If you have any questions feel free to contact our support team at
      <a href="mailto:info@wh.money">info@wh.money</a>, or call us on 020 3457 7558
    </h2>
    <div class="buttons">
      <button md-raised-button type="button" class="positive-btn" (click)="goToDashboard()">
        Go to Dashboard
      </button>
      <button md-raised-button type="button" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
        Log Out
      </button>
    </div>
  </div>
</div>

