@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;
}

.section {
  margin-top: 120px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px auto 35px;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
}
