<html>
<head>
    <title></title>
    <style>
        @page portrait {
            size: 8.5in 11in;
            margin: 0;
        }
        .letter-portrait {
            page: portrait;
            page-break-after: always;
            padding: 0 0.5in;
        }
    </style>
    {% if doc|default(false) %}
        <style>
            .letter-portrait {
                padding: 0.5in;
            }
        </style>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ asset('static/styles/pdf/style.css') }}" type="text/css" media="all">
</head>

<body class="portrait">

    <div class="letter-portrait" >
        <h1>Your Loan Application</h1>
        <h2>Terms and Conditions</h2>

        <p> <i class="c-brand">{{ first_name }}</i>, your loan application has been processed by the Wealth Harbour Services Ltd (“WHS”)
            team and the final terms of your Loan Agreement are as described below. </p>

        <table class="properties-list" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div class="properties-list__title">Total Loan Value </div>
                    <div class="properties-list__description">This is the total amount borrowed under this Loan Agreement.</div>
                </td>
                <td class="properties-list__value">£{{ total | round(2, 'ceil') }}</td>
            </tr>
            <tr>
                <td>
                    <div class="properties-list__title">Annual Percentage Rate (APR)</div>
                    <div class="properties-list__description">This is the maximum interest rate you will be paying before applying the incentive bonus.</div>
                </td>
                <td class="properties-list__value">{{ apr | round(2, 'ceil') }} %</td>
            </tr>
            <tr>
                <td>
                    <div class="properties-list__title">Length of Contract</div>
                    <div class="properties-list__description">This is the length of time it will take to pay off your loan.</div>
                </td>
                <td class="properties-list__value">
                    {{ term // 12 }} years  {{ term % 12 != 0 ? 'and ' ~  (term % 12) ~ 'months' : ''}}<br>
                    <span class="nowrap">({{ term }} months)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="properties-list__title">Monthly Repayment</div>
                    <div class="properties-list__description">This is the amount of money to be re-paid monthly.</div>
                </td>
                <td class="properties-list__value">£{{ monthly | round(2, 'ceil')}}</td>
            </tr>
            <tr>
                <td>
                    <div class="properties-list__title">Incentive Bonus </div>
                </td>
                <td class="properties-list__value">
                    {{ bonus_rate | round(2, 'ceil') }}% <br>
                    (£{{ bonus_value | round(2, 'ceil')}})
                </td>
            </tr>
        </table>

        <div class="properties-list__description h-margin-b2">
            If you pay all of your monthly instalments and adhere to the other requirements of the
            <b>{{ product_description }}</b>, this is the bonus you will accrue.
        </div>

        <p>Please read carefully through the terms and conditions below and click complete on the bottom of the page.</p>

    </div>
<!-- page-break -->

    <div class="letter-portrait">

        <h1 class="title">PEER-TO-PEER (P2P) AGREEMENT REGULATED BY THE FINANCIAL SERVICES AND MARKETS ACT 2000 (REGULATED ACTIVITIES) ORDER </h1>
        <p>Where there is more than one Lender, a separate individual bi-lateral P2P Agreement is made between each Lender and the Borrower (the “Loan Agreement”).</p>

        {% if show_table %}
            <label class="table-label">Table 1: Lender Table</label>
            <table class="table" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>WHS Member ID</th>
                        <th>Amount of Credit</th>
                        <th>Monthly Repayment amount</th>
                        <th>1st Monthly Repayment Amount</th>
                        <th>Total Amount Payable</th>
                        <th>Borrowing Fee (included in total amount payable)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td>{{ contract.whs_member_id }}</td>
                            <td>{{ contract.amount | round(2, 'ceil') }}</td>
                            <td>{{ contract.monthly | round(2, 'ceil') }}</td>
                            <td>{{ contract.first_monthly | round(2, 'ceil') }}</td>
                            <td>{{ contract.tap  | round(2, 'ceil')}}</td>
                            <td>{{ contract.fee | round(2, 'ceil') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>TOTAL</td>
                        <td>{{ total_amount | round(2, 'ceil') }}</td>
                        <td>{{ total_monthly | round(2, 'ceil') }}</td>
                        <td>{{ total_first_monthly | round(2, 'ceil') }}</td>
                        <td>{{ total_payable | round(2, 'ceil') }}</td>
                        <td>{{ total_fee | round(2, 'ceil') }}</td>
                    </tr>
                </tfoot>
            </table>
        {% endif %}
        <!--(each a “Lender”);-->
        <h3 class="f-italic">Client’s Name</h3>
        <p>
            {{ full_name }} <br>
            (WHS Member ID {{ whs_member_id }}) <br>
            {{ address }}
        </p>
        <!--<p>(the “Borrower”)</p>-->

        <h3>Duration of Agreement</h3>
        <p class="f-small">{{ term }} months</p>

        <h3>Amount of Credit</h3>
        <p class="f-small">£{{ total | round(2, 'ceil') }} {% if show_table %} (as shown in Lender Table) {% endif %}</p>

        <h3>How and when credit is to be provided</h3>
        <p class="f-small">The amount of credit will be used to pay any creditors the Borrower has asked WHS to pay on their behalf.
            In the event any loan funds remain unused after the payment of the Borrower’s creditor(s) listed in the loan application,
            the remaining funds will be transferred into the Borrower’s QC Members account.</p>


        <h3>Rate of interest</h3>
        <p class="f-small">Interest is charged on the amount borrowed at a fixed annual interest rate of {{ apr | round(2, 'ceil')}}%.
            Interest is applied to the credit borrowed on a monthly basis.</p>

        <h3>Total amount payable</h3>
        <p class="f-small">The Total Amount Payable under the agreement will be £{{ total_payable | round(2, 'ceil') }} (including the Borrowing Fee {% if show_table %}(as shown in Lender Table){% endif %}) </p>

        <h3>Annual percentage rate (‘APR’)</h3>
        <p class="f-small">{{ apr | round(2, 'ceil') }}% APR</p>


    </div>
    <!-- page-break -->

    <div class="letter-portrait">

        <h3>Amounts of Repayments</h3>
        <p class="f-small">The Borrower agrees to repay the Lender by way of {{ term }} monthly repayments.</p>
        <p class="f-small">The Borrower’s 1st monthly repayment of £{{ first_monthly_payment | round(2, 'ceil') }} {% if show_table %} (as shown in Lender Table) {% endif %} will be on {{ first_payment_date | date('d-M-Y') }}.
            Thereafter the {{ term - 1 }} remaining monthly repayments of £{{ monthly | round(2, 'ceil') }} {% if show_table %} (as shown in Lender Table) {% endif %} will be due on {{ payment_day }} of every calendar month.</p>
        <p class="f-small">The above dates are referred to hereinafter as Scheduled Repayment Dates. The Borrower agrees to pay the monthly repayments by Standing Order. </p>

        <h3>Statement of Account</h3>
        <p class="f-small">The Borrower has the right to receive, on request from WHS and free of charge,
            at any time throughout the duration of the agreement a statement (per entire loan basis) in the form of a table showing:</p>
        <ol class="list-letters">
            <li>The details of each instalment owing under the Loan Agreement;</li>
            <li>The date on which each instalment is due, the amount and any conditions relating to the instalment;</li>
            <li>A breakdown of each instalment showing how much comprises:
                <ol>
                    <li>capital repayment,</li>
                    <li>interest payment, and</li>
                    <li>if applicable, any other charges.</li>
                </ol>
            </li>
        </ol>
        <p class="f-small">This statement of account will be made available to the Borrower on their Marketplace account.</p>

        <h3>Charges</h3>
        <p class="f-small">Each time the Borrower makes a successful Loan Request to borrow money using the Marketplace WHS, who act as a credit intermediary,
            will charge the Borrower a Borrowing Fee on a per entire loan basis. :</p>
        <p class="f-small">Borrowing Fees are variable and set by WHS from time to time on a per entire loan basis. </p>
        <p class="f-small">The Borrowing Fee applicable to this Agreement is £{{ interest | round(2, 'ceil') }} {% if show_table %} (as shown in the Lender Table) {% endif %}.</p>

        <h3>Interest and charges for late payment</h3>
        <p class="f-small">If the Borrower does not pay the monthly repayments in full, on the Scheduled Repayment Dates,
            interest will continue to accrue on the outstanding balance until it is paid in full. The rate of interest will be the same as shown above.
            Interest after default is calculated daily and applied to the loan amount every 30 days (or when the outstanding balance is repaid in full if earlier).
            The rate of interest may be charged before as well as after any court judgment.</p>
        <p class="f-small">If the Borrower does not pay the monthly repayments in full, on the Scheduled Repayment Dates
            a debt collection agency may be instructed by WHS to attempt to recover sums owed to the Lender.</p>
        <p class="f-small">Where a collections agency is used an administration fee for the work it does in attempting to
            collect the outstanding repayments may be charged (a "Late Payment Fee"). The Late Payment Fee will be up to £25 on a per entire loan basis.</p>
        <p class="f-small">Other fees or charges which may be charged on a per entire loan basis are:</p>
        <ol>
            <li>Tracing charges (charges associated in trying to find you if you cannot be contacted) - £25;</li>
            <li>Charges for document retrieval and copying up to 20 pages - £35 (These charges do not refer to a
                copy of the Loan Agreement to which the Borrower is entitled for a fee of £1);</li>
            <li>Any other reasonable expenses and costs that may be incurred by WHS directly or incurred by a third
                party instructed by WHS in taking steps to enforce, or attempt to enforce, any rights the Lender has under
                this Loan Agreement, including all reasonable costs associated with tracing the Borrower, and reasonable costs
                associated with the use of debt collections agencies and/or the institution of legal proceedings.</li>
        </ol>


    </div>
    <!-- page-break -->


    <div class="letter-portrait">

        <h3>Missing payment warning</h3>
        <p class="f-small">The principal consequences of a failure to make payments under the Loan Agreement at the time required are:</p>
        <ol>
            <li>Interest will continue to be applied to the total outstanding loan balance at the same rate as provided for under the Loan Agreement;</li>
            <li>A Late Payment fee of up to £25.00 will be charged where you do not pay your monthly repayments in full, on the Scheduled Repayment Dates;</li>
            <li>The outstanding balance will be immediately payable on demand;</li>
            <li>Legal proceedings may be commenced by WHS or by a third party instructed by WHS and this may result in
                a court judgment which could lead to possession of any property you own, including your home. </li>
        </ol>
        <p class="f-small">Missing payments could have severe consequences.
            Please note that missing payments under this Loan Agreement could make it more difficult to obtain other credit in the future.</p>
        <p class="f-small">If the Borrower does not repay in full and on time, Credit Reference Agencies (CRAs) may record the outstanding debt.
            This information may be supplied to other organisations by CRAs and Fraud Prevention Agencies (FPAs) to perform similar checks,
            trace the Borrower’s whereabouts and/or recover debts that the Borrower owe.
            Records of accounts remain on file for 6 years after they are closed, whether settled by the Borrower or defaulted.</p>

        <h3>Early repayment</h3>
        <p class="f-small">The Borrower has the right to repay the amount owed early, at any time,
            in full or partially by contacting WHS on 020 3457 7558 or at <a href="mailto:support@wh.money">support@wh.money</a>.
            Payment can be made by bank transfer. All Lenders will be paid pro-rata if the Borrower exercises his right to repay early.</p>

        <h3>Terms & Conditions</h3>
        <p class="f-small">Other contractual terms and conditions (the Loan Terms and Conditions) apply to this Loan Agreement and are attached to this Loan Agreement.</p>
        <p class="f-small">By clicking the “I Accept” button above, the Borrower agrees to be legally bound by the terms of this Loan Agreement and the Loan Terms and Conditions.</p>
        <p class="f-small">Acceptance Date: <i class="c-brand">{{ acceptance_date | date('d-M-Y') }}</i></p>

    </div>
    <!-- page-break -->

    <div class="letter-portrait">
        <h1>  Loan Terms & Conditions </h1>

        <ol class="terms-list">
            <li>
                <h2>Application</h2>
                <ol>
                    <li>These Loan Terms & Conditions form part of the Loan Agreement. </li>
                    <li>All Lenders providing loan funds are WHS Members. </li>
                    <li>Wealth Harbour Services Ltd (“WHS”), whose registered office address is 40 Occam Road,
                        Surrey Research Park, Guildford, GU2 7YG, acts as a credit intermediary and does not provide
                        credit under the Loan Agreement. </li>
                </ol>
            </li>
            <li>
                <h2>Services provided by WHS</h2>
                <ol>
                    <li>The Lender has appointed WHS to:
                        <ol>
                            <li>make available prospective P2P agreements for individuals or relevant persons; </li>
                            <li>make provision for the sending and receipt of communications concerning such agreements; </li>
                            <li>facilitate and assist in the lending process, including assisting in the entering of agreements by individuals and relevant persons with Lenders,
                                assisting in the assessment of credit worthiness by contacting credit reference agencies and fraud prevention agencies;  and </li>
                            <li>instruct and/or to oversee debt collections activities on behalf of Lenders. </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h2>Loan Approval and Provision</h2>
                <ol>
                    <li>	The provision by the Lender of a loan is subject to approval. As part of the WHS approval process the information the Borrower has provided on their application form will be considered and credit reference agencies and fraud prevention agencies may be contacted in accordance with the WHS Terms of Use.</li>
                    <li>	The Borrower confirms that the information the Borrower has provided to WHS during the application process is complete, accurate and correct.</li>
                    <li>	If the Borrower provides inaccurate or incomplete information, the Loan Agreement will become void and the failure to provide accurate information will be reported to credit reference and fraud agencies by WHS and the outstanding balance of the loan and all other amounts due under the Loan Agreement will become immediately payable.</li>
                    <li>	During the application process, and at any time afterwards, the Borrower may be asked to provide additional information which may be required to progress his/her application.</li>
                    <li>	In the event the Borrower has agreed for the loan funds to be paid in full, or in part, to third party creditors, the Borrower agrees to provide WHS with the accurate details of the names, account numbers and outstanding balances in relation to all the Borrower’s existing third party creditors.</li>
                    <li>	For the purposes of Clause 3.5 above, the Borrower agrees to execute a letter of authority for WHS to contact all relevant third party creditors in order to arrange repayment of any outstanding debts/balances.</li>
                    <li>	In the event the Borrower has agreed to terminate credit facilities held with party creditors, the Borrower has authorised WHS by way of a letter of authority to terminate credit facilities that the Borrower holds with all relevant third party creditors.</li>
                </ol>
            </li>

            <li>
                <h2>Electronic Signature and Transmission of documents</h2>
                <ol>
                    <li>	By clicking the “I accept” button in the box above, the Borrower electronically signs this Loan Agreement and agrees to be legally bound by the Loan Agreement and the Loan Terms & Conditions.</li>
                    <li>	The Borrower and the Lender agree that WHS may serve documents and notices via electronic means to the email address provided during the application process. The Borrower and the Lender can email documents to WHS at <a href="mailto:support@wh.money">support@wh.money</a> and submit documents to WHS using the secure MarketPlace messaging service.</li>
                </ol>
            </li>
            <li>
                <h2>Repayment</h2>
                <ol>
                    <li>The Borrower agrees to pay the Lender the monthly repayment amount on the Scheduled Repayment Date without any deductions, set-off or counterclaim.</li>
                    <li>To satisfy the Borrower’s obligations under Clause 5.1, WHS will collect the monthly repayment amount from the Borrower by standing order and credit it to the Lender’s Wallet.</li>
                    <li>The Borrower agrees to pay the Borrower Fee on the Scheduled Repayment Date without any deductions, set-off or counterclaim. Where there is an upfront fee portion to the Borrower Fee this will be deducted from the Loan Amount and the remaining Borrower Fee will be deducted from Borrower instalments and paid into the WHS current bank account before the remaining instalment is distributed to the Lenders and Borrower Bonus Fund.</li>
                </ol>
            </li>
            <li>
                <h2>Right to cancel</h2>
                <ol>
                    <li>The Borrower has the right to cancel the Loan Agreement within 14 days beginning the day after the Borrower accepts the Loan Agreement and Loan Terms and Conditions. The Borrower can only cancel on a per entire loan basis and therefore cannot pick parts of a loan to cancel.</li>
                    <li>If the Borrower chooses to exercise their right of cancellation the Borrower must notify WHS of their intention to do so, either in writing to Wealth Harbour Services Ltd, 40 Occam Road, Surrey Research Park, Guildford, GU2 7YG, via email at <a href="mailto:support@wh.money">support@wh.money</a> or verbally by calling 020 3457 7558.</li>
                    <li>If the Borrower does cancel, a refund will be provided of any interest charges made by the Lender.</li>
                    <li>The Borrower must pay any interest which has accrued, from the date the loan was provided up until the date the Borrower repays within 30 calendar days after giving notice of your cancellation.</li>
                    <li>Repayment of the loan provided together with any accrued interest should be made by bank transfer into the WHS Trust Account.</li>
                </ol>
            </li>
            <li>
                <h2>Default and Late Payment</h2>
                <ol>
                    <li>If the Borrower misses a loan repayment or finds themselves in financial difficulties and the Borrower believes he/she cannot afford to repay the amount due under any of this Loan Agreement the Borrower should contact WHS as soon as possible by email to <a href="mailto:support@wh.money">support@wh.money</a>.</li>
                    <li>In the event the Borrower misses a loan repayment, the Borrower must pay a Late Payment Fee. The Borrower will also be required to pay other fees and charges set out under the “Interest and charges for late payment” paragraph above.</li>
                    <li>The Borrower must keep WHS and any collections agency informed of any change in address and any change in circumstances which may adversely impact the Borrower’s ability to repay the amount due under this Loan Agreement.</li>
                    <li>The Borrower agrees that WHS may, on behalf of the Lender, terminate this Loan Agreement and demand repayment of the full amount owed under the Loan Agreement if he/she is in breach of the Loan Agreement and/or these associated Loan Terms and Conditions.</li>
                    <li>Before making any demand WHS will take all the steps we are required to take by law.</li>
                </ol>
            </li>
            <li>
                <h2>Incentive Bonus Scheme</h2>
                <ol>
                    <li>
                        A total bonus equal to £601.10 will be earned and will be repaid to the Borrower’s Wallet by the bonus administrator from the Borrower Bonus Fund if the Borrower meets all of the following conditions:
                        <ol>
                            <li>The Borrower has an annual financial review with trained personnel provided by WHS at a time the Borrower selects, subject to available time slots, and</li>
                            <li>The Borrower makes all monthly repayments in full and on the dates specified in this Loan Agreement in each assessment year, and</li>
                            <li>The Borrower’s total level of debt decreases at each anniversary of this Loan Agreement. WHS will perform an annual credit check to ascertain this, and <b class="comment">[Delete if not applicable to WHS Loan Product] </b></li>
                            <li>The Borrower completes a minimum of two hours annually of online financial education training which will be provided by WHS. <b class="comment">[Delete if not applicable to WHS Loan Product]</b></li>
                        </ol>
                    </li>
                    <li>A proportion of the bonus will be earned annually if all the conditions in section 8.1 are met. The proportion of the bonus that can be earned annually will be equal to the total bonus divided by the number of years of the loan term. At the end of the loan term, the total earned bonus will be paid into the Borrower’s Wallet after the Borrower has repaid the final instalment.</li>
                </ol>
            </li>
            <li>
                <h2>Security</h2>
                <ol>
                    <li>In the event the Borrower’s Loan requires a Security to be held as collateral, the Borrower agrees that the Security will be held by WHS Security Trust Ltd “The Trust” for the benefit and on behalf of the Lenders that have lent you the money.</li>
                    <li>For the purpose of Clause 9.1 above, the Borrower agrees:
                        <ol>
                            <li>he/she will execute all the required Security Documents</li>
                            <li>he/she will execute the Security Documents as quickly as possible, but within 14 days of the loan being fully funded</li>
                            <li>he/she will execute the Security Documents in the presence of a Solicitor</li>
                            <li>he/she will indemnify and are responsible for costs in respect of taking Security for this Loan.</li>
                            <li>the Trust shall have authority to exercise full legal rights on behalf of the beneficiaries (Lenders).</li>
                            <li>The Security Documents means the Security Trust Deed executed on or around the date of this Loan Agreement between the Borrower and WHS Security Trust Ltd for the benefit of the Lenders in this Loan Agreement </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                <h2>Assignment</h2>
                <ol>
                    <li>The Borrower agrees that the Lender(s) may assign any right, title and interest in the Loan Agreement and Loan Terms and Conditions to any third party. </li>
                    <li>The Borrower’s rights and obligations under the Loan Agreement and Loan Terms and Conditions, should those rights and obligations be assigned by the Lender(s), will not be adversely affected.</li>
                    <li>The Borrower accepts that the Borrower is not entitled to assign the Loan Agreement or the Loan Terms and Conditions.</li>
                </ol>
            </li>
            <li>
                <h2>Miscellaneous</h2>
                <ol>
                    <li>The Loan Agreement and Loan Terms and Conditions are governed by law of England and Wales and the Courts of England and Wales will have exclusive jurisdiction in relation to all and any disputes arising from them, unless the Borrower lives in Scotland, Northern Ireland, the Channel Islands in which case WHS are required to commence legal proceedings in the Borrower’s local courts.</li>
                    <li>
                        The Lender and the Borrower acknowledge and agree that:
                        <ol>
                            <li>WHS can enforce any rights conferred on it by the Loan Agreement and the Loan Terms and Conditions notwithstanding that it is not a party to those agreements; and</li>
                            <li>WHS can exercise the rights conferred on the Lender by the Loan Agreement and the Loan Terms and Conditions as the Lender’s agent. </li>
                        </ol>
                    </li>
                    <li>Any waiver by either party of a breach of any clause or provision of these Loan Terms and Conditions and/or the Loan Agreement shall not be considered as waiver of any subsequent breach or any other provision.</li>
                    <li>If any term, clause or provision of the Loan Terms and Conditions and/or the Loan Agreement is found to be illegal, invalid or unenforceable and it is not fundamental to the Loan Agreement or the Loan Terms and Conditions (as the case may be), it will not render the remainder of the Loan Terms and Conditions and/or the Loan Agreement illegal, unenforceable or invalid.</li>
                    <li>The Borrower or the Lender can request a paper copy of the Loan Agreement and the Loan Terms and Conditions from WHS at any time.</li>
                    <li>All communication will be in English.</li>
                    <li>WHS on behalf of the Lenders may at WHS’s discretion serve documents and notices on the Borrower, directly or via a third party WHS may appoint, by post at the Borrowers last known address, on the Borrower personally or by email. Borrowers can serve documents and notices on the Lenders by post to WHS’s registered office address above or by email to <a href="mailto:support@wh.money">support@wh.money</a>.</li>
                </ol>
            </li>


        </ol>


    </div>

</body>

</html>
