<div class="container">
    <div class="section active">
        <h2>The api request rules:</h2>
        <ul>
            <li>parameters are sent in the request body in json format</li>
            <li>the header "Content-Type" must contain the "application/json" value</li>
            <li>the header "Auth" must present in every request excluding registration and login</li>
            <li>the structure of the header "Auth" is: "<strong>whs</strong><em>ATokenFromTheRegistrationOrLoginResponse</em>"</li>
        </ul>

        <h2>Response structure</h2>
        <pre>
            ResponseArray{
                status: success|error
                content: ContentArray[]
            }
        </pre>
        If the status is success, the ContentArray structure depends on an api method.
        If the status is error:
        <pre>
            ContentArray{
                parameterName: ErrorArray{
                    code: ErrorCode
                    message: ErrorMessage
                }
            }
        </pre>

        The 'parameterName' in the ContentArray[] is the name of an input parameter in an api method.<br/>
    </div>
</div>
