<div class="dialog">
  <h2 class="dialog__title">Verify Mobile Phone</h2>
  <form (submit)="checkCodeVerification()">
    <div class="dialog__form-content">
      <h1 class="dialog__header">Mobile: {{mobile_phone}}</h1>
      <md-input-container class="dialog__row">
        <input mdInput
               name="pin"
               placeholder="Enter PIN sent to your mobile"
               [(ngModel)]="code"
               (change)="errors.code = ''">
      </md-input-container>
      <div class="errorMessage"><span *ngIf="errors.code">{{errors.code}}</span></div>
    </div>

    <div class="dialog__verify-form-buttons">
      <button md-raised-button type="button" (click)="sendCodeVerification()">
        <i class="material-icons">replay</i>
        Re-send PIN
      </button>
      <button md-raised-button type="button" class="negative-btn" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="accent-btn">
        <i class="material-icons">thumb_up</i>
        Verify Mobile
      </button>
    </div>

  </form>
</div>
