@import "../../../css/_variables";

.dialog {
  &__form-content {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  &__row {
    display: block;
    width: 100%;
    margin-top: 2em;
  }

  &__title {
    margin: 0;
  }

  &__header {
    color: #2A78E4;
    text-align: center;
    font-weight: normal;
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  &__form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    width: 80%;
    margin-top: 55px;
  }

  &__verify-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    width: 100%;
    margin-top: 55px;
  }
}
