<div class="dialog">
  <h2 class="dialog__title">{{index === -1?'Add':'Update'}} Creditor / Debt details</h2>
  <form (submit)="addUpdateCreditLine()">
    <div class="dialog__form-content">
      <div class="dialog__row">
        <md-select class="dialog__field dropdown"
                   name="credittype"
                   placeholder="Type of Credit"
                   [(ngModel)]="credit_line.type"
                   (ngModelChange)="errors.type = ''">
          <md-option *ngFor="let opt of options" [value]="opt.code">{{opt.value}}</md-option>
        </md-select>
        <div class="errorMessage"><span *ngIf="errors.type">{{errors.type}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="creditorname"
                 placeholder="Creditor Name"
                 [(ngModel)]="credit_line.name"
                 (change)="errors.name = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.name">{{errors.name}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="creditlimit"
                 placeholder="OrigAmt Credit Limit"
                 [(ngModel)]="credit_line.credit_limit"
                 (change)="errors.creditLimit = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.creditLimit">{{errors.creditLimit}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="balanceinput"
                 placeholder="Balance Input"
                 [(ngModel)]="credit_line.balance_input"
                 (change)="errors.balanceInput = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.balanceInput">{{errors.balanceInput}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="interestrate"
                 placeholder="Interest Rate"
                 [(ngModel)]="credit_line.apr"
                 (change)="errors.apr = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.apr">{{errors.apr}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 type="number"
                 step="0.01"
                 name="monthlypayment"
                 placeholder="Monthly Payment"
                 [(ngModel)]="credit_line.monthly_payment"
                 (change)="errors.monthlyPayment = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.monthlyPayment">{{errors.monthlyPayment}}</span></div>
      </div>
    </div>


    <div class="dialog__form-buttons" *ngIf="index === -1">
      <button md-raised-button type="button" class="negative-btn" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Add
      </button>
    </div>

    <div class="dialog__form-buttons" *ngIf="index !== -1">
      <button md-raised-button type="button" class="negative-btn" (click)="deleteCreditLine(index)">
        <i class="material-icons">delete</i>
        Delete
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Update
      </button>
    </div>

  </form>
</div>
