@import "../../../css/_variables";

.dialog__form-content {
  width: 90%;
  margin: 2em auto 0;
  max-height: 310px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 2px solid #f1f1f1;
  border-top: 2px solid #f1f1f1;
}

.dialog__title {
  margin: 0;
}

.dialog__row {
  display: block;
  width: 98%;
  margin-top: 2em;

  &:first-child {
    margin-top: 1em;
  }

  &:last-child {
    margin-bottom: 1em;
  }
}

.dropdown {
  margin-top: 9px;
  margin-bottom: 11px;
}

.dialog__field {
  width: 100%;
}

.dialog__checkbox-row {
  margin: 0.5em 0;
}

.dialog__radio-row {
  display: flex;
  align-items: center;

  label {
    padding-right: 20px;
  }
}

.radio-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

md-radio-button {
  margin-right: 20px;
}

/deep/.md-radio-label-content {
  position: relative;
  top: -0.1em;
}


.dialog__form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  width: 80%;
}
