@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;
}
.main-header {
  text-align: center;
}

.info {
  &-container {
    background-color: white;
    position: relative;
    padding: 20px;
    border-top: 2px solid black;
    margin-bottom: 30px;
  }

  &-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-item {
    width: 300px;
    margin: 0 20px;

    .value {
      color: $primary-color;
      font-size: 2em;
      text-align: center;
      margin: 0;
    }

    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }
}

.row {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 95%;
  margin: 50px auto;

  .field {
    margin-right: 5%;
    width: 30%;
    max-width: 400px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.table-title {
  margin-bottom: 2em;
  padding: 0;
}

.table-container {
  box-sizing: border-box;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 0 1em;
  padding-right: 20px;
  padding-left: 20px;
}

.table {
  margin-right: auto;
  margin-left: auto;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
}

.calculate {
  &-title {
    margin-left: 30px;
    margin-bottom: 1em;
    font-size: 1.6rem;
    color: $accent-color;
  }

  &-information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .value {
      color: $primary-color;
      font-size: 2em;
      text-align: center;
      margin: 0;
    }

    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }

  &-item {
    box-sizing: border-box;
    width: 25%;
    padding: 0 20px;
    min-width: 220px;
  }
}

md-dialog-actions {
  padding-left: 8px;
}

button:first-child {
  margin-left: 0;
}
.no-margin {
  margin-bottom: 0;
}
.description {
  margin: 5px 0 15px 30px;
}
