<div class="content-container">
  <h2 class="main-header">Please provide additional information for your Loan Application.</h2>

  <h3 class="info-header">Your Current Creditor/Debt Summary</h3>
  <div class="info-box">
    <div class="info-item">
      <h3 class="value">
        {{totalOwe | currency:'GBP':true:'.0-2'}}
      </h3>
      <p class="label">Total Credit Balance</p>
    </div>
    <div class="info-item">
      <h3 class="value">
        {{totalMonthly | currency:'GBP':true:'.0-2'}}
      </h3>
      <p class="label">Total Monthly Payment</p>
    </div>
  </div>
</div>

<form (submit)="onSubmit()">

  <div class="section" *ngIf="credit_lines.length">
    <h3 class="table-title content-container no-margin">Your creditor / Debt Details</h3>
    <div class="description">
      IMPORTANT: You must ensure that this information is complete and accurate. Any missed or incorrect credit/debt information will adversely affect your loan application.
    </div>
    <div class="table-container">
      <table class="table">

        <tr>
          <th class="table__header-cell">Type of Credit</th>
          <th class="table__header-cell">Creditor Name</th>
          <th class="table__header-cell">OrigAmt Credit Limit</th>
          <th class="table__header-cell">Balance Input</th>
          <th class="table__header-cell">Interest Rate</th>
          <th class="table__header-cell">Total Monthly Payment</th>
          <th class="table__header-cell">Total Interest</th>
          <th class="table__header-cell">Total to repay</th>
          <th class="table__header-cell">Months to Clear</th>
        </tr>

        <tr class="table__row" *ngFor="let item of credit_lines" (click)="editCreditLine(item)">
          <td class="table__cell">{{ getCreditType(item.type) }}</td>
          <td class="table__cell">{{ item.name }}</td>
          <td class="table__cell">{{ item.credit_limit | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.balance_input | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.apr/100 | percent:'.0-2' }}</td>
          <td class="table__cell">{{ item.monthly_payment | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.total_interest | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.total_repaid | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.total_months_to_clear }}</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="button-section content-container">
    <button md-raised-button type="button" (click)="back()">
      <i class="material-icons">arrow_back</i>
      Back
    </button>
    <button md-raised-button type="button" class="positive-btn" (click)="showCreditLinePopup()">
      <i class="material-icons">add</i>
      Add Credit / Debt Details
    </button>
    <button md-raised-button type="submit" class="positive-btn" color="primary" [disabled]="!credit_lines.length">
      <i class="material-icons">arrow_forward</i>
      Next
    </button>
  </div>

  <md-divider></md-divider>
  <div class="calculate-section content-container">
    <h2 class="calculate-title">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - SUCCESS</h2>
    <div class="calculate-information">
      <div class="calculate-item" *ngIf="quote.amount">
        <h3 class="value">
          {{quote.amount | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Loan Amount</p>
      </div>
      <div class="calculate-item" *ngIf="quote.monthly_payment">
        <h3 class="value">
          {{quote.monthly_payment | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
      <div class="calculate-item" *ngIf="quote.term">
        <h3 class="value">
          {{quote.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
      <div class="calculate-item" *ngIf="quote.rate">
        <h3 class="value">
          {{quote.contract_rate/100 | percent:'.0-2'}}
        </h3>
        <p class="label">Contract Rate</p>
      </div>
    </div>
  </div>
</form>
