<div class="b-registration">

  <div class="b-registration__description">
      <h2>
        Thank you for choosing Wealth Harbour.<br/>
      </h2>

      <p>
        As a first step towards applying for a personal unsecured loan with us,
        we can provide you with a quick and easy quote catered to your needs.
        This quote is obligation free and leaves no footprint on your credit file,
        it's about seeing if Wealth Harbour is the right fit for you.<br/><br/>
        Firstly, tell us how much you would like to borrow and how long you would like the loan for.
      </p>
  </div>


  <div class="use-keyboard">You can click on the slider to get in the area of the value you would like, then use the
    left and right arrow keys to get the exact value you want.
  </div>
  <form (submit)="onSubmit()">

    <div class="form-content">

      <div class="b-registration__field">
        <label class="b-registration__label">Loan amount - {{model.amount | currency:'GBP':true:'.0-2'}}</label>
        <div class="b-registration__slider">
          <div class="b-registration__slider-inner">
          <md-slider class="slider"
                     name="amount"
                     [step]="slider.amount.step"
                     [min]="slider.amount.min"
                     [max]="slider.amount.max"
                     [(ngModel)]="model.amount"
                     (change)="getBaseLoanProperties()"></md-slider>
          </div>
          <input (change)="getBaseLoanProperties()" name="amount" [(ngModel)]="model.amount" class="additionalInput" type="number">
        </div>
        <div class="b-registration__field-description">
          This is the amount you would like to borrow.
        </div>
      </div>

      <div class="b-registration__field">
        <label class="b-registration__label">Loan Term - {{model.term}} months</label>
        <div class="b-registration__slider">
          <div class="b-registration__slider-inner">
            <md-slider class="slider"
                       name="term"
                       [step]="slider.term.step"
                       [min]="slider.term.min"
                       [max]="slider.term.max"
                       [(ngModel)]="model.term"
                       (change)="getBaseLoanProperties()"></md-slider>
          </div>
        </div>
        <div class="b-registration__field-description">
          This is how long (in months) you would like to borrow for.
        </div>
      </div>

      <div class="b-calculate">
        <div class="b-calculate-item" *ngIf="props.monthly_payment">
          <h3 class="b-calculate__value">
            {{props.monthly_payment | currency:'GBP':true:'.0-2'}}
          </h3>
          <p class="b-calculate__label">Monthly Payment</p>
        </div>
        <div class="b-calculate-item" *ngIf="props.total_payment">
          <h3 class="b-calculate__value">
            {{props.total_payment | currency:'GBP':true:'.0-2'}}
          </h3>
          <p class="b-calculate__label">Total you will pay back</p>
        </div>
        <div class="b-calculate-item" *ngIf="props.interest_rate">
          <h3 class="b-calculate__value">
            {{props.contract_rate/100 | percent:'.0-2'}}
          </h3>
          <p class="b-calculate__label">Contract Rate</p>
        </div>
      </div>

      <p class="text-block">
        Example: A loan of £9400 paid over 36 months will cost you £309.69 per month at a representative rate of 7.20%.
        The total cost after 36 months is £10,943.64, which is the net amount after receiving your cash bonus of
        £204.84. The total cost includes all fees and interest at 5.95%. The total amount of credit is £10,000.
      </p>

    </div>

    <div class="form-buttons">
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">arrow_forward</i> Next
      </button>
    </div>

  </form>

</div>
