@import "../../../css/_variables";
/*
.content-container {
  width: 95%;
  max-width: 1000px;

  .main-header {
    text-align: center;
  }

  .form-content {
    width: 80%;
    margin: 0 auto;
  }

  .slider {
    margin-bottom: 2em;
    &-label {
      display: block;
      font-size: 1.6em;
      color: $secondary-text-color;
      margin-left: 20px;
      margin-bottom: -5px;
    }
  }

  .calculate {
    &-information {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 2em;
      .value {
        color: $primary-color;
        font-size: 2em;
        text-align: center;
        margin: 0;
      }
      .label {
        text-align: center;
        font-weight: normal;
        color: $secondary-text-color;
        font-size: 1.2em;
      }
    }
    &-item {
      flex-basis: 30%;
      margin: 0 20px;
    }
  }


  .form-buttons {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    margin: 50px auto 35px;
    width: 40%;
    max-width: 300px;

    .positive-btn.md-primary {
      float: right;
    }
  }
  md-slider.slider {
    margin-bottom: 0;
  }
  .quote-description {
    color: #a6a6a6;
    margin-bottom: 2em;
  }
}

h3 {
  font-weight: 300;
}

@media only screen and (max-width : 480px) {
  .container {
    .form-content,
    .form-buttons {
      width: 90%;
    }
  }
}
*/
