<div class="content-container">
  <h2 class="main-header">View XML</h2>

  <md-tab-group>
    <md-tab *ngFor="let item of xmlStringList; let i = index" [label]="tabTitles[i]">
      <div class="section">
        <pre>{{item}}</pre>
      </div>
    </md-tab>
  </md-tab-group>

  <div class="button-section">
    <button md-raised-button type="button" class="positive-btn" (click)="goToDashboard()">
      Go to Dashboard
    </button>
  </div>

</div>

