@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1550px;
}

.button-section {
  display: flex;
  justify-content: center;
}

.button {
  display: block;
  font-size: 1.4em;
  height: 2em;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

