@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 600px;

  .main-header {
    text-align: center;
  }

  .form-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }

  .slider {
    &-label {
      display: block;
      font-size: 1.3em;
      color: $secondary-text-color;
      margin-left: 10px;
      margin-bottom: -10px;
    }
  }

  .select {
    margin-top: 30px;
  }

  .field {
    display: block;
    margin-top: 2em;
    width: 70%;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 35px;
    width: 60%;
    max-width: 300px;
  }
}
.description {
  &.option {
    margin-top: 16px;
  }
}
@media only screen and (max-width : 480px) {
  .container {
    .form-content,
    .form-buttons {
      width: 90%;
    }
  }
}
