.b-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  font-family: $font;
}

.b-tabs {
  font-family: $font;
  padding: 0;
  display: flex;
  margin: 40px 0 20px;
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.12);

  &__btn {
    font-family: $font;
    margin: 0 7px;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    padding: 0.8em 1em;
    border: none;
    border-radius: 4px 4px 0 0;

    &:hover {
      background: rgba(0,0,0,0.06);
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &.active {
      box-shadow: inset 0 -4px 0 0px;
      background: rgba(0,0,0,0.06);
      &:hover {
        background: rgba(0,0,0,0.12);
      }
    }

    &.disabled {
      opacity: 0.4;
    }

  }
}

.b-html-wrapper {
  background: #ffffff;
  margin: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.12);
  padding: 1rem 2rem;
  border-radius: 4px;
  display: flex;

  &__controls {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    text-align: right;
    padding-left: 2rem;
    margin-left: auto;
    white-space: nowrap;
  }

  &__content {
    margin-top: 20px;
    width: 90%;
  }

  hr:last-child,
  hr:first-child {
    border: none;
  }
}

.b-table {
 // &--margin {
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 16px);
//  }
  &-header {
    th {
      background: rgba(0, 0, 0, 0.08);
      border-top: none;
    }
    th:first-child {
      border-radius: 4px 0 0 0;
    }
    th:last-child {
      border-radius: 0 4px 0 0;
    }
  }
  &__cell {
    &-sort {
      position: relative;
      transition: 0.3s ease background;
      &:after {
        position: absolute;
        right: 15px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid #0A152C;
        top: 50%!important;
        margin-top: -5px;
        opacity: 0;
        transition: 0.3s ease opacity;
      }
      &.sort:after,
      &.sort-desc:after {
        opacity: 1;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.12);
        &:after {
          opacity: 0.8;
        }
      }
    }
  }

  a {
    cursor: pointer;
  }
}

.c-user-card {
  background: #ffffff;
  border-radius: 2px;
  margin: 8px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  overflow: hidden;

  &__header {
    background: rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0,0,0,0.12);
    font-weight: 600;
    text-overflow: ellipsis;
    text-align: left;
    box-sizing: border-box;
    padding: .75rem;
    vertical-align: top;
    h2 {
      margin: 0;
    }
  }

  &__content {
    padding: .75rem;

    .b-table {
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      th {
        border-top: none;
      }
      tr:last-child td {
        border-bottom: none;
      }
    }

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.12);

    &-title {
      font-weight: bold;
      margin: 0.75em 0;
    }
    &-data {

    }
    &--no-border,
    &:last-child {
      border: none;
    }
  }

  &__footer {
    padding: 0.75em;
    border-top: 1px solid rgba(0,0,0,0.12);
    &-buttons {
      text-align: right;
    }
  }
}

.c-user-status {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0.75rem 1rem;

  h3 {
    line-height: 26px;
    margin: 0 0.25em;
  }

  &__data {
    text-align: right;
    font-weight: bold;
    line-height: 26px;
    a {
      text-decoration: none;
      font-weight: normal;
    }
  }


  &-success,
  &-error,
  &-new,
  &-pending {
    margin-bottom: 5px;
    padding-right: 7px;
    border-radius: 4px;
    .fa {
      margin-left: 7px;
      color: inherit!important;
      margin-right: 3px;
      font-size: 0.9em;
    }
  }

  &-success {
    color: $success-accent-color;
    background: rgba($success-accent-color, 0.2);
  }
  &-error {
    color: $negative-accent-color;
    background: rgba($negative-accent-color, 0.3);
  }
  &-new {
    color: $secondary-text-color;
    background: rgba($secondary-text-color, 0.3);
  }
  &-pending {
    color: $orange-accent-color;
    background: rgba($orange-accent-color, 0.3);
  }


  &__date {
    font-weight: bold;
    margin-left: 6%;
  }
}
