<div class="dialog">
  <div class="c-user-card">
    <div class="c-user-card__content">
      <table class="b-table table">
        <tr>
          <th class="table__header-cell">
            <div>Loan ID</div>
            {{data.loan_id}}

          </th>
          <th class="table__header-cell">
            <div>Loan Amount</div>
            {{data.loan_amount | currency:'GBP':true:'.0-2'}}
          </th>
          <th class="table__header-cell">
            <div>Term</div>
            {{data.loan_term}}
          </th>
        </tr>
        <tr>
          <th class="table__header-cell">
            <div>Activation Date</div>
            {{convertDateForDisplay(data.activation_date)}}
          </th>
          <th class="table__header-cell">
            <div>Monthly Payment</div>
            {{data.monthly_payment | currency:'GBP':true:'.0-2'}}
          </th>
          <th class="table__header-cell">
            <div>Total you repay</div>
            {{data.total_you_repay | currency:'GBP':true:'.0-2'}}
          </th>
        </tr>
        <tr>
          <th class="table__header-cell">
            <div>Bonus Rate</div>
            {{data.bonus_rate/100 | percent:'.0-2' }}
          </th>
          <th class="table__header-cell">
            <div>Broker Fee</div>
            {{data.broker_fee | currency:'GBP':true:'.0-2'}}
          </th>
          <th class="table__header-cell">
            <div>Bonus Amount</div>
            {{data.bonus_amount | currency:'GBP':true:'.0-2'}}
          </th>
        </tr>
        <tr>
          <th class="table__header-cell">
            <div>Contract Rate</div>
            {{data.contract_rate/100 | percent:'.0-2' }}
          </th>
          <th class="table__header-cell">
            <div>Cost of Credit</div>
            {{data.cost_of_credit | currency:'GBP':true:'.0-2'}}
          </th>
          <th class="table__header-cell">
            <div>Payment Day</div>
            {{data.payment_day}}
          </th>
        </tr>
      </table>
    </div>
  </div>
  <!--<div class="dialog__form-buttons">
    <button type="submit" class="btn btn-sm btn-success" (click)="dialogRef.close({confirm: true, comment: textarea.value})">Accept</button>
    <button type="submit" class="btn btn-sm btn-danger" (click)="dialogRef.close({confirm: false})">Cancel</button>
  </div>-->
</div>