<div class="content-container content-container_stylized" [ngClass]="{'content-container_narrow': !addresses.length}" id="popupContainer">
  <div class="header-line"></div>
  <h2 class="main-header">Let us know where you currently live</h2>
  <h3>
    We will need this to verify who you are and establish your credit history. We will need you to provide at least 5-years of address history in the UK. Start by adding the address you live in now, and if needed, previous addresses going back in order of time.
  </h3>
  <form (submit)="onSubmit()">
    <div class="form-content">

      <div class="field-section"  *ngIf="!addresses.length">
        <form (submit)="addFirstAddress()">
          <div class="field-section__content">

            <my-autocomplete [searchStr]="searchStr" [errors]="errors"></my-autocomplete>

            <div class="field-section__row">
              <div class="date-select-wrap">
                <md-select class="date-select"
                           name="month"
                           placeholder="Month of move"
                           [(ngModel)]="month"
                           (ngModelChange)="errors.moved = ''">
                  <md-option *ngFor="let item of months" [value]="item">{{item}}</md-option>
                </md-select>
                <md-select class="date-select"
                           name="year"
                           placeholder="Year of move"
                           [(ngModel)]="year"
                           (ngModelChange)="errors.moved = ''">
                  <md-option *ngFor="let item of years" [value]="item">{{item}}</md-option>
                </md-select>
              </div>
              <div class="errorMessage"><span *ngIf="errors.moved">{{errors.moved}}</span></div>
            </div>

            <div class="field-section__buttons">
              <button md-raised-button type="submit" class="positive-btn add-btn">
                <i class="material-icons">add</i>
                Add
              </button>
            </div>

          </div>
        </form>
      </div>

      <div class="table-section" *ngIf="addresses.length">
        <div class="table-wrap">
          <table class="table table_stretched">

              <tr>
                <th class="table__header-cell">Address</th>
                <th class="table__header-cell">Current</th>
                <th class="table__header-cell">Moved In</th>
              </tr>

              <tr class="table__row" *ngFor="let address of addresses; let index = index" (click)="editAddress(address)" style="cursor: pointer;">
                <td class="table__cell">
                  {{ address.street }}
                  {{ address.building_number }},
                  {{ address.city }},
                  {{ address.country }}
                </td>
                <td class="table__cell">{{ index === 0 ? 'Y' : 'N' }}</td>
                <td class="table__cell">{{ convertDateForDisplay(address.moved) }}</td>
              </tr>

          </table>
          <div class="errorMessage"><span *ngIf="errors.movedPeriod">{{errors.movedPeriod}}</span></div>
        </div>
        <div class="table__buttons">
          <button md-raised-button type="button" (click)="openAddressModal()" class="positive-btn add-btn">
            <i class="material-icons">add</i>
            Add
          </button>
        </div>
      </div>

      <md-checkbox class="checkbox" name="comms" [(ngModel)]="comms" (change)="setPreferences(comms)">
        I don't wish to receive comms from WH
      </md-checkbox>
      <div class="terms-of-use">
        <app-terms-of-use></app-terms-of-use>
      </div>
      <md-checkbox class="checkbox" name="terms" [checked]="false" [(ngModel)]="terms">
        I accept WH Terms & Conditions
      </md-checkbox>
    </div>

    <div class="form-buttons">
      <button md-raised-button type="button" (click)="back()" style="float: left">
        <i class="material-icons">arrow_back</i>
        Back
      </button>
      <button md-raised-button type="submit" class="positive-btn" style="float: right" [disabled]="!addresses.length || !terms">
        <i class="material-icons">arrow_forward</i>
        Next
      </button>
    </div>
  </form>
</div>
