@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 800px;

  &_narrow {
    max-width: 500px;
  }
}

.main-header {
  text-align: center;
}

.form-content {
  width: 80%;
  margin: 0 auto;
}

.table-wrap {
  overflow-y: auto;
}

.table__buttons {
  margin-top: 20px;
  margin-bottom: 30px;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
  button {
    float: right;
  }
}

.field-section {

  &__content {
    margin: auto;
  }

  &__row {
    display: block;
    margin-top: 2em;
  }

  &__field {
    display: block;
    width: 100%;
  }
}

.table__buttons,
.field-section__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 3em;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 300px;
}

.checkbox {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.terms-of-use {
  height:150px;
  overflow: auto;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
}

h3 {
  font-weight: 300;
}
@media only screen and (max-width: 480px) {
  .container {
    .form-content {
      width: 97%;
    }
    .form-buttons {
      width: 90%;
    }
  }
}
