.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
  }
}
.text-center {
  text-align: center;
}
a {
  color: inherit;
}
.offer-description {
  padding: 5px 15px 0 15px;
  font-size: 15px;
}