<div class="c-user-card" *ngIf="data.ISA">
  <div class="c-user-card__header">
    <h2>My Portfolio</h2>
  </div>
  <div class="offer-description">
    As an investor you have opportunity to invest using different tax-incentive schemes which we will continue to add from time to time. Currently, you can invest using ISA (Innovative Finance Individual Savings Account) and SIPP (Self-Invested Personal Pension). If you are not using these tax-incentive schemes, your investment will be "General" by default.<br /><br />
    The table below shows your investment portfolio with us. Here is what each column represents:
    <ul>
      <li><b>Total Amount</b> - adds up Outstanding Loan, Offers Pending and Cash Available</li>
      <li><b>Cash Available</b> - this is the cash that is available for you to either withdraw or create an offer to invest in new loans</li>
      <li><b>Offers Pending</b> - this is the balance from all your offers that are not fully matched to active loans</li>
      <li><b>Interest Earned</b> - this is the cumulative interest that you have earned on all your loans up to now</li>
      <li><b>Outstanding Loan</b> - this is the amount that is outstanding on active loans, you will be earning interest on this amount</li>
    </ul>
  </div>
  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
        </th>
        <th class="table__header-cell">
          Total Amount
        </th>
        <th class="table__header-cell">
          Cash Available
        </th>
        <th class="table__header-cell">
          Offer Pending
        </th>
        <th class="table__header-cell">
          Interest Earned
        </th>
        <th class="table__header-cell">
          Outstanding Loan
        </th>
      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">ISA</td>
        <td class="table__cell">{{data.ISA.portfolio_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.cash_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.offer_pending | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.interest_earned | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.outstanding_loans | currency:'GBP':true:'.0-2'}}</td>
      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">General</td>
        <td class="table__cell">{{data.GEN.portfolio_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.cash_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.offer_pending | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.interest_earned | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.outstanding_loans | currency:'GBP':true:'.0-2'}}</td>
      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">SIPP</td>
        <td class="table__cell">{{data.SIPP.portfolio_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.cash_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.offer_pending | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.interest_earned | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.outstanding_loans | currency:'GBP':true:'.0-2'}}</td>
      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">Total</td>
        <td class="table__cell"><b>{{(data.ISA.portfolio_amount + data.GEN.portfolio_amount+ data.SIPP.portfolio_amount) | currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.cash_amount + data.GEN.cash_amount + data.SIPP.cash_amount) | currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.offer_pending + data.GEN.offer_pending + data.SIPP.offer_pending) | currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.interest_earned + data.GEN.interest_earned +data.SIPP.interest_earned) | currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.outstanding_loans + data.GEN.outstanding_loans + data.SIPP.outstanding_loans) | currency:'GBP':true:'.0-2'}}</b></td>
      </tr>
      <tr class="table__body-tr">
        <td colspan="6" class="table__cell">
          <div class="text-center">
            <a [routerLink]="['/portal/create_offer']">Create Offer</a> -
            <a (click)="withdraw(data)">Withdraw Funds</a> -
            <a [routerLink]="['/portal/offer-list']">View Offers</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="c-user-card">
  <div class="c-user-card__header">
    <h2>My Opportunities</h2>
  </div>
  <div class="offer-description">
    We want your money to work hard for you. The table below let's you know what opportunities are available for you to earn if you decided to create new offers using your Cash Available. The "What you will get back" column shows you the amount of capital and interest you may get back if your Cash Available was lent out to borrowers in each of the available pools.<br /><br />
  </div>
  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
          Term Up to
        </th>
        <th class="table__header-cell">
          Loans Available
        </th>
        <th class="table__header-cell">
          Rate Up to
        </th>
        <th class="table__header-cell">
          What you get back
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let opportunity of opportunities">
        <td class="table__cell">{{opportunity.term_up}}</td>
        <td class="table__cell">{{opportunity.amount_available | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{opportunity.rate_up /100 | percent:'.0-2'}}</td>
        <td class="table__cell">{{opportunity.get_back | currency:'GBP':true:'.0-2'}}</td>
      </tr>
    </table>
  </div>
</div>