<div class="b-registration">
  <div class="b-registration__description">
    <h2 class="main-header">Please take a moment to check over your finances.</h2>
  </div>

  <div class="use-keyboard pb-4">You can click on the slider to get in the area of the value you would like, then use the left and right arrow keys to get the exact value you want.</div>

  <form (submit)="onSubmit()">
    <div class="form-content">

      <div class="b-registration__field pb-2">
        <label class="b-registration__label">Total Gross Annual Income - {{model.total_gross_annual | currency:'GBP':true:'.0-2'}}</label>

        <div class="b-registration__slider">
          <div class="b-registration__slider-inner">
            <md-slider name="total_gross_annual"
                       [(ngModel)]="model.total_gross_annual"
                       class="slider"
                       [step]="slider.total_gross_annual.step"
                       [min]="slider.total_gross_annual.min"
                       [max]="slider.total_gross_annual.max"></md-slider>
          </div>
          <input (change)="getTotalGrossAnnual()" name="total_gross_annual" [(ngModel)]="model.total_gross_annual" class="additionalInput" type="number">
        </div>
        <div class="b-registration__field-description">
          This is how much you earn before tax in a year.
        </div>
      </div>


      <div class="b-registration__field  d-flex justify-content-center">
        <div class="b-registration__field-select w-25 mr-5">
          <md-select name="main_source"
                     placeholder="Main source of income"
                     [(ngModel)]="model.main_source"
                     (ngModelChange)="errors.mainIncomeSource = ''">
            <md-option *ngFor="let opt of options" [value]="opt">{{opt}}</md-option>
          </md-select>
          <div class="errorMessage"><span *ngIf="errors.mainIncomeSource">{{errors.mainIncomeSource}}</span></div>
        </div>
        <div class="b-registration__field-description w-50 mt-2">
          How do you earn the largest portion of your Total Gross Annual Income?
        </div>
      </div>

      <div class="b-registration__field d-flex justify-content-center">
        <div class="w-25 mr-5">
          <md-input-container class="field">
            <input mdInput
                   name="accname"
                   placeholder="Name of Bank Account"
                   [(ngModel)]="bankDetails.bank_account_name"
                   (change)="errors.bankAccountName = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.bankAccountName">{{errors.bankAccountName}}</span></div>
        </div>
        <div class="b-registration__field-description w-50 mt-2">
          This is name of your Bank Account.
        </div>
      </div>

      <div class="b-registration__field d-flex justify-content-center">
        <div class="w-25 mr-5">
          <md-input-container class="field">
            <input mdInput
                   name="bankcode"
                   placeholder="Bank Code"
                   [(ngModel)]="bankDetails.bank_sort_code"
                   (change)="errors.bankSortCode = ''"
                    maxlength="6">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.bankSortCode">{{errors.bankSortCode}}</span></div>
        </div>
        <div class="b-registration__field-description w-50 mt-2">
          This is your Bank Sort Code.
        </div>
      </div>

      <div class="b-registration__field d-flex justify-content-center">
        <div class=" w-25 mr-5">
          <md-input-container class="field">
            <input mdInput
                   name="accountnumber"
                   placeholder="Bank Account Number"
                   [(ngModel)]="bankDetails.bank_account_number"
                   (change)="errors.bankAccountNumber = ''"
                   maxlength="12">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.bankAccountNumber">{{errors.bankAccountNumber}}</span></div>
        </div>
        <div class="b-registration__field-description  w-50 mt-2">
          This is your main current account that we will use when working with you.
        </div>
      </div>

    </div>

    <div class="form-buttons">
      <button md-raised-button type="button" (click)="back()"><i class="material-icons">arrow_back</i> Back</button>
      <button md-raised-button class="positive-btn"><i class="material-icons">arrow_forward</i> Next</button>
    </div>

  </form>
</div>
