@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;
}

.md-data-table,
.md-data-table th {
  font-size: 1rem;
  color: $primary-text-color;
}

.table-section {
  width: 100%;
  overflow-y: auto;
  margin: 0 0 3em;
}

      // sucsesful state styles

.calculate {
  margin-left: 30px;
  &-text {
    font-size: 18px;
    line-height: 22px;
  }
  &-title {
    font-size: 1.8rem;
    color: $accent-color;
  }
  &-information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .value {
      color: $primary-color;
      font-size: 3em;
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }
  &-item {
    box-sizing: border-box;
    width: 33%;
    margin: 0;
    padding: 0 20px;
    min-width: 220px;
  }
}

.flex-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.two-column-text {
  width: 65%;
  margin-left: 30px;
}


.button-box {
  margin-top: 16px;
  width: 30%;
}

@media (max-width: 1050px) {
  .flex-block {
    flex-direction: column;
  }

  .two-column-text {
    width: 100%;
  }

  .button-box {
    margin: auto;
    width: 100%;
  }
}

.button {
  display: block;
  font-size: 1.4em;
  height: 2em;
  margin: 0 auto;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
