<div class="content-container">

  <div class="calculate">
    <p *ngIf="user.first_name" class="calculate-text">
      Dear <strong>{{ user.first_name}}</strong>.<br />
      Thank you for choosing Wealth Harbour. We have accepted your quotation, and you can find your results below.
    </p>
    <div class="calculate-title">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - SUCCESS</div>

    <div class="calculate-information">
      <div class="calculate-item" *ngIf="model.loan_amount">
        <h3 class="value">
          {{model.loan_amount | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Loan Amount</p>
      </div>
      <div class="calculate-item" *ngIf="model.monthly">
        <h3 class="value">
          {{model.monthly | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
      <div class="calculate-item" *ngIf="model.total_repaid">
        <h3 class="value">
          {{model.total_repaid | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Total you will Repay</p>
      </div>
      <div class="calculate-item" *ngIf="model.apr">
        <h3 class="value">
          {{model.apr/100 | percent:'.0-2'}}
        </h3>
        <p class="label">Contract Rate</p>
      </div>
      <div class="calculate-item" *ngIf="model.bonus_amount">
        <h3 class="value">
          {{model.bonus_amount | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Incentive Bonus</p>
      </div>
      <div class="calculate-item" *ngIf="model.term">
        <h3 class="value">
          {{model.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
    </div>
  </div>

  <div class="flex-block">
    <p class="two-column-text">
      To proceed with your loan, we require some more information to support your application. As part of your application we will also run a full credit check.
    </p>
    <div class="button-box">
      <button md-raised-button type="submit" class="positive-btn button" (click)="goToLoan()">
        <i class="material-icons">arrow_forward</i>
        Proceed with Loan
      </button>
      <button md-raised-button type="button" class="button">
        <i class="material-icons">call</i>
        Request Call Back
      </button>
    </div>
  </div>

</div>

