<section class="border-block__section">
  <div class="c-user-card__header">
    <h2>Finances</h2>
  </div>
  <table class="table" *ngIf="credit_lines.length">
    <tr>
      <th class="table__header-cell">
        Transaction ID
      </th>
      <th class="table__header-cell">
        Customer ID
      </th>
      <th class="table__header-cell">
        Customer Name
      </th>
      <th class="table__header-cell">
        LoanApplyID
      </th>
      <th class="table__header-cell">
        EventID
      </th>
      <th class="table__header-cell">
        TransactionAmt
      </th>
      <th class="table__header-cell">
        TransactionCCY
      </th>
      <th class="table__header-cell">
        Action
      </th>
    </tr>

    <tr class="table__body-tr" *ngFor="let credit of credit_lines">
      <td class="table__cell">{{ credit.transaction_id }}</td>
      <td class="table__cell">{{ credit.customer_id }}</td>
      <td class="table__cell">{{ credit.customer_name}}</td>
      <td class="table__cell">{{ credit.loan_apply_id}}</td>
      <td class="table__cell">{{ credit.event_id }}</td>
      <td class="table__cell">{{ credit.transaction_amt | currency:'GBP':true:'.2' }}</td>
      <td class="table__cell">{{ credit.transaction_c_c_y }}</td>
      <td class="table__cell"><button (click)="pay(credit.transaction_id)" class="btn">Pay</button></td>
    </tr>
  </table>
</section>
