@import "../../../css/_variables";

.dialog__form-content {
  width: 50%;
  padding: 0 5% 10px;
  overflow: hidden;
  float:left;
  box-sizing: border-box;
}

.dialog__title {
  margin: 0;
}

.dialog__content-header {
  color: darken($primary-color, 20%)
}

.dialog__field {
  width: 100%;
}

.dialog__checkbox-row {
  margin: 1em 0 0;
}

.dialog__radio-row {
  display: flex;
  align-items: center;

  label {
    padding-right: 20px;
  }
}

.radio-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
md-radio-button {
  margin-right: 20px;
}

/deep/ .md-radio-label-content {
  position: relative;
  top: -0.1em;
}

/deep/ .mat-input-wrapper {
  margin-top: 0;
}

.dialog__form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 0;
  width: 80%;
}
.terms-of-use {
  height: 290px;
  overflow: auto;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
}