<div class="dialog">
  <h2 class="dialog__title">Confirm Your Investment</h2>
  <form (submit)="onSubmit()">
    <h2 class="dialog__content-header">I am investing {{investment.investment_amount | currency:'GBP':true:'.2'}}
      in a {{OFFER_TYPE_CODE[investment.investment_type]}}
      Account on a {{OFFER_FREQUENCY_CODE[investment.investment_frequency]}}
      Basis at a return of {{invest_rates[investment.term]}}% and will receive my payout at the end of the Fixed Term</h2>
    <div class="dialog__form-content">
      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="investment_name"
                 placeholder="Enter Investment Offer Name"
                 [(ngModel)]="model.investment_name"
                 (change)="errors.investment_name = ''">
        </md-input-container>
        <div class="errorMessage" *ngIf="errors.investment_name"><span>{{errors.investment_name}}</span></div>
      </div>
      <div class="dialog__checkbox-row">
        <md-checkbox color="primary" name="confirm_invest" [checked]="false" [(ngModel)]="model.confirm_invest">
          I confirm my investment
        </md-checkbox>
      </div>

      <div class="dialog__checkbox-row">
        <md-checkbox color="primary" name="risk_confirm" [checked]="false" [(ngModel)]="model.risk_confirm">
          I have read & understood the risk
        </md-checkbox>
      </div>

      <div class="dialog__checkbox-row">
        <md-checkbox color="primary" name="accept_terms" [checked]="false" [(ngModel)]="model.accept_terms">
          I accept WH Terms & Conditions
        </md-checkbox>
      </div>
      <div class="dialog__checkbox-row">
        <md-checkbox color="primary" name="accept_terms" [checked]="false" [(ngModel)]="model.accept_guarantee">
          I have understood that the First-Loss fund is not guaranteed as per the Terms of Use
        </md-checkbox>
      </div>
    </div>
    <div class="terms-of-use">
      <app-terms-of-use></app-terms-of-use>
    </div>

    <div class="dialog__form-buttons">
      <button md-raised-button type="button" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="positive-btn"
              [disabled]="!(model.confirm_invest && model.risk_confirm && model.accept_terms && model.accept_guarantee)">
        <i class="material-icons">thumb_up</i>
        Submit Investment
      </button>
    </div>

  </form>
</div>
