<div class="dialog">
  <h2 class="title">Who should this be lent out to?</h2>
  <form (submit)="onSubmit()">
    <div class="form-content">
      <h2 class="content-header">Restrictions</h2>

      <div class="checkbox-column-grid">
        <div class="checkbox-row" *ngFor="let group of restrictionList">
          <h3>{{group.name}}</h3>
          <div class="checkbox-group">
            <div *ngFor="let item of group.restrictions">
              <md-checkbox class="checkbox"
                           color="primary"
                           [checked]="false"
                           name="restriction_{{item.id}}"
                           [(ngModel)]="item.restrictionChecked"
                           (change)="checkRestriction(group, item)"
                           [disabled]="group.restrictionsDisabled">
                {{item.name}}
              </md-checkbox>
            </div>
          </div>
        </div>
      </div>

      <h2 class="content-header">Priorities</h2>

      <div class="checkbox-column-grid">
        <div class="checkbox-row" *ngFor="let group of restrictionList">
          <h3>{{group.name}}</h3>
          <div class="checkbox-group">
            <div *ngFor="let item of group.restrictions">
              <md-checkbox class="checkbox"
                           color="primary"
                           [checked]="false"
                           name="priority_{{item.id}}"
                           [(ngModel)]="item.priorityChecked"
                           (change)="checkPriority(group, item)"
                           [disabled]="group.prioritiesDisabled">
                {{item.name}}
              </md-checkbox>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="form-buttons">
      <button md-raised-button type="button" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        Next
      </button>
    </div>

  </form>
</div>
