.title {
  margin: 0;
}

.checkbox {
  display: block;
}

.checkbox-column-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .checkbox-row {
    width: 33.3333%;
    &:last-child {
      width: 100%;
      .checkbox-group {
        -moz-column-count: 2; /* Для Firefox */
        -webkit-column-count: 2; /* Для Safari и Chrome */
        column-count: 2;
      }
    }
  }
}

.indent {
  padding-left: 3rem;
  padding-right: 3rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 45px auto 0;
  width: 60%;
}
