@import "../../../css/_variables";

$green-card-color: lighten($accent-color, 10%);
$green-card-color-darken: darken($green-card-color, 20%);

.content-container {
  width: 95%;
  max-width: 1200px;
}

.main-header {
  text-align: center;
}

.form-content {
  width: 90%;
  margin: 0 auto;
}

.first-row .card {
  width: 200px;
}

.second-row .card {
  width: 200px;
}

.third-row .card {
  width: 300px;
}

.fourth-row .card {
  width: 150px;
}

.field-title {
  font-weight: 500;
  font-size: 1em;
  color: $primary-color;
  margin-bottom: 15px;
}

.card {
  text-align: center;
  border: 2px solid $grey-disabled-color;
  border-radius: 2px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
              0 1px 1px 0 rgba(0, 0, 0, 0.14),
              0 1px 3px 0 rgba(0, 0, 0, 0.12);
  color: $grey-disabled-color;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    transition: all 0.05s linear 0s;
  }

  .paragraph {
    padding: 10px;
    font-size: 2.3em;

    .material-icons {
      font-size: 1em;
      vertical-align: middle;
    }
  }

  .title,
  .second-title {
    background-color: $grey-disabled-color;
    margin: 0;
    padding: 0.2em 0;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
  }

  .second-title {
    background-color: $grey-disabled-color-darken;
    outline: 2px solid $grey-disabled-color-darken;

    .label {
      font-size: 0.8em;
    }
    .label,
    .value {
      font-weight: normal;
      margin: 0;
      padding: 0;
    }
  }

  &.active {
    border-color: $primary-color;
    .title {
      background-color: $primary-color;
    }
  }

  &.active_green {
    border-color: $green-card-color;

    .paragraph {
      color: $green-card-color;
    }

    .title {
      background-color: $green-card-color;
    }

    .second-title {
      background-color: $green-card-color-darken;
      outline: 2px solid $green-card-color-darken;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  margin-bottom: 50px;
}

.first-row .paragraph {
  font-size: 1em;
  color: black;
}

.second-row {
  width: 73%;
}

.third-row {
  width: 70%;
}

.fourth-row {
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 300px;
}
button:first-child {
  margin-left: 0;
}

@media only screen and (max-width : 992px) {
  .form-content .row {
    justify-content: space-around;
  }

  .second-row {
    width: 100%;
  }
  .third-row {
    width: 100%;
  }
}

@media only screen and (max-width : 480px) {
  .form-content,
  .form-buttons {
    width: 90%;
  }
}

// animations
.show-section {
  .field-title {
    animation: section-opacity 2s ease-out 0s;
  }
  .card {
    animation: section-opacity 2s ease-out 0s;
  }
}

@keyframes section-opacity {
  from { opacity: 0; }
  to { opacity: 1; }
}
