<div class="content-container content-container_stylized" id="popupContainer">
  <h2 class="main-header" *ngIf="!skipOfferCreation">Let's walk you through how to get your investment set up with Wealth Harbour</h2>
  <h2 class="main-header" *ngIf="skipOfferCreation">Your investment offer was created.</h2>
  <form (submit)="onSubmitOpenConfirmDialog()">
    <div *ngIf="!skipOfferCreation" class="form-content">

      <h5 class="field-title">Choose your type of investment scheme</h5>
      <div class="first-row row">
        <div class="card" (click)="setInvestmentType('100')"
             [ngClass]="{'active': investment.investment_type === '100'}">
          <div class="paragraph">Invest using your Individual Savings Account (ISA). Select this option if you wish to transfer funds from your prior year ISA accounts.</div>
          <h3 class="title">ISA</h3>
        </div>
        <div class="card" (click)="setInvestmentType('300')"
             [ngClass]="{'active': investment.investment_type === '300'}">
          <div class="paragraph">This is your default investment type, and has no tax incentive schemes attached to it. Select this option if you want to invest, but don't have an eligible ISA or SIPP.</div>
          <h3 class="title">General</h3>
        </div>
        <div class="card" (click)="setInvestmentType('200')"
             [ngClass]="{'active': investment.investment_type === '200'}">
          <div class="paragraph">Invest using your Self Invested Pension Plan (SIPP). Select this option if you wish to transfer eligible funds from your pension plan. Contact
            <a href="">Wealth Harbour Support</a> for confirmation and assistance with this investment option.</div>
          <h3 class="title">SIPP</h3>
        </div>
        <!--<div class="card" (click)="setInvestmentType('400')"
             [ngClass]="{'active': investment.investment_type === '400'}">
          <div class="paragraph">This investment option is by invitation only and is linked to special promotions offered by Wealth Harbour.</div>
          <h3 class="title">Pioneer</h3>
        </div>-->
      </div>

      <h5 class="field-title">Tell us how much you are investing on this occasion</h5>
      <md-input-container class="field">
        <input mdInput
               type="number"
               step="0.01"
               name="investAmount"
               placeholder="Investment Amount"
               [(ngModel)]="investment.investment_amount"
               (change)="errors.investmentAmount = ''; onChangeInvestAmount()">
      </md-input-container>
      <div class="errorMessage"><span *ngIf="errors.investmentAmount">{{errors.investmentAmount}}</span></div>

      <div *ngIf="investment.investment_amount && investment.investment_type"
           [ngClass]="{'show-section': (investment.investment_amount && investment.investment_type)}">
        <h5 class="field-title">How often do you wish to repeat this investment?</h5>
        <div class="second-row row">
          <div  class="card" (click)="setInvestmentFrequency('300')"
                [ngClass]="{'active_green': investment.investment_frequency === '300'}">
            <div class="paragraph"><i class="material-icons">date_range</i> x1</div>
            <h3 class="title">One-Off</h3>
          </div>
<!--          <div  class="card" (click)="setInvestmentFrequency('100')"
                [ngClass]="{'active_green': investment.investment_frequency === '100'}">
            <div class="paragraph"><i class="material-icons">date_range</i> x12</div>
            <h3 class="title">Monthly</h3>
          </div>
          <div  class="card" (click)="setInvestmentFrequency('200')"
                [ngClass]="{'active_green': investment.investment_frequency === '200'}">
            <div class="paragraph"><i class="material-icons">date_range</i> x4</div>
            <h3 class="title">Quarterly</h3>
          </div>-->
        </div>
      </div>

      <div *ngIf="investment.investment_amount && investment.investment_type && investment.investment_frequency"
           [ngClass]="{'show-section': (investment.investment_amount && investment.investment_type && investment.investment_frequency)}">
        <h5 class="field-title">Your investments will be put into a fixed term agreement</h5>
        <div class="third-row row">
          <!--<div  class="card" (click)="setRate('100')" [ngClass]="{'active_green': investment.rate === '100'}">
            <div class="paragraph">6.30%</div>
            <h3 class="title">Secondary Market</h3>
          </div>-->
          <div  class="card" (click)="setRate('200')" [ngClass]="{'active_green': investment.rate === '200'}">
            <div class="paragraph">3.4% - 5.7%</div>
            <h3 class="title">Fixed Term Payout</h3>
          </div>
        </div>
      </div>

      <div *ngIf="investment.investment_amount && investment.investment_type && investment.investment_frequency && investment.rate"
           [ngClass]="{'show-section': (investment.investment_amount && investment.investment_type && investment.investment_frequency && investment.rate)}">
        <h5 class="field-title">How long do you wish to invest your money for?</h5>
        <div class="fourth-row row">
          <div class="card" (click)="setTerm('1000')" [ngClass]="{'active_green': investment.term === '1000'}" *ngIf="investment.rate === '100'">
            <div class="paragraph">{{ investRates['1000']/100 | percent:'.2' }}</div>
            <h3 class="title">Secondary Market</h3>
            <div class="second-title">
              <p class="label">You get back</p>
              <h3 class="value">{{ willGetBackAmount['1000'] | currency:'GBP':true:'.2' }}</h3>
            </div>
          </div>
          <div class="card" (click)="setTerm('60')" [ngClass]="{'active_green': investment.term === '60'}" *ngIf="investment.rate === '200'">
            <div class="paragraph">{{ investRates['60']/100 | percent:'.2' }}</div>
            <h3 class="title">5 - Year Fixed Term</h3>
            <div class="second-title">
              <p class="label">You get back</p>
              <h3 class="value">{{ willGetBackAmount['60'] | currency:'GBP':true:'.2' }}</h3>
            </div>
          </div>
          <div class="card" (click)="setTerm('48')" [ngClass]="{'active_green': investment.term === '48'}" *ngIf="investment.rate === '200'">
            <div class="paragraph">{{ investRates['48']/100 | percent:'.2' }}</div>
            <h3 class="title">4 - Year Fixed Term</h3>
            <div class="second-title">
              <p class="label">You get back</p>
              <h3 class="value">{{ willGetBackAmount['48'] | currency:'GBP':true:'.2' }}</h3>
            </div>
          </div>
          <div class="card" (click)="setTerm('36')" [ngClass]="{'active_green': investment.term === '36'}" *ngIf="investment.rate === '200'">
            <div class="paragraph">{{ investRates['36']/100 | percent:'.2' }}</div>
            <h3 class="title">3 - Year Fixed Term</h3>
            <div class="second-title">
              <p class="label">You get back</p>
              <h3 class="value">{{ willGetBackAmount['36'] | currency:'GBP':true:'.2' }}</h3>
            </div>
          </div>
          <div class="card" (click)="setTerm('24')" [ngClass]="{'active_green': investment.term === '24'}" *ngIf="investment.rate === '200'">
            <div class="paragraph">{{ investRates['24']/100 | percent:'.2' }}</div>
            <h3 class="title">2 - Year Fixed Term</h3>
            <div class="second-title">
              <p class="label">You get back</p>
              <h3 class="value">{{ willGetBackAmount['24'] | currency:'GBP':true:'.2' }}</h3>
            </div>
          </div>
          <div class="card" (click)="setTerm('12')" [ngClass]="{'active_green': investment.term === '12'}" *ngIf="investment.rate === '200'">
            <div class="paragraph">{{ investRates['12']/100 | percent:'.2' }}</div>
            <h3 class="title">1 - Year Fixed Term</h3>
            <div class="second-title">
              <p class="label">You get back</p>
              <h3 class="value">{{ willGetBackAmount['12'] | currency:'GBP':true:'.2' }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="description" *ngIf="investment.investment_amount && investment.investment_type && investment.investment_frequency && investment.rate">
        Your capital is at risk, <a target="_blank" href="https://www.wh.money/understanding-the-risk">read more</a>.<br />
        The amount that you will get back assumes reinvestment of all instalments and no defaults, using the prevailing market rates.
      </div>
    </div>
    <div class="form-buttons">
      <button md-raised-button type="button" (click)="back()"><i class="material-icons">arrow_back</i> Back</button>
      <button md-raised-button
              class="positive-btn"
              [disabled]="!(investment.investment_amount && investment.investment_type && investment.investment_frequency && investment.rate && investment.term) && !skipOfferCreation">
        <i class="material-icons">arrow_forward</i> Next</button>
    </div>
  </form>

</div>

