/*
.content-container {
  width: 95%;
  max-width: 1550px;
}
*/

//  pagination styles
/deep/
nav {
  text-align: center;
}

/deep/
.admin-settings {
  .link {
    color: #59afe1;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      opacity: .7;
    }
  }
}

