@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/helvetica.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/helvetica.woff') format('woff'),
    url('../../fonts/helvetica.ttf')  format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/helvetica-bold.woff') format('woff'),
    url('../../fonts/helvetica-bold.ttf')  format('truetype');
    font-weight: bold;
}

.letter-portrait {
    /*background: yellow;*/
   /*border: 1px solid green;*/
    width: 6.5in;
    /*height: 9in;*/
    box-sizing: content-box;
}

* {
    line-height: 1.2em;
    font-family: 'Helvetica', Arial, sans-serif;
}
h1 {
    font-size: 26pt;
    color: #009193;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: 0;
}
h2 {
    margin-top: 0;
    font-size: 20pt;
    color: #20252E;
    margin-bottom: 0.3in;
    font-weight: normal;
}
h3 {
    margin-top: 1.2em;
    font-size: 12pt;
    color: #009193;
    margin-bottom: 0.1in;
    font-weight: normal;
}

p {
    font-size: 10pt;
    margin-bottom: 1.6em;
    margin-top: 0.8em;
}

a {
    color: #CA3327;
    text-decoration: none;
}
.properties-list {
    width: 94%;
    border-collapse: collapse;
    border: none;
    margin-right: 6%;
}

.properties-list td {
    border: none;
    padding-bottom: 0.2in;
    padding-top: 0;
    vertical-align: top;
}

.properties-list__value {
    text-align: right;
    font-weight: bold;
    font-size: 14pt;
    min-width: 1.1in;
}

.properties-list__title {
    font-size: 14pt;
}
.properties-list__description {
    color: #009193;
    font-size: 10pt;
    font-style: italic;
}

.c-brand {
    color: #009193;
}

.h-padding-b2 {
    padding-bottom: 0.2in;
}
.h-margin-b2 {
    margin-bottom: 0.2in;
}

.title {
    font-size: 18pt;
    text-transform: uppercase;
    margin-bottom: 0.25in;
}

.table-label {
    font-size: 10pt;
    font-style: italic;
    margin-bottom: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table thead th {
    color: #ffffff;
    background: #009193;
    font-size: 7.5pt;
    text-align: right;
    padding: 0.05in 0.1in;
    line-height: 1.2em;
    border: 1px solid #20252E;
}

.table thead th:first-child {
    text-align: left;
}

.table td {
    padding: 0.03in 0.1in;
    font-size: 7.5pt;
    text-align: right;
    line-height: 1.2em;
    border: 1px solid #20252E;
}

.table td:first-child {
    text-align: left;
}
.table tfoot td {
    color: #ffffff;
    background: #009193;
    font-weight: bold;
}

.f-italic {
    font-style: italic;
}
.f-small {
    font-size: 9pt;
}
p.f-small {
    margin-bottom: 1em;
}

li {
    line-height: 1.2em;
    margin-bottom: 0.1em;
}
ul, ol {
    font-size: 9pt;
    padding-left: 2em;
    margin-bottom: 1em;
    margin-top: 0;
}

.list-letters {
    font-size: 9pt;
    counter-reset: listStyle;
    list-style: none;
    padding-left: 2em;
    margin-bottom: 1em;
}

.list-letters>li {
    counter-increment: listStyle;
    padding-left: 1.6em;
    position: relative;
}

.list-letters>li:before {
    content: counter(listStyle, lower-alpha) ")";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.2em;
}

.list-letters ol {
    counter-reset: listStyle2;
    list-style: none;
    padding-left: 2em;
    margin-top: 0.5em;
}


.list-letters  ol li {
    counter-increment: listStyle2;
    padding-left: 2.1em;
    position: relative;
}

.list-letters  ol li:before {
    content: "(" counter(listStyle2, lower-roman) ")";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.2em;
}

.comment {
    font-style: italic;
    color: red;
}

.terms-list,
.terms-list ol {
    list-style: none;
    counter-reset: section;
    font-size: 9pt;
    line-height: 1.2em;
    padding: 0;
    margin-top: 6pt;
}

.terms-list>li {
    padding-left: 0;
}
.terms-list>li>ol {
    padding-left: 2em;
}
.terms-list li li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 6pt;
}

.terms-list h2 {
    position: relative;
    margin-bottom: 6pt;
    background-color: #009193;
    color: #ffffff;
    font-size: 9pt;
    padding: 0.2em;
}


.terms-list>li li:before {
    counter-increment: section;
    content: counters(section,".") ".";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.2em;
}

.terms-list h2:before {
    counter-increment: section;
    content: counters(section,".") ".";
    display: inline-block;
    line-height: 1.2em;
    margin-right: 0.5em;
}

.terms-list li li {
    padding-left: 3em;
}
.terms-list li li li {
    padding-left: 3.5em;
}

.terms-list h2 {
    display: block;

}
.nowrap {
    white-space: nowrap;
}