@import "../../../css/_variables";

.login-container {
  box-sizing: border-box;
  padding-bottom: 35px;
  background-image: url("../../../assets/img/bg-borrow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px auto;
  background-position: -200px 50px;
  min-height: 100%;
}
//  Login form styles

.content-container {
  width: 95%;
  max-width: 500px;

  .main-header {
    text-align: center;
  }

  .form-content {
    width: 80%;
    margin: 0 auto 40px;
  }

  .row {
    display: block;
    margin-top: 2em;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  .toggle {
    margin: 0;
    display: inline-block;
  }

  .send-email__form-buttons {
    display: flex;
    width: 80%;
    margin: 50px auto 15px;
  }

  .forgot {
    text-align: center;
    margin-top: 25px;
    color: $primary-color-dark;
    text-decoration: underline;
    cursor: pointer;
  }
}

.success-message {
  margin: 20px;
  padding: 10px;
  background-color: $primary-color-light;
  border: 2px solid $primary-color-dark;
  border-radius: 10px;
}
