<div class="c-user-card" *ngIf="data.length">
  <div class="c-user-card__header">
    <h2>Loans</h2>
  </div>
  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
          Loan ID
        </th>
        <th class="table__header-cell">
          Loan Amount
        </th>
        <th class="table__header-cell">
          Term
        </th>
        <th class="table__header-cell">
          Activation Date
        </th>
        <th class="table__header-cell">
          Monthly Payment
        </th>
        <th class="table__header-cell">
          Status
        </th>
        <th class="table__header-cell">
          Contract
        </th>
        <th class="table__header-cell">
          Loan Details
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let datas of data">
        <td class="table__cell">{{datas.loan_id}}</td>
        <td class="table__cell">{{datas.loan_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{datas.loan_term}}</td>
        <td class="table__cell">{{convertDateForDisplay(datas.activation_date)}}</td>
        <td class="table__cell">{{datas.monthly_payment | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell"><span class="badge badge-light">{{loanStatus[datas.status]}}</span></td>
        <td class="table__cell"><button *ngIf="loanStatus[datas.status] == 'Active'" class="btn" (click)="pdf(datas.loan_id, datas.quote_id)">PDF</button></td>
        <td class="table__cell"><button class="btn" (click)="view(datas)">View</button></td>
      </tr>
    </table>
  </div>
</div>
<div class="c-user-card" *ngIf="instalments.length">
  <div class="c-user-card__header">
    <h2>Instalments</h2>
  </div>
  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
          Inst ID
        </th>
        <th class="table__header-cell">
          LoanApply ID
        </th>
        <th class="table__header-cell">
          Period Number
        </th>
        <th class="table__header-cell">
          Payment Day
        </th>
        <th class="table__header-cell">
          Instalment
        </th>
        <th class="table__header-cell">
          Interest
        </th>
        <th class="table__header-cell">
          Principle
        </th>
        <th class="table__header-cell">
          Balance
        </th>
        <th class="table__header-cell">
          Outstanding
        </th>
        <th class="table__header-cell">
          Allocation
        </th>
        <th class="table__header-cell">
          Instalment Status
        </th>
        <th class="table__header-cell">
          Payment Status
        </th>
        <th class="table__header-cell">
          Payment Amount
        </th>
        <th class="table__header-cell">
          Creation Date
        </th>
      </tr>
      <ng-container *ngFor="let instalment of instalments">
      <tr class="table__body-tr" [class.grey]="instalment.paymentStatus == 1000">
        <td class="table__cell">{{instalment.instalment_id}}</td>
        <td class="table__cell">{{instalment.loan_apply_id}}</td>
        <td class="table__cell">{{instalment.period}}</td>
        <td class="table__cell">{{convertDateForDisplay(instalment.payment_date)}}</td>
        <td class="table__cell">{{instalment.instalment | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{instalment.interest | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{instalment.principle | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{instalment.balance | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{instalment.outstanding | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{instalment.allocation | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{instalmentStatus[instalment.installmentStatus]}}</td>
        <td class="table__cell">{{paymentStatus[instalment.paymentStatus]}}</td>
        <td class="table__cell">{{instalment.paymentAmount}}</td>
        <td class="table__cell">{{convertDateForDisplay(instalment.created_at)}}</td>
      </tr>
      </ng-container>
    </table>
  </div>
</div>
