.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
  }
}
.c-user-card__content {
  overflow: auto;
}
.table__body-tr.grey {
  background-color: rgba(0, 0, 0, 0.08);
}