@import "../../../css/_variables";

.rest-container {
  padding-top: 50px;
  box-sizing: border-box;
  padding-bottom: 35px;
  background-image: url("../../../assets/img/bg-borrow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px auto;
  background-position: -200px 50px;
  min-height: calc(100% - 70px);
}


.content-container {
  width: 95%;
  max-width: 500px;

  .main-header {
    text-align: center;
  }

  .form-content {
    width: 80%;
    margin: 0 auto 40px;
  }

  .row {
    display: block;
    margin-top: 2em;
  }

  .new-pass__form-buttons {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 50px auto 15px;
  }
}
