<div class="dialog">
  <h2 class="dialog__title">Welcome to Wealth Harbour!</h2>
  <div class="dialog__form-content">
    <p class="dialog__row">
      Thank you for creating your account. Starting your investment journey with us is only a step away.<br /><br />
      We have sent an email to you to verify your Wealth Harbour account. Please click the link in the email provided and log in to the Wealth Harbour Marketplace to complete registration.<br /><br />
      If you have any questions, you can contact us on support@wh.money, or 020 3457 7558.
    </p>
  </div>
  <div class="dialog__form-buttons">
    <button md-raised-button type="submit" class="positive-btn" (click)="dialogRef.close(true)">OK
    </button>
  </div>
</div>