<div class="content-container">
  <div class="html" #html></div>
  <div class="select" *ngIf="htmlBlock">
    <div>Repayment Date</div>
    <md-select name="main_source"
               [(ngModel)]="payment_day">
    <md-option *ngFor="let opt of options" [value]="opt.num">{{opt.text}}</md-option>
    </md-select>
  </div>
  <div class="buttons" *ngIf="htmlBlock">
    <button (click)="openConfirmDialog(true)" class="btn btn-sm btn-success">Accept</button>
    <!--<button (click)="openConfirmDialog(false)" class="btn btn-sm btn-danger">Decline</button>-->
  </div>
</div>
