<div class="c-user-status">
  <h3>Acceptance:</h3>
  <div class="c-user-status__data">
    <div *ngIf="acceptance.status == 'Accepted'" class="c-user-status-success"> <i  class="fa fa-check"></i> {{acceptance.status}} </div>
    <div *ngIf="acceptance.status == 'Declined'" class="c-user-status-error"> <i  class="fa fa-times"></i> {{acceptance.status}}</div>
    <div *ngIf="acceptance.status == 'Pending'" class="c-user-status-pending"> <i  class="fa fa-clock"></i> {{acceptance.status}} </div>
  </div>
  <div class="c-user-status__date">
    {{convertDateForDisplay(acceptance.date)}}
  </div>
</div>
