
<ul class="b-tabs">
  <li><button type="button" class="btn b-tabs__btn" [class.active]="tab == 'overview'" (click)="changeTab('overview')">Overview</button></li>
  <li><button type="button" class="btn b-tabs__btn" [class.disabled]="this.quoteStatus < 20" [class.active]="tab == 'check'" (click)="changeTab('check')">Call Validate Check</button></li>
  <li><button type="button" class="btn b-tabs__btn" [class.disabled]="this.quoteStatus < 80" [class.active]="tab == 'offers-details'" (click)="changeTab('offers-details')">Offers & Details</button></li>
<!--  <li><button type="button" class="btn b-tabs__btn" [class.disabled]="this.quoteStatus < 100" [class.active]="tab == 'installments'" (click)="changeTab('installments')">Installments</button></li>-->
</ul>

<!--<h3 [class.active]="tab == 'overview'" (click)="changeTab('overview')" class="border-block__header">Overview</h3>-->
<!--<h3 [class.disabled]="this.quoteStatus < 20" [class.active]="tab == 'check'" (click)="changeTab('check')" class="border-block__header">Call Validate Check</h3>-->
<!--<h3 [class.disabled]="this.quoteStatus < 80" [class.active]="tab == 'offers-details'" (click)="changeTab('offers-details')" class="border-block__header">Offers & Details</h3>-->
<!--<h3 [class.disabled]="this.quoteStatus < 100" [class.active]="tab == 'installments'" (click)="changeTab('installments')" class="border-block__header">Installments</h3>-->
  <app-client-overview-investor (tab)="changeTab($event)" *ngIf="tab == 'overview'" [id]="id"></app-client-overview-investor>
  <app-id-check-investor (tab)="changeTab($event)" *ngIf="tab == 'check'" [id]="id"></app-id-check-investor>
  <app-offers-and-details (tab)="changeTab($event)" *ngIf="tab == 'offers-details'" [id]="id"></app-offers-and-details>
  <!--<app-installments (tab)="changeTab($event)" *ngIf="tab == 'installments'" [id]="id"></app-installments>-->

