<div class="dialog">
  <h2 class="dialog__title">Thank you for choosing Wealth Harbour for your personal loan.</h2>
  <div class="dialog__form-content">
    <p class="dialog__row">
      Your account has been created. Starting your journey to financial wellbeing is only a step away.<br />
      We have sent an email to you to verify your Wealth Harbour account.
      Please click the link in the email provided and log in to the
      Wealth Harbour Marketplace to complete registration.<br />
      If you have any questions, you can contact us on support@wh.money, or 020 3457 7558.<br />
    </p>
  </div>
  <div class="dialog__form-buttons">
    <button md-raised-button type="submit" class="positive-btn" (click)="dialogRef.close(true)">OK
    </button>
  </div>
</div>
