@import "../../../css/_variables";

.dialog {
  overflow: hidden;
}

.dialog__form-content {
  width: 90%;
  margin: 0 auto;
}

.dialog__row {
  display: block;
  width: 100%;
  margin-top: 2em;
}

.dialog__title {
  margin: 0;
}

.dialog__form-buttons {
  display: flex;
  justify-content: center;
  margin: 55px auto 0;
  width: 80%;
}

