<!--<h3>Matching Results {{matching}}%</h3>-->

<div class="c-user-status">
  <h3>Matching Results:</h3>
  <div class="c-user-status__data">
    <div *ngIf="matching < 30" class="c-user-status-error"> <i  class="fa fa-clock"></i> {{matching}}% </div>
    <div *ngIf="matching >= 30 && matching < 100" class="c-user-status-pending"> <i  class="fa fa-clock"></i> {{matching}}% </div>
    <div *ngIf="matching === 100" class="c-user-status-success"> <i  class="fa fa-check"></i> {{matching}}% </div>
  </div>
</div>
<div *ngIf="investors.length && loanStatus >= 800">
  <button class="btn btn-light btn-dark" (click)="pdf()">View Agreement PDF</button>
</div>
<table class="table b-table" *ngIf="investors.length">
  <thead class="b-table-header">
    <tr>
      <!--<th class="table__header-cell">
        Matching ID
      </th>-->
      <th class="table__header-cell">
        Request ID
      </th>
      <th class="table__header-cell">
        Borrower ID
      </th>
      <th class="table__header-cell">
        Loan Term
      </th>
      <th class="table__header-cell">
        Lending Rate
      </th>
      <th class="table__header-cell">
        Lender ID
      </th>
      <th class="table__header-cell">
        Offer ID
      </th>
      <th class="table__header-cell">
        Amount
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__body-tr" *ngFor="let investor of investors">
      <!--<td class="table__cell">{{investor.matching_id}}</td>-->
      <td class="table__cell">{{investor.request_id}}</td>
      <td class="table__cell">{{investor.borrower_id}}</td>
      <td class="table__cell">{{investor.loan_term}}</td>
      <td class="table__cell">{{investor.lending_rate/100 | percent:'.0-2'}}</td>
      <td class="table__cell">{{investor.lender_id}}</td>
      <td class="table__cell">OFR{{paddingZeroService.pad(investor.investOffer_id, 7, null)}}</td>
      <td class="table__cell">{{investor.sum_amount | currency:'GBP':true:'.0-2'}}</td>
    </tr>
  </tbody>
</table>
