$primary-color-dark:    #1976D2;
$primary-color:         #0A152C;
$primary-color-light:   #BBDEFB;
$primary-color-text:    #FFFFFF;
$accent-color:          #0A152C;
$primary-text-color:    #0A152C;
$secondary-text-color:  #757575;
$divider-color:         #C7C7C7;
$negative-accent-color: #F44336;
$orange-accent-color:   #F57C00;
$success-accent-color: #04b41f;

$grey-disabled-color: #bbbbbb;
$grey-disabled-color-darken: darken(#bbbbbb, 10%);


$header-height: 70px;
$main-header-line-height: 1.3;

$font: 'Montserrat Light', sans-serif;