/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';*/
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/


@import "variables";
@import "./themes/material-theme";
@import "./themes/_input-custom-color";
@import "components/_pagination";
@import "base/_correction";
@import "base/_normalize";
@import "components/_date-select";
@import "components/_datepicker";
@import "components/_error";
@import "components/_spinner";
@import "components/_table";
@import "components/_button";
@import "fonts";
@import "themes/_input-custom-color";
@import "components/_loan-calculate";

@import "admin/layout";
@import "registaration/layout";



html,
body {
  height: 1px;
  min-height: 100%;
  min-width: 1200px;

}

body {
  margin: 0;
  font-family: $font;
}

.content-container {
  font-family: $font;
  color: $primary-text-color;
  margin: 30px auto;
  padding: 0 0 20px;
  .main-header {
    line-height: $main-header-line-height;
  }
}

.content-container_stylized {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

  &::before {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    background-color: $primary-color-light;
  }

}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  text-transform: uppercase;
  &.badge-warning {
    color: #212529;
    background-color: #ffc107;
  }
  &.badge-success {
    color: #fff;
    background-color: #28a745;
  }
  &.badge-secondary {
    color: #fff;
    background-color: #6c757d;
  }
}

h3 {
  padding: 0 10px;
}

/* .datpicker .text-info contains text for today's date but
   it dosn't work when we are not showing the current month */
.datepicker .text-info {
  font-size: 14px;
  color: black;
}
/* .datpicker .btn-info contains selected date */
.datepicker .btn-info {
  font-size: 14px;
  font-weight: bold;
  background-color: #39b3d7;
}
.datepicker .btn:disabled  {
  font-size: 14px;
  font-weight: normal;
  color: gray;
}
.datepicker .btn:disabled>.text-muted  {
  font-size: 14px;
  font-weight: normal;
  color: gray;
}
.datepicker .text-muted  {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.datepicker .btn:enabled {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.fa {
  &.fa-check {
    color: green;
  }
  &.fa-times {
    color: red;
  }
  &.fa-clock {
    color: black;
  }
}
app-terms-of-use {
  white-space: pre-line;
}

.disabled {
  pointer-events: none !important;
}

.hide {
  display: none;
}
.h2, h2 {
  font-size: 1.5em;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.h3, h3 {
  display: block;
  font-size: 1em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: normal;
}
.progress {
  background-color: transparent;
}
div.mat-select-trigger {
  min-width: 150px;
}
div.mat-sidenav-content {
  overflow: visible;
}
div.row {
  margin-left: 0;
}

/* status mark */
.status {
  &-mark {
    $size: 2em;
    width: $size;
    height: $size;
    font-size: 1.1em;
    line-height: 1.7em;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    cursor: default;
    span {
      vertical-align: middle;
    }
  }
  &-a {
    background-color: $orange-accent-color;
  }

  &-g {
    background-color: $accent-color;
    color: $primary-color-text;
  }

  &-r {
    background-color: $negative-accent-color;
    color: $primary-color-text;
  }
}
.simple-notification-wrapper {
  width: auto !important;
}

.use-keyboard {
  color: grey;
  padding: 0 5px;
  font-size: 0.8em;
  text-align: center;
}
.additionalInput {
  border: 0 none;
  width: 19%;
  border-bottom: 1px solid #9c9c9c;
  line-height: 1.4em;
  padding: 5px 0;
  outline: 0;
}
.mat-slider {
  width: 100%;
}
.slider-input {
  .mat-slider {
    width: 80% !important;
  }
}
// Hack
.b-html-wrapper__content.credit-history > div > .left tr:nth-child(4) {
  display: none;
}