@import "../_variables";

.material-icons {
  vertical-align: middle;
}

.positive-btn {
  background-color: $accent-color;
  color: $primary-color-text;
  .mat-button-wrapper {
    color: $primary-color-text;
  }
}

.negative-btn {
  background-color: $negative-accent-color;

  .mat-button-wrapper {
    color: $primary-color-text;
  }
}

.accent-btn {
  background-color: $orange-accent-color;

  .mat-button-wrapper {
    color: $primary-color-text;
  }
}
