@import "../_variables";

ngb-datepicker {

  &.d-inline-block {
    display: inline-block !important;
  }

  .rounded {
    border-radius: .25rem;
  }

  &.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
  }

  .pt-1 {
    padding-top: .25rem !important;
  }

  .bg-faded {
    background-color: #f7f7f7;
  }

  .pl-1, .px-1 {
    padding-left: .25rem !important;
  }

  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    height: 2.7rem;
    line-height: 2.5rem;
  }

  .btn-link {
    font-weight: 400;
    color: $primary-text-color;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
  }

  .d-block {
    display: block !important;
  }

  select {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25;
    height: inherit;
    width: 50%;
  }

  .custom-select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: $primary-text-color;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .small {
    font-size: 80%;
    font-weight: 400;
  }

  .text-center {
    text-align: center !important;
  }

  .font-italic {
    font-style: italic;
  }

  .text-info {
    color: #5bc0de !important;
  }

  .ngb-dp-weekday {
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
  }

  .btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
  }

  .btn-link, .btn-link.active, .btn-link:active, .btn-link:disabled {
    background-color: transparent;
  }

  .btn-link {
    font-weight: 400;
    color: #0275D8;
    border-radius: 0;
  }
  .ngb-dp-navigation-chevron::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    height: 0.75em;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    width: 0.75em;
    margin: 0 0 0 0.5rem;
  }

  .ngb-dp-navigation-chevron.right:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0;
  }

  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      color: #292b2c;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }

  .bg-primary {
    background-color: $primary-color;
    color: $primary-color-text;
  }

  .text-white {
    color: #fff !important;
  }
}

.date-field {
  position: relative;
  md-icon {
    padding-bottom: 5px;
    color: #9e9e9e;
    font-size: 1.2em;
  }
}

//hide an input field for datepicker component
.date-hidden-input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.datepicker-icon {
  cursor: pointer;
  position: absolute;
  right: 27px;
  top: 0;
}
