.calculate {
  &-title {
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 1em;
    font-size: 1.6rem;
    color: $accent-color;
    font-weight: normal;
  }

  &-information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .value {
      color: $primary-color;
      font-size: 2em;
      text-align: center;
      margin: 0;
    }

    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }

  &-item {
    box-sizing: border-box;
    width: 25%;
    padding: 0 20px;
    min-width: 220px;
  }
}
