.pagination {
  display: inline-flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin-bottom: 50px;

  .page-item {
    list-style-type: none;
  }

  .page-item.active > .page-link {
    border: 1px solid $primary-color;
    color: $primary-color-text;
    background-color: $primary-color;
  }

  .page-item.disabled > .page-link {
    color: $grey-disabled-color;
  }

  .page-link {
    padding: .5em .75em;
    outline: none;
    text-decoration: none;
    color: $primary-text-color;
    border: 1px solid #ddd;
  }

  .sr-only {
    display: none;
  }

  .page-item:last-child .page-link {
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .page-item:first-child .page-link {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
  }
}
