.table {
  border-collapse: collapse;
  th {
    height: 48px;
  }
  .no-wrap {
    white-space: nowrap;
  }
}

.table_stretched {
  width: 100%;
}

.table th,
.table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table__header-cell {
  font-weight: 600;
  text-overflow: ellipsis;
  text-align: left;
  box-sizing: border-box;
}

.table td,
.table__cell {
  padding: 0 12px;
  position: relative;
  vertical-align: middle;
  height: 48px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: table-cell;
  a {
    text-decoration: underline !important;
    &:hover {
      opacity: .7;
    }
  }
}

.table__row {
  position: relative;
  height: 48px;
  vertical-align: middle;
  display: table-row;
  border-color: inherit;
}

.table__row:hover {
  background-color: #EEE;
}
.table {
  &.table_sortable {
    width: auto !important;
  }
}
// the sort indicator
.table_sortable {
  th{
    cursor: pointer;
    user-select: none;
  }

  th.sort {
    position: relative;
  }

  th.sort::after {
    position: absolute;
    right: 15px;
    top: 3px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $primary-color;
  }
  th.sort.sort-desc::after {
    border-bottom: 10px solid $primary-color;
    border-top: none;
  }
}
