@import "../../../css/_variables";

.table {
  a {
    cursor: pointer;
  }
  & > tbody {
    & >tr {
      & >td {
        border-top: 0 none;
        padding-left: 0;
      }
    }
  }
  table {
    background-color: #ccc;
    width: 100%;
    margin-left: 12px;
    th {
      border: 0 none;
    }
    tr:first-child {
      td {
        border: 0 none;
      }
    }
    td {
      border-bottom: 0 none;
    }
  }
  table:first-child {
    background-color: transparent;
    margin-left: 0;
  }
}
.content-container {
  width: 95%;
  max-width: 1200px;
}

.buttons {
  margin-bottom: 10px;
}
.btn-popup {
  position: absolute;
  right: 80%;
  bottom: 65%;
  padding: 5px 11px;
  border-radius: 2px;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
  opacity: 0;
  display: none;
  background-color: $primary-color-text;
  color: $primary-color;
  box-shadow: 0 0 3px $secondary-text-color;
  transition: opacity .25s;
  button:hover & {
    display: block;
    opacity: 1;
  }
}
.table__header-cell {
  text-align: center;
}
.table__cell {
  text-align: center;
  padding: 0;
  button {
    padding: 2px ;
    border-radius: 2px;
    min-width: 50px;
    margin: 5px 0;
    img {
      width: 28px;
    }
  }
}
.offer-description {
  font-size: 15px;
}