<div class="content-container">
  <div class="buttons">
    <button type="submit" class="btn btn-lg positive-btn" [routerLink]="['/portal/create_offer']">Create Offer</button>
  </div>
  <div class="offer-description">
    Here is a list of the offers that you have made in your portfolio.  As your offer progresses, the origianal offer amount will be shown under each of the three columns:
    <ul>
      <li><b>Amount</b> - this is the original offer amount that you made</li>
      <li><b>Pending</b> - this represents that portion of your offer that is either not allocated to an borrower loan or is allocated to a loan that is not yet fully funded.</li>
      <li><b>Active</b> - this represents the outstanding capital on active loans</li>
      <li><b>Settled</b> - this represents the capital that has been paid back to you</li>
    </ul>
  </div>
  <table class="table">
    <tr>
      <th width="9.09%" class="table__header-cell">
        Name
      </th>
      <th width="9.09%" class="table__header-cell">
        Amount
      </th>
      <th width="9.09%" class="table__header-cell">
        Pending
      </th>
      <th width="9.09%" class="table__header-cell">
        Active
      </th>
      <th width="9.09%" class="table__header-cell">
        Settled
      </th>
      <th width="9.09%" class="table__header-cell">
        Type
      </th>
      <th width="9.09%" class="table__header-cell">
        Term
      </th>
       <th width="9.09%" class="table__header-cell">
        Matching %
      </th>
      <th width="9.09%" class="table__header-cell">
        Status
      </th>
      <th width="9.09%" class="table__header-cell">
        Actions
      </th>
      <th width="9.09%" class="table__header-cell">
        Details
      </th>
    </tr>
    <tr *ngFor="let offer of offers;let index = index;">
      <td colspan="11">
        <table>
          <tr class="table__body-tr">
            <td width="9.09%" class="table__cell">{{offer.details.name}}</td>
            <td width="9.09%" class="table__cell">{{offer.details.amount | currency:'GBP':true:'.0-2'}}</td>
            <td width="9.09%" class="table__cell">{{offer.details.pending | currency:'GBP':true:'.0-2'}}</td>
            <td width="9.09%" class="table__cell">{{offer.details.active | currency:'GBP':true:'.0-2'}}</td>
            <td width="9.09%" class="table__cell">{{offer.details.settled | currency:'GBP':true:'.0-2'}}</td>
            <td width="9.09%" class="table__cell">{{offer.displayedType}}</td>
            <td width="9.09%" class="table__cell"><div>{{offer.displayedTerm}}</div></td>
             <td width="9.09%" class="table__cell">{{offer.details.matching | percent:'.0-2'}}</td>
            <td width="9.09%" class="table__cell">
              <span class="status-mark" title={{offer.displayedStatus}}>{{offer.displayedStatus[0]}}</span>
            </td>
            <td width="9.09%" class="table__cell">
              <button md-raised-button
                      type="button"
                      class="icon-button"
                      *ngIf="offer.displayedStatus === 'Draft'"
                      (click)="selectOffer(offer.offer)">
                <img src="../assets/img/icons8-coins-filled-50.png" alt="">
              </button>
              <button md-raised-button
                      type="button"
                      class="icon-button"
                      *ngIf="offer.displayedStatus === 'Draft'"
                      (click)="deleteOffer(offer.offer)">
                <img src="../assets/img/icons8-trash-filled-50.png" alt="">
              </button>
            </td>
            <td width="9%" class="table__cell"><a *ngIf="offer.details.agreements.length" (click)="indexArray[index] = !indexArray[index]">{{indexArray[index] ?
              'Close' : 'View'}}</a>
            </td>
          </tr>
        </table>
        <table *ngIf="offer.details.agreements.length && indexArray[index]">
          <tr>
            <th class="table__header-cell">
              Borrower ID
            </th>
            <th class="table__header-cell">
              Amount
            </th>
            <th class="table__header-cell">
              Term
            </th>
            <th class="table__header-cell">
              Rate %
            </th>
            <th class="table__header-cell">
              Interest Amount
            </th>
            <th class="table__header-cell">
              Status
            </th>
            <th class="table__header-cell">
              Instalments
            </th>
          </tr>
          <tr class="table__body-tr" *ngFor="let agreement of offer.details.agreements">
            <td class="table__cell">{{agreement.borrower_id}}</td>
            <td class="table__cell">{{agreement.sum_amount | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{agreement.term}}</td>
            <td class="table__cell">{{agreement.rate /100 | percent:'.0-2'}}</td>
            <td class="table__cell">{{agreement.interest | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{status[agreement.status]}}</td>
            <td class="table__cell">
              <button *ngIf="status[agreement.status] == 'Active'" class="btn" (click)="pdf(agreement.loanApply_id, agreement.offer_id)">PDF</button>
              <button *ngIf="status[agreement.status] == 'Active'" class="btn" (click)="getInstalment(agreement.agreement_id, agreement.offer_id)">Instalment</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>