<header class="menu">
  <nav class="nav">
    <div class="mobile-btn" *ngIf="mobileMenu">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <i class="material-icons">menu</i>
      </button>
    </div>

    <ul class="left-menu" *ngIf="!mobileMenu">
      <li><a [ngClass]="{'active': activeTab === 'clients'}" [routerLink]="['/whadmin/clients']">Clients</a></li>
    </ul>
    <img class="logo" src="../../../assets/img/logo.png" alt="logotype">
    <ul class="right-menu" *ngIf="!mobileMenu">
      <li><a [ngClass]="{'active': activeTab === 'finances'}" [routerLink]="['/whadmin/finances']">Finances</a></li>
      <li><a [ngClass]="{'active': activeTab === 'settings'}" [routerLink]="['/whadmin/settings']">Settings</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>

<md-menu #menu="mdMenu">
  <ul class="mobile-menu">
    <li><a [ngClass]="{'active': activeTab === 'clients'}" [routerLink]="['/whadmin/clients']">Clients</a></li>
    <!--<li><a>Actions</a></li>
    <li><a>Products</a></li>-->
    <li><a [ngClass]="{'active': activeTab === 'finances'}" [routerLink]="['/whadmin/finances']">Finances</a></li>
    <li><a [ngClass]="{'active': activeTab === 'settings'}" [routerLink]="['/whadmin/settings']">Settings</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</md-menu>
