@import "../../../css/_variables";

.menu {
  height: $header-height;
  background-color: $primary-color;
  //font-family: 'Hind', sans-serif;
  font-family: $font;
  text-align: center;

  .nav {
    position: relative;
    height: $header-height;
  }

  .left-menu,
  .right-menu {
    position: absolute;
    top: 0;
    height: $header-height;
  }

  .left-menu {
    right: 50%;
    margin-right: 370px;
  }

  .right-menu {
    left: 50%;
    margin-left: 70px;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -68px;
    height: $header-height;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  li {
    list-style-type: none;
    position: relative;
    display: flex;
    height: $header-height;
    padding-top: 23px;
    padding-bottom: 0;
  }

  a {
    display: inline-block;
    position: relative;
    font-family: Hind, sans-serif;
    text-decoration: none;
    color: $primary-color-text;
    font-size: 1.2em;
    padding: 0 30px;
    cursor: pointer;
    white-space: nowrap;


    &:hover {
      background-color: lighten($primary-color, 5%);
    }

    &.active::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: white;
    }
  }
}

.mobile-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
  color: white;
  font-size: 2em;

  .material-icons {
    vertical-align: middle;
    font-size: 2.2em;
  }
}

.mobile-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    font-family: Hind, sans-serif;
    text-decoration: none;
    color: $primary-text-color;
    font-size: 1.5em;
    cursor: pointer;
  }

  li {
    margin: 0;
    padding: 20px 20px;
    text-align: center;
  }
}
