@import "../../css/_variables";

.loan-container {
  padding-top: 50px;
  box-sizing: border-box;
  padding-bottom: 35px;
  background-image: url("../../assets/img/bg-borrow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px auto;
  background-position: -200px 50px;
  min-height: calc(100% - 70px);
}

.container {
  margin-top: 30px;
  min-height: 90.8vh;
}

md-sidenav-container {
  background-color: transparent;
}

md-sidenav {
  width: 180px;
  background-color: $primary-color;

  li a {
    display: block;
    padding: 0 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    line-height: 60px;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
    &.active {
      text-decoration: underline;
    }
  }
  ul{
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    display: block;
  }
}
.ul-styling {
  max-width: 350px;
  display: block;
  margin: auto;
  padding-bottom: 15px;
  li {
    font-size: 18px;
    list-style: disc;
    text-align: left;
  }
}
