<my-header [activeTab]="'loan'"></my-header>

<div class="loan-container">
  <md-sidenav-container class="container">
    <md-sidenav #sidenav [mode]="modeSlider" [opened]="sidenavOpenState">
      <ul>
        <!--<li><a>My Actions</a></li>-->
        <!--<li><a>My Loans</a></li>-->
        <!--<li><a>My Portfolio</a></li>-->
        <li><a [routerLink]="'dashboard'">Dashboard</a></li>
        <li><a *ngIf="clientStatus == 'investor'" [routerLink]="'offer-list'">Offers</a></li>
        <!--<li><a [routerLink]="'instalments'">Instalments</a></li>-->
        <li><a [routerLink]="'activity_logs'">Logs</a></li>
        <!--<li><a>My Profile</a></li>-->
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </md-sidenav>

    <!--<navigation [steps]="5"></navigation>-->

    <router-outlet></router-outlet>

  </md-sidenav-container>
</div>
