<div class="b-html-wrapper">
  <div class="html b-html-wrapper__content" #html></div>
  <div class="b-html-wrapper__controls">
    <div class="buttons" *ngIf="loanStatus < 330 && htmlBlock">
      <button (click)="openConfirmDialog(100)" class="btn btn-success">Accept</button>
      <button (click)="openConfirmDialog(200)" class="btn btn-danger">Decline</button>
    </div>
  </div>
</div>