<table class="table b-table">
  <thead class="b-table-header">
    <tr>
      <th class="table__header-cell">

      </th>
      <th class="table__header-cell">
        Quoted
      </th>
      <th class="table__header-cell">
        User Application
      </th>
      <th class="table__header-cell">
        Generated
      </th>
      <th class="table__header-cell">
        Decision
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__body-tr">
      <td class="table__cell strong">Total Credit</td>
      <td class="table__cell strong">{{content.quoted && content.quoted.loan_amount ? (content.quoted.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.user_application && content.user_application.loan_amount ? (content.user_application.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.generated && content.generated.loan_amount ? (content.generated.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.decision && content.decision.loan_amount ? (content.decision.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Loan Duration (months)</td>
      <td class="table__cell strong">{{content.quoted && content.quoted.term ? content.quoted.term : ''}}</td>
      <td class="table__cell strong">{{content.user_application && content.user_application.term ? content.user_application.term : ''}}</td>
      <td class="table__cell strong">{{content.generated && content.generated.term ?  content.generated.term : ''}}</td>
      <td class="table__cell strong">{{content.decision && content.decision.term ?  content.decision.term : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Interest (APR)</td>
      <td class="table__cell strong">{{content.quoted && content.quoted.apr ? (content.quoted.apr / 100 | percent) : ''}}</td>
      <td class="table__cell strong">{{content.user_application && content.user_application.apr ? (content.user_application.apr / 100 | percent) : ''}}</td>
      <td class="table__cell strong">{{content.generated && content.generated.apr ?  (content.generated.apr / 100 | percent) : ''}}</td>
      <td class="table__cell strong">{{content.decision && content.decision.apr ?  (content.decision.apr / 100 | percent) : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Monthly Repayment</td>
      <td class="table__cell strong">{{content.quoted && content.quoted.monthly ? (content.quoted.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.user_application && content.user_application.monthly ? (content.user_application.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.generated && content.generated.monthly ?  (content.generated.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.decision && content.decision.monthly ?  (content.decision.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Bonus Interest</td>
      <td class="table__cell strong">{{content.quoted && content.quoted.bonus_rate ? (content.quoted.bonus_rate / 100 | percent) : ''}}</td>
      <td class="table__cell strong">{{content.user_application && content.user_application.bonus_rate ? (content.user_application.bonus_rate / 100 | percent) : ''}}</td>
      <td class="table__cell strong">{{content.generated && content.generated.bonus_rate ?  (content.generated.bonus_rate / 100 | percent) : ''}}</td>
      <td class="table__cell strong">{{content.decision && content.decision.bonus_rate ?  (content.decision.bonus_rate / 100 | percent) : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Bonus</td>
      <td class="table__cell strong">{{content.quoted && content.quoted.bonus_amount ? (content.quoted.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.user_application && content.user_application.bonus_amount ? (content.user_application.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.generated && content.generated.bonus_amount ?  (content.generated.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell strong">{{content.decision  && content.decision.bonus_amount ?  (content.decision.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
    </tr>
  </tbody>
</table>
