<div class="content-container">
  <h2 class="main-header">Please provide additional information for your Loan Application.</h2>

  <div class="details-section">
    <h4 class="details-header">Communication Details</h4>
    <div class="details-box">
      <div class="column">
        <p>{{email ? email : 'Primary Email'}}</p>
      </div>
      <div class="column">
        <p>XXXXXXXX</p>
      </div>
      <div class="column">
        <p>XXXXXXXXXX</p>
      </div>
    </div>
  </div>
  <form (submit)="onSubmit()">

    <div class="field-section">
      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="mobile"
                 type="text"
                 pattern="[+0-9]*"
                 placeholder="Mobile Number"
                 [(ngModel)]="model.mobile_phone"
                 (change)="errors.mobilePhone = ''; showMobileVerificationButton = false">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.mobilePhone">{{errors.mobilePhone}}</span></div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="homenumber"
                 type="text"
                 pattern="[+0-9]*"
                 placeholder="Home Number"
                 [(ngModel)]="model.home_phone"
                 (change)="errors.homePhone = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.homePhone">{{errors.homePhone}}</span></div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="worknumber"
                 type="text"
                 pattern="[+0-9]*"
                 placeholder="Work Number"
                 [(ngModel)]="model.work_phone"
                 (change)="errors.workPhone = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.workPhone">{{errors.workPhone}}</span></div>
      </div>

      <div class="select row">
        <md-select class="field"
                   name="title"
                   placeholder="Title"
                   [(ngModel)]="model.title"
                   (ngModelChange)="errors.title = ''">
          <md-option *ngFor="let opt of options" [value]="opt">{{opt}}</md-option>
        </md-select>
        <div class="errorMessage"><span *ngIf="errors.title">{{errors.title}}</span></div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="screenname"
                 placeholder="Screen Name"
                 [(ngModel)]="model.screen_name"
                 (change)="errors.screenName = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.screenName">{{errors.screenName}}</span></div>
      </div>
    </div>

    <div class="field-section">
      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="facebook"
                 placeholder="Facebook"
                 [(ngModel)]="model.facebook">
        </md-input-container>
        <div class="errorMessage"></div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="linkedin"
                 placeholder="Linkedin"
                 [(ngModel)]="model.linkedin">
        </md-input-container>
        <div class="errorMessage"></div>
      </div>

      <div class="row">
        <md-input-container class="field">
          <input mdInput
                 name="skype"
                 placeholder="Skype"
                 [(ngModel)]="model.skype">
        </md-input-container>
        <div class="errorMessage"></div>
      </div>
    </div>

    <div class="button-section">
      <div class="left-btn-wrap btn-wrap">
        <button md-raised-button type="button" (click)="back()">
          <i class="material-icons">arrow_back</i>
          Back
        </button>
      </div>
      <div class="center-btn-wrap btn-wrap">
        <button *ngIf="showMobileVerificationButton" md-raised-button class="verify-btn" type="button" (click)="showVerificationPopup()">
          <i class="material-icons">thumb_up</i>
          Verify Mobile
        </button>
      </div>
      <div class="right-btn-wrap btn-wrap">
        <button *ngIf="!showMobileVerificationButton" md-raised-button type="submit" class="positive-btn right-btn">
          <i class="material-icons">arrow_forward</i>
          Next
        </button>
      </div>
      <div class="contact-text-center" *ngIf="showMobileVerificationButton">
        We use your mobile number for verifying all transactions. So let's take a moment to confirm your mobile number is correct and you have access to it.<br /><br />
        Once you have confirmed your contact details, press Verify Mobile and we will send you a verification code within a minute or two. Enter the code sent to your mobile on the following screen to complete your verification.
      </div>
    </div>
    <md-divider></md-divider>
    <h2 class="calculate-title">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - SUCCESS</h2>
    <div class="calculate-information">
      <div class="calculate-item" *ngIf="quote.amount">
        <h3 class="value">
          {{quote.amount | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Loan Amount</p>
      </div>
      <div class="calculate-item" *ngIf="quote.monthly_payment">
        <h3 class="value">
          {{quote.monthly_payment | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
      <div class="calculate-item" *ngIf="quote.term">
        <h3 class="value">
          {{quote.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
      <div class="calculate-item" *ngIf="quote.rate">
        <h3 class="value">
          {{quote.contract_rate/100 | percent:'.0-2'}}
        </h3>
        <p class="label">Contract Rate</p>
      </div>
    </div>
  </form>

</div>

