@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;

  .main-header {
    text-align: center;
  }
}

.details {
  &-section {
    background-color: white;
    position: relative;
    padding: 20px;
    border: 2px solid black;
  }

  &-header {
    background-color: inherit;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: -13px;
    left: 20px;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      width: 200px;
      font-weight: bold;
    }
  }
}

.field-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .row {
    margin-right: 3%;
    width: 30%;
    margin-top: 2em;

    @media (max-width : 768px) {
      width: 45%;
      margin-right: 4%;
    }

    @media (max-width : 480px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .field {
    width: 100%;
  }
}

.select {
  position: relative;
  top: 8px;
}

.button-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 600px;
  min-width: 300px;

  .btn-wrap {
    width: 33.3%;
  }

  .center-btn-wrap {
    text-align: center;
  }

  .right-btn-wrap {
    text-align: end;
  }

  .right-btn {
    text-align: end;
  }

  .verify-btn {
    display: inline-block;
    background-color: $orange-accent-color;
    color: white;
  }
}

.contact-text-center {
  text-align: center;
  padding-top: 10px;
  clear: both;
}
