.invest-container {
  padding-top: 50px;
  box-sizing: border-box;
  padding-bottom: 35px;
  background-image: url("../../assets/img/bg-borrow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px auto;
  background-position: -200px 50px;
  min-height: calc(100% - 70px);
}
