<?xml version='1.0' encoding='UTF-8'?>
<callvalidate>
    <authentication>
        <company>{{ authentication.company }}</company>
        <username>{{ authentication.username }}</username>
        <password>{{ authentication.password }}</password>
    </authentication>
    <sessions>
        <session RID="{{ requestID }}">
            <data>
                <Personalinformation>
                    <IndividualDetails>
                        <Dateofbirth>{{ userDetails.birthdate|date('d-m-Y') }}</Dateofbirth>
                        <Title>{{ userDetails.title }}</Title>
                        <Firstname>{{ userDetails.firstName }}</Firstname>
                        <Surname>{{ userDetails.lastName }}</Surname>
                    </IndividualDetails>
                    <AddressDetails>
                        <Buildingnumber>{{ address.buildingNumber }}</Buildingnumber>
                        <Address1>{{ address.line1 }}</Address1>
                        <Town>{{ address.city }}</Town>
                        <Postcode>{{ address.postalCode }}</Postcode>
                    </AddressDetails>
                </Personalinformation>
            </data>
        </session>
    </sessions>
    <application>{{ application }}</application>
</callvalidate>