<div class="c-user-card">
  <div class="c-user-card__header">
    <h2>Instalments</h2>
  </div>
  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
          Inst ID
        </th>
        <th class="table__header-cell">
          LoanApply ID
        </th>
        <th class="table__header-cell">
          Period Number
        </th>
        <th class="table__header-cell">
          Payment Day
        </th>
        <th class="table__header-cell">
          Instalment
        </th>
        <th class="table__header-cell">
          Interest
        </th>
        <th class="table__header-cell">
          Principle
        </th>
        <th class="table__header-cell">
          Balance
        </th>
        <th class="table__header-cell">
          Outstanding
        </th>
        <th class="table__header-cell">
          Allocation
        </th>
        <th class="table__header-cell">
          Installment Status
        </th>
        <th class="table__header-cell">
          Payment Status
        </th>
        <th class="table__header-cell">
          Payment Amount
        </th>
        <th class="table__header-cell">
          Creation Date
        </th>
      </tr>
      <ng-container *ngIf="instalmentsData.length">
        <ng-container *ngFor="let instalment of instalmentsData">
          <tr class="table__body-tr" [class.grey]="instalment.paymentStatus == 1000">
            <td class="table__cell">{{instalment.instalment_id}}</td>
            <td class="table__cell">{{instalment.loan_apply_id}}</td>
            <td class="table__cell">{{instalment.period}}</td>
            <td class="table__cell">{{convertDateForDisplay(instalment.payment_date)}}</td>
            <td class="table__cell">{{instalment.instalment | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{instalment.interest  | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell principle">{{instalment.principle | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{instalment.balance | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{instalment.outstanding | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{instalment.allocation | currency:'GBP':true:'.0-2'}}</td>
            <td class="table__cell">{{instalmentStatus[instalment.installmentStatus]}}</td>
            <td class="table__cell">{{paymentStatus[instalment.paymentStatus]}}</td>
            <td class="table__cell">{{instalment.paymentAmount}}</td>
            <td class="table__cell">{{convertDateForDisplay(instalment.created_at)}}</td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!instalmentsData.length">
        <tr>
          <td colspan="14" class="table__cell">
            <div class="badge badge-warning">Instalments are not generated</div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
