<div class="dialog">
  <div *ngIf="step == 1">
    <input style="display: none" class="form-check-input" type="radio" name="type" id="type0" [(ngModel)]="type"
           value="">
    <div class="c-user-card__content">
      <table class="b-table table">
        <tr class="table__body-tr">
          <th class="table__header-cel">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="type" id="type1" [(ngModel)]="type" value="ISA">
              <label class="form-check-label" for="type1">
                ISA
              </label>
            </div>
          </th>
          <th class="table__header-cell">{{data.ISA.cash_amount | currency:'GBP':true:'.0-2'}}</th>
        </tr>
        <tr class="table__body-tr">
          <th class="table__header-cell">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="type" id="type2" [(ngModel)]="type" value="GEN">
              <label class="form-check-label" for="type2">
                GENERAL
              </label>
            </div>
          </th>
          <th class="table__header-cell">{{data.GEN.cash_amount | currency:'GBP':true:'.0-2'}}</th>
        </tr>
        <tr class="table__body-tr">
          <th class="table__header-cell">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="type" id="type3" [(ngModel)]="type" value="SIPP">
              <label class="form-check-label" for="type3">
                SIPP
              </label>
            </div>
          </th>
          <th class="table__header-cell">{{data.SIPP.cash_amount | currency:'GBP':true:'.0-2'}}</th>
        </tr>
      </table>
    </div>
    <button class="btn" (click)="amount()">Amount</button>
  </div>
  <div *ngIf="step == 2">
    <div class="c-user-card__content">
      <table class="b-table table">
        <tr>
          <th class="table__header-cell">
            Fund
          </th>
          <th class="table__header-cell">
            Cash Available
          </th>
          <th class="table__header-cell">
            Withdraw Amount
          </th>
        </tr>
        <tr class="table__body-tr">
          <td class="table__cell">{{amountData.name}}</td>
          <td class="table__cell">{{amountData.cash_amount}}</td>
          <td class="table__cell"><input [(ngModel)]="withdraw_amount" type="number"></td>
        </tr>
      </table>
      <!--<div class="text">
        We use your mobile number (+44778900000) to authenticate all transactions. So lets take a moment to confirm your mobile number is correct and you have access to it.<br /><br />
        Verify and we will send you a verification code within a minute or two. Enter that code sent to your mobile on the following screen to complete your verification.
      </div>-->
      <div class="errorMessage"><span *ngIf="error">{{error}}</span></div>
      <div class="dialog__form-buttons">
        <button class="btn btn-danger" (click)="dialogRef.close()">Cancel</button>
        <button class="btn" (click)="verify()"><!--Verify Transaction-->Confirm</button>
      </div>
    </div>
  </div>
  <div *ngIf="step == 3">
    <h4>Verification</h4>
    <div class="text">
      You have requested to withdraw {{withdraw_amount| currency:'GBP':true}} from the {{amountData.cash_amount}}
      fund.<br/>
      Please enter that verification code sent to your mobile (+44778900000) to complete your transaction.<br/>
      If it has not arrived within 1 or 2 minutes then please request a new code.
    </div>
    <button class="btn" (click)="confirm()">Confirm Transaction</button>
  </div>
  <div *ngIf="step == 4">
    <h4>Thank you</h4>
    <div class="text">
      Your withdrawal has been completed.<br/>
      Next Steps - Parturient tortor a eu nisl fringilla parturient montes ad scelerisque primis scelerisque sem duis
      sem vestibulum suspendisse eros ullamcorper a vestibulum id parturient eget ac.
    </div>
    <button class="btn" (click)="dialogRef.close()">Go to Dashboard</button>
  </div>
</div>
