.comment {
  width: 100%;
  padding: 5px;
  min-height: 250px;
  border-radius: 5px;
}
input[type=number] {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 1px solid #000000;
}
.text {
  margin-bottom: 10px;
  font-size: 14px;
}
.dialog__form-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}