<!--<ul class="left-block">-->
<!--<li><a [routerLink]="[linkInvest]" [ngClass]="{'active': activeTab === 'invest'}">Invest</a></li>-->
<!--<li><a [routerLink]="[linkBorrow]" [ngClass]="{'active': activeTab == 'borrow'}">Borrow</a></li>-->
<!--</ul>-->

<header class="main-menu">
  <div class="menu">
    <a [routerLink]="[linkMain]">Home</a>
    <a *ngIf="clientStatus == 'borrower' || loginPage" [routerLink]="[linkInvest]">Invest</a>
  </div>
  <a class="logo" [routerLink]="[linkMain]">
    <img src="../../../assets/img/logo.png" alt="site logo">
  </a>
  <div class="menu">
    <a *ngIf="clientStatus == 'investor' || loginPage" [routerLink]="[linkBorrow]">Borrow</a>
    <a href="https://www.wh.money/our-story/">Our Story</a>
    <!--<a md-icon-button [mdMenuTriggerFor]="menu">
      Join <i class="material-icons">expand_more</i>
    </a>-->
  </div>
</header>
<!--
<md-menu #menu="mdMenu" class="md-menu">
  <ul class="menu">
    <li><a [routerLink]="[linkBorrow]" [ngClass]="{'active': activeTab == 'borrow'}">Create Borrower Account</a></li>
    <li><a [routerLink]="[linkInvest]" [ngClass]="{'active': activeTab === 'invest'}">Create Investment Account</a></li>
  </ul>
</md-menu>-->
