@import "../../../css/_variables";

ul.menu {
  padding: 0;
  & li {
    padding:5px 10px;
    &:hover {
      background-color: #ccc;
    }
    a {
      font-size: 15px;
    }
  }
}
.main-menu {
  min-width: 300px;
  background-color: $primary-color;
  height: $header-height;
  font-family: 'Hind', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .menu {
    a {
      padding: 0 20px;
      color: #fff;
      text-decoration: none;
      i {
        font-size: 1em;
      }
    }
  }
}

.logo {
  margin: 0 50px;
  font-size: 0;
  img {
    width: auto;
    height: 70px;
  }
}
.material-icons {
  font-size: 1.5em;
}
.material-icons {
  vertical-align: middle;
  font-size: 2.2em;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    font-family: Hind, sans-serif;
    text-decoration: none;
    color: $primary-text-color;
    font-size: 1.5em;
  }

  li {
    margin: 0;
    padding: 20px 0;
    text-align: center;
  }
}
