<admin-header [activeTab]="'clients'"></admin-header>

<section class="b-container">

  <ul class="b-tabs">

    <li><button type="button" class="btn b-tabs__btn" [class.active]="client == 'borrow'" (click)="changeClients('borrow')">Client Borrowers</button> </li>
    <li><button type="button" class="btn b-tabs__btn" [class.active]="client == 'investor'" (click)="changeClients('investor')">Client Lenders</button> </li>
  </ul>

  <app-admin-clients-tabs [client]="client"></app-admin-clients-tabs>

</section>
