@import "../../../css/_variables";


/*
.content-container {
  max-width: 1200px;
  margin-top: 80px;
}

.table {
  width: 100%;
  margin: auto auto 2em auto;
  &__body-tr {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);;
    }
  }
}

.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
  }

  &__header {
    margin: 0;
    padding: 10px 10px 0 10px;
    border: 2px solid black;
    border-bottom: 0 none;
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
    cursor: pointer;
    &.active {
      background-color: #a6a6a6;
    }
  }
}

.client-search {
  position: relative;
  min-width: 300px;

  &__wrap {
    text-align: right;
    margin-bottom: 25px;
  }

  .material-icons {
    position: absolute;
    transform: translateX(-27px);
  }

}

//  pagination to right
/deep/
nav {
  text-align: right;
}



*/
