@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 800px;

  .main-header {
    text-align: center;
  }

  .form-content {
    width: 80%;
    margin: 0 auto;
  }

  .slider {
    &-label {
      display: block;
      color: $secondary-text-color;
      font-size: 1.3em;
      margin-left: 10px;
    }
  }

  .select {
    margin-top: 30px;
  }

  .checkbox-bar {
    margin-top: 30px;
    margin-bottom: 4em;
    .row {
      margin-bottom: 20px;
    }
  }

  .slider {
    &-choose {
      margin-top: 35px;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
    &-wrap {
      width: 77%;
      margin: 0 auto;
    }
  }

  .rating-cell {
    width: 25%;
    float: left;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 35px;
    width: 60%;
    max-width: 300px;
  }
}

@media only screen and (max-width : 480px) {
  .container {
    .form-content,
    .form-buttons {
      width: 90%;
    }
  }
}
