<div class="content-container content-container_stylized">
  <h2 class="main-header">Tell us a bit about your finances.</h2>
  <div class="use-keyboard">You can click on the slider to get in the area of the value you would like, then use the
    left and right arrow keys to get the exact value you want.
  </div>
  <form (submit)="onSubmit()">
    <div class="form-content">
      <div class="slider-bar">
        <label class="slider-label">Total Gross Annual Income - {{model.total_gross_annual |
          currency:'GBP':true:'.0-2'}}</label>
        <div class="slider-input">
          <md-slider name="total_gross_annual"
                     [(ngModel)]="model.total_gross_annual"
                     class="slider"
                     [step]="slider.total_gross_annual.step"
                     [min]="slider.total_gross_annual.min"
                     [max]="slider.total_gross_annual.max"></md-slider>
          <input (change)="getTotalGrossAnnual()" name="total_gross_annual" [(ngModel)]="model.total_gross_annual" class="additionalInput" type="number">
        </div>
      </div>

      <div class="select">
        <md-select name="main_source"
                   placeholder="Main source of income"
                   [(ngModel)]="model.main_source"
                   (ngModelChange)="errors.mainSource = ''">
          <md-option *ngFor="let opt of options" [value]="opt">{{opt}}</md-option>
        </md-select>
        <div class="errorMessage"><span *ngIf="errors.mainSource">{{errors.mainSource}}</span></div>
      </div>

      <div class="checkbox-bar">
        <div class="row">
          <md-checkbox name="is_homeowner"
                       [(ngModel)]="model.is_homeowner">
            I am a Homeowner
          </md-checkbox>
        </div>
        <div class="row">
          <md-checkbox name="has_ccj"
                       [(ngModel)]="model.has_c_c_j">
            I have a current CCJ
          </md-checkbox>
        </div>
        <div class="row">
          <md-checkbox color="primary"
                       name="has_current_default"
                       [(ngModel)]="model.has_current_default">
            I have a current default
          </md-checkbox>
        </div>
      </div>

      <div class="slider-choose">
        <div class="slider-wrap">
          <label class="slider-label">Rate Yourself. How good are you at handling credit?</label>
          <md-slider name="rate"
                     [(ngModel)]="model.rate"
                     class="slider"
                     [step]="slider.rate.step"
                     [min]="slider.rate.min"
                     [max]="slider.rate.max"></md-slider>
        </div>
        <div class="rating-cell">
          Excellent
        </div>
        <div class="rating-cell">
          Good
        </div>
        <div class="rating-cell">
          Average
        </div>
        <div class="rating-cell">
          Poor
        </div>
      </div>
    </div>

    <div class="form-buttons">
      <button md-raised-button type="button" (click)="back()"><i class="material-icons">arrow_back</i> Back</button>
      <button md-raised-button class="positive-btn"><i class="material-icons">arrow_forward</i> Next</button>
    </div>

  </form>
</div>
