@import "../../css/_variables";

.admin-container {
  box-sizing: border-box;
  padding-bottom: 35px;
  background-image: url("../../assets/img/bg-borrow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px auto;
  background-position: -200px 50px;
  min-height: 100%;
}

.container {
  margin-top: 30px;
  min-height: 90.8vh;
}
