<table class="table client-personal-info-width">
  <tr>
    <td>First:</td>
    <td>{{ personal_information.first_name }}</td>
    <td>Middle:</td>
    <td>{{ personal_information.middle_name ? personal_information.middle_name : '-' }}</td>
  </tr>
  <tr>
    <td>Surname:</td>
    <td>{{ personal_information.last_name }}</td>
    <td>Maiden:</td>
    <td>{{ personal_information.maiden_name ? personal_information.maiden_name : '-' }}</td>
  </tr>
  <tr>
    <td>Gender:</td>
    <td>{{ personal_information.gender ? personal_information.gender : '-' }}</td>
    <td>Title:</td>
    <td>{{ personal_information.title ? personal_information.title : '-' }}</td>
  </tr>
  <tr>
    <td>Marital Status:</td>
    <td>{{ personal_information.marital_status ? personal_information.marital_status : '-' }}</td>
    <td>Dependents:</td>
    <td>{{ personal_information.dependents ? displayAgesOfDependents(personal_information.dependents) : '-' }}</td>
  </tr>
  <tr>
    <td>Partner Label:</td>
    <td>{{ personal_information.partner_label ? personal_information.partner_label : '-' }}</td>
    <td>DOB:</td>
    <td>{{ convertDateForDisplay(personal_information.birthdate) }}</td>
  </tr>
</table>
