@import "../../../../../css/_variables";

.table {
  td {
    padding: 0;
  }

  td:nth-child(odd) {
    padding-right: 10px;
    padding-left: 40px;
    font-weight: 500;
    color: $primary-text-color;
  }

  td:first-child {
    padding-left: 0;
  }
}

