@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;

  .main-header {
    text-align: center;
  }
}

.section {
  margin-bottom: 70px;
}

.table-title {
  padding: 0;
}

.table-container {
  box-sizing: border-box;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 0 1em;
  padding-right: 20px;
  padding-left: 20px;
}

.table {
  margin-right: auto;
  margin-left: auto;
}
.slider-input {
  width: 60%;
}
.slider-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .slider {
    width: 60%;
  }

  .slider-calculation {
    width: 40%;

    .value {
      color: $primary-color;
      font-size: 2em;
      text-align: center;
      margin: 0;
    }

    .label {
      text-align: center;
      font-weight: normal;
      color: $secondary-text-color;
      font-size: 1.2em;
    }
  }
}

.alert-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .alert-window {
    min-width: 240px;
    border: 2px solid $negative-accent-color;
    border-radius: 20px;
    margin-bottom: 15px;
  }

  .value {
    color: $negative-accent-color;
    font-size: 4em;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
    text-align: center;
  }

  .label {
    color: $secondary-text-color;
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
}

.text-block {
  width: 90%;
  margin: 0 auto 30px;
}

.checkbox {
  margin-top: 15px;
}

.button-section {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px auto 35px;
  width: 80%;
  min-width: 300px;
}
.terms-of-use {
  height:150px;
  overflow: auto;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .calculate-section,
  .button-section {
    width: 100%;
  }
}

