<div class="content-container">
  <h2 class="main-header">Three simple steps to personalising your Wealth Harbour Loan Solution</h2>
</div>
<form (submit)="onSubmit()">

  <div class="section" *ngIf="creditLines.length">
    <h3 class="table-title content-container">Step One: Choose Credit Lines to be refinanced</h3>
    <div class="table-container">
      <table class="table">
        <tr>
          <th class="table__header-cell">Type of Credit</th>
          <th class="table__header-cell">Creditor Name</th>
          <th class="table__header-cell">dClutter</th>
          <th class="table__header-cell">Close</th>
          <th class="table__header-cell">BalanceInput</th>
          <th class="table__header-cell">Interest Rate</th>
          <th class="table__header-cell">Monthly Payment</th>
          <th class="table__header-cell">Total Interest</th>
          <th class="table__header-cell">Total to repay</th>
          <th class="table__header-cell">Months to Clear</th>
        </tr>

        <tr class="table__row" *ngFor="let item of creditLines; let i = index">
          <td class="table__cell">{{ getCreditType(item.type) }}</td>
          <td class="table__cell">{{ item.name }}</td>
          <td class="table__cell">
            <md-checkbox name="deClutter{{i}}"
                         color="primary"
                         [(ngModel)]="item.deClutter"
                         (change)="changeDeClutterCheckbox(item)"></md-checkbox>
          </td>
          <td class="table__cell">
            <md-checkbox name="close{{i}}"
                         color="primary"
                         [(ngModel)]="item.close"
                         [disabled]="!item.deClutter"
                         (change)="changeCloseCheckbox()"></md-checkbox>
          </td>
          <td class="table__cell">{{ item.balance_input | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.apr/100 | percent:'.0-2' }}</td>
          <td class="table__cell">{{ item.monthly_payment | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.total_interest | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.total_repaid | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ item.total_months_to_clear }}</td>
        </tr>

        <tr class="table__row">
          <td class="table__cell"></td>
          <td class="table__cell">Total</td>
          <td class="table__cell"></td>
          <td class="table__cell"></td>
          <td class="table__cell">{{ model.totalBalanceInput | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ model.totalInterestRate/100 | percent:'.0-2' }}</td>
          <td class="table__cell">{{ model.totalMonthlyPayment | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ model.totalTotalInterest | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ model.totalTotalToRepay | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{model.totalMonthsToClear}}</td>
        </tr>
        <tr class="table__row">
          <td class="table__cell"></td>
          <td class="table__cell">dClutter In-Scope</td>
          <td class="table__cell"></td>
          <td class="table__cell"></td>
          <td class="table__cell">{{ model.deClutterBalanceInput | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ model.deClutterInterestRate/100 | percent:'.0-2' }}</td>
          <td class="table__cell">{{ model.deClutterMonthlyPayment | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ model.deClutterTotalInterest | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{ model.deClutterTotalToRepay | currency:'GBP':true:'.0-2' }}</td>
          <td class="table__cell">{{model.deClutterMonthsToClear}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="section content-container" *ngIf="model.showCalculateSection">
    <h3>Step Two: Choose the terms that give you the best outcome</h3>
    <div class="use-keyboard">You can click on the slider to get in the area of the value you would like, then use the
      left and right arrow keys to get the exact value you want.
    </div>
    <div class="slider-row">
      <md-slider class="slider"
                 name="monthlyPayment"
                 [step]="slider.monthlyPayment.step"
                 [min]="slider.monthlyPayment.min"
                 [max]="slider.monthlyPayment.max"
                 [(ngModel)]="slider.monthlyPayment.value"
                 (change)="changeMonthlyPaymentValue()"></md-slider>
      <div class="slider-calculation">
        <h3 class="value">
          {{ model.monthlyPayment | currency:'GBP':true:'.0-2' }}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
    </div>

    <div class="slider-row">
      <md-slider class="slider"
                 name="term"
                 [step]="slider.term.step"
                 [min]="slider.term.min"
                 [max]="slider.term.max"
                 [(ngModel)]="slider.term.value"
                 (change)="changeTermValue()"></md-slider>
      <div class="slider-calculation">
        <h3 class="value">
          {{model.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
    </div>
  </div>
  <md-divider></md-divider>


  <div class="section calculate-section content-container" *ngIf="model.showCalculateSection">
    <h3>Step Three: Submit your loan request</h3>
    <div class="calculate-information">
      <div class="calculate-item">
        <h3 class="value">
          {{ model.deClutterLoanAmount | currency:'GBP':true:'.0-2' }}
        </h3>
        <p class="label">Loan Amount</p>
      </div>
      <div class="calculate-item">
        <h3 class="value">
          {{ model.monthlyPayment | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
      <div class="calculate-item">
        <h3 class="value">
          {{model.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
      <div class="calculate-item">
        <h3 class="value">
          {{ model.interestRate/100 | percent:'.0-2' }}
        </h3>
        <p class="label">Contract Rate</p>
      </div>
    </div>

    <div class="alert-block">
      <div class="alert-window">
        <h3 class="value">
          {{ model.interestSaved | currency:'GBP':true:'.0-2' }}
        </h3>
        <p class="label">Interest Saved*</p>
      </div>
      <div class="alert-window">
        <h3 class="value">
          {{ model.monthsSaved }}
        </h3>
        <p class="label">Debt Months Saved**</p>
      </div>
    </div>

    <div class="terms-of-use">
      <app-terms-of-use></app-terms-of-use>
    </div>

    <md-checkbox class="checkbox" color="primary" name="terms" [checked]="false" [(ngModel)]="terms">
      Accept WH Terms & Conditions
    </md-checkbox>
  </div>

  <div class="button-section">
    <button md-raised-button type="button" (click)="back()">
      <i class="material-icons">arrow_back</i>
      Back
    </button>
    <button md-raised-button type="submit" class="positive-btn" [disabled]="!terms">
      <i class="material-icons">arrow_forward</i>
      Submit Loan Application
    </button>
  </div>
</form>


