@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 500px;

  .main-header {
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-content {
    width: 80%;
    margin: 0 auto;
  }

  .row {
    display: block;
    margin-top: 2em;
  }

  .form-buttons {
    &:after {
      content: "";
      display: table;
      clear: both;
    }

    margin: 50px auto 35px;
    width: 60%;
    max-width: 300px;

    .positive-btn.md-primary {
      float: right;
    }
  }
}

@media only screen and (max-width : 480px) {
  .container {
    .form-content,
    .form-buttons {
      width: 90%;
    }
  }
}
