<div class="content-container content-container_stylized">
  <h2 class="main-header">To start enjoying the healthy returns offered on the Wealth Harbour platform, simply enter your details and create your account in minutes.</h2>
  <form (submit)="onSubmit()">

    <div class="form-content">
      <md-input-container class="row">
        <input mdInput
               name="firstname"
               placeholder="First name"
               [(ngModel)]="model.firstname"
               (change)="errors.firstname = ''">
      </md-input-container>
      <div class="description">
        We need this so we can identify you, and know who we are working with
      </div>
      <div class="errorMessage"><span *ngIf="errors.firstname">{{errors.firstname}}</span></div>

      <md-input-container class="row">
        <input mdInput
               name="lastname"
               placeholder="Surname"
               [(ngModel)]="model.lastname"
               (change)="errors.lastname = ''">
      </md-input-container>
      <div class="description">
        We need this so we can identify you, and know who we are working with
      </div>
      <div class="errorMessage"><span *ngIf="errors.lastname">{{errors.lastname}}</span></div>

      <div class="date-field">
        <md-input-container class="row date">
          <input mdInput
                 name="birthdate"
                 placeholder="Date of Birth (dd/mm/yyyy)"
                 [(ngModel)]="model.birthdate"
                 (ngModelChange)="errors.birthdate = ''; onChangeDateInput()"
                 [textMask]="{mask: mask}">
        </md-input-container>
        <input type="text"
               name="hidden_input"
               class="date-hidden-input"
               [(ngModel)]="birthdateObj"
               (ngModelChange)="errors.birthdate = ''; onChangeDateCalendar()"
               ngbDatepicker #d="ngbDatepicker"/>
        <md-icon class="datepicker-icon" (click)="d.toggle()">date_range</md-icon>
      </div>
      <div class="description">
        We need this so we can identify you, and know who we are working with
      </div>
      <div class="errorMessage"><span *ngIf="errors.birthdate">{{errors.birthdate}}</span></div>

      <md-input-container class="row">
        <input mdInput
               name="username"
               placeholder="Email"
               type="email"
               [(ngModel)]="model.username"
               (change)="errors.username = ''">
      </md-input-container>
      <div class="description">
        This is your unique identifier on the Wealth Harbour system, which is used for logging onto our platform and communicating with you.
      </div>
      <div class="errorMessage"><span *ngIf="errors.username">{{errors.username}}</span></div>

      <md-input-container class="row">
        <input mdInput
               name="password"
               placeholder="Password"
               type="password"
               [(ngModel)]="model.password"
               (change)="errors.password = ''">
      </md-input-container>
      <div class="description">
        In order to keep your account secure, you need to set a strong password. Your password must be contain at least 8 characters, and include at least 1 capital letter and 1 number (from 0 to 9). Your password is case sensitive.
      </div>
      <div class="errorMessage"><span *ngIf="errors.password">{{errors.password}}</span></div>

      <md-input-container class="row">
        <input mdInput
               name="plain_password"
               placeholder="Confirm Password"
               type="password"
               [(ngModel)]="model.plain_password"
               (change)="errors.plainPassword = ''">
      </md-input-container>
      <div class="errorMessage"><span *ngIf="errors.plainPassword">{{errors.plainPassword}}</span></div>

    </div>

    <div class="form-buttons">
      <button md-raised-button type="submit" class="positive-btn" style="float: right;">
        <i class="material-icons">arrow_forward</i>
        Next
      </button>
    </div>

  </form>
</div>
