<section class="border-block__section__section" *ngIf="transactions.length">
  <div class="c-user-card__header">
    <h2>Transactions</h2>
  </div>
  <div class="c-user-card__content">
    <table class="table">
      <tr>
        <th class="table__header-cell">
          Transaction ID
        </th>
        <th class="table__header-cell">
          EventID
        </th>
        <th class="table__header-cell">
          Event Type
        </th>
        <th class="table__header-cell">
          ParentTransaction
        </th>
        <th class="table__header-cell">
          TransactionCCY
        </th>
        <th class="table__header-cell">
          TransactionAmt
        </th>
        <th class="table__header-cell">
          ClientID
        </th>
        <th class="table__header-cell">
          InvestmentType
        </th>
        <th class="table__header-cell">
          AgreementID
        </th>
        <th class="table__header-cell">
          OfferID
        </th>
        <th class="table__header-cell">
          GLAccount
        </th>
        <th class="table__header-cell">
          SubAccount
        </th>
        <th class="table__header-cell">
          Transaction Owner
        </th>
        <th class="table__header-cell">
          Transaction Account
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let transaction of transactions">
        <td class="table__cell">{{ transaction.transaction_id }}</td>
        <td class="table__cell">{{ transaction.event.id }}</td>
        <td class="table__cell">{{ transaction.event.type}}</td>
        <td class="table__cell">{{transaction.parent_transaction?.id}}</td>
        <td class="table__cell">{{ transaction.transaction_ccy }}</td>
        <td class="table__cell">{{ transaction.transaction_amount | currency:'GBP':true:'.2' }}</td>
        <td class="table__cell">{{transaction.user?.id}}</td>
        <td class="table__cell">{{ transaction.investment_type}}</td>
        <td class="table__cell">{{transaction.agreement_id}}</td>
        <td class="table__cell">{{ transaction.offer_id }}</td>
        <td class="table__cell">{{ transcationGlAccountStatus[transaction.gl_account] }}</td>
        <td class="table__cell">{{ transcationSubAccountStatus[transaction.transaction_sub_account] }}</td>
        <td class="table__cell">{{ transcationOwnerStatus[transaction.transaction_owner] }}</td>
        <td class="table__cell">{{ transcationAccountStatus[transaction.transaction_account] }}</td>
        <!--<td class="table__cell"><button (click)="confirmWithdraw(withdraw.transaction_id)" class="btn">Withdraw</button></td>-->
      </tr>
    </table>
  </div>
  <div class="client-pagination">
    <ngb-pagination *ngIf="count > limit"
                    [collectionSize]="count"
                    [pageSize]="limit"
                    [(page)]="page"
                    (pageChange)="pageChanged()"
                    [maxSize]="10">
    </ngb-pagination>
  </div>
</section>
