<div class="table-section" *ngIf="logs.length">
  <table class="table table_stretched">

    <tr>
      <th class="table__header-cell">Date</th>
      <th class="table__header-cell">Action</th>
    </tr>

    <tr *ngFor="let item of logs">
      <td class="table__cell">{{ item.displayedDate }}</td>
      <td class="table__cell" [innerHTML]="item.displayedAction | safe: 'html'"></td>
    </tr>

  </table>
</div>
