@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;
}

.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 0 5px;
  }

  &__header {
    margin: 0;
    padding: 10px 10px 0 10px;
    border: 2px solid black;
    border-bottom: 0 none;
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
    cursor: pointer;
    &.active {
      background-color: #a6a6a6;
    }
    &.disabled {
      opacity: .3;
    }
  }
}

.offer-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.description {
  &.center {
    text-align: center;
  }
}
.offer {
  width: 45%;
  margin: 0 2% 15px;
  min-height: 20em;
  border: 2px solid black;
  padding: 5px;
  box-sizing: border-box;

  @media (max-width: 650px) {
    width: 100%;
  }
}
