<div class="content-container">
  <h2>
    Welcome to your Wealth Harbour Dashboard
  </h2>
  <div class="row">
    <div class="col">
      <b>Name:</b> {{user?.first_name}} {{user?.last_name}}
    </div>
    <div class="col">
      <b>Screen Name:</b> {{user?.screen_name}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <b>Email:</b> {{user?.user?.username}}
    </div>
    <div class="col">
      <b>My MarketPlace ID:</b> {{user?.id}}
    </div>
  </div>
  <ul class="b-tabs">
    <li *ngIf="item.length"><button type="button" class="btn b-tabs__btn" [class.active]="tab == 'dashboard'" (click)="changeTab('dashboard')">Ongoing Activity</button></li>
    <li *ngIf="clientStatus == 'investor'"><button type="button" class="btn b-tabs__btn" [class.active]="tab == 'investments'" (click)="changeTab('investments')">My Investments</button></li>
    <li *ngIf="clientStatus == 'borrower'"><button type="button" class="btn b-tabs__btn" [class.active]="tab == 'loans'" (click)="changeTab('loans')">My Loans</button></li>
  </ul>

  <dashboard-tab *ngIf="tab == 'dashboard'" [id]="id"></dashboard-tab>
  <app-investments-tab *ngIf="tab == 'investments'"></app-investments-tab>
  <app-loans-tab *ngIf="tab == 'loans'"></app-loans-tab>
 <!-- <div class="offer-section" *ngIf="clientStatus === 'borrower'">
    <div class="offer">
      Work with Wealth Harbour's turn key solution to reduce the cost of borrowing,
      learn how money works, and increase your ability to save more each month to get ahead.
    </div>
    <div class="offer">
      The rate and fee that you are offered for your personal loan will differ depending on your individual circumstances.<br /><br />
      We directly match you with people looking to invest, and looking to invest in people. It's our way of getting a fairer deal for all.<br /><br />
      Our APRs range from 5.95% to 17.64%, and will be reviewed from time to time.<br />
    </div>
  </div>
  <div class="offer-section" *ngIf="clientStatus === 'investor'">
    <div class="offer">
      Get better, more sustainable returns.<br />
      By-pass the banks.<br />
      Catered lending directly to vetted borrowers.<br />
    </div>
    <div class="offer">
      Current rates from 1-5 years.
    </div>
  </div>
  <div class="description center">
    Your capital is at risk, <a target="_blank" href="https://www.wh.money/understanding-the-risk">read more</a>.
  </div>-->
</div>

