<div class="dialog">
  <h2 class="dialog__title">{{index === -1?'Add':'Update'}} occupation history</h2>
  <form (submit)="addUpdateEmployment()">
    <div class="dialog__form-content">

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="businessname"
                 placeholder="Business Firm's Name"
                 [(ngModel)]="employment.business_firm_name"
                 (change)="errors.business_firm_name = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.business_firm_name">{{errors.business_firm_name}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="profession"
                 placeholder="Industry or Profession"
                 [(ngModel)]="employment.industry"
                 (change)="errors.industry = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.industry">{{errors.industry}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="postcode"
                 placeholder="Business PostCode"
                 [(ngModel)]="employment.occ_postal_code"
                 (change)="errors.occ_postal_code = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.occ_postal_code">{{errors.occ_postal_code}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="country"
                 placeholder="Business' Country"
                 [(ngModel)]="employment.occ_country"
                 (change)="errors.occ_country = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.occ_country">{{errors.occ_country}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="qualification"
                 placeholder="Professional qualification"
                 [(ngModel)]="employment.prof_qual"
                 (change)="errors.prof_qual = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.prof_qual">{{errors.prof_qual}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="status"
                 placeholder="Occupation Status"
                 [(ngModel)]="employment.occ_status"
                 (change)="errors.occ_status = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.occ_status">{{errors.occ_status}}</span></div>
      </div>

      <div class="dialog__row">
        <md-input-container class="dialog__field">
          <input mdInput
                 name="job"
                 placeholder="Job Description"
                 [(ngModel)]="employment.job_description"
                 (change)="errors.job_description = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.job_description">{{errors.job_description}}</span></div>
      </div>

      <div class="dialog__row">
        <div class="date-select-wrap">
          <md-select class="date-select"
                     name="month_start"
                     placeholder="Month of start"
                     [(ngModel)]="month_start"
                     (ngModelChange)="errors.occ_month_started = ''">
            <md-option *ngFor="let item of months" [value]="item">{{item}}</md-option>
          </md-select>

          <md-select class="date-select"
                     name="year_start"
                     placeholder="Year of start"
                     [(ngModel)]="year_start"
                     (ngModelChange)="errors.occ_month_started = ''">
            <md-option *ngFor="let item of years" [value]="item">{{item}}</md-option>
          </md-select>
        </div>
        <div class="errorMessage"><span *ngIf="errors.occ_month_started">{{errors.occ_month_started}}</span></div>
      </div>

      <div class="dialog__row">
        <div class="date-select-wrap">
          <md-select class="date-select"
                     name="month_end"
                     placeholder="Month of end"
                     [(ngModel)]="month_end"
                     (ngModelChange)="errors.occ_month_ended = ''">
            <md-option *ngFor="let item of months" [value]="item">{{item}}</md-option>
          </md-select>
          <md-select class="date-select"
                     name="year_end"
                     placeholder="Year of end"
                     [(ngModel)]="year_end"
                     (ngModelChange)="errors.occ_month_ended = ''">
            <md-option *ngFor="let item of years" [value]="item">{{item}}</md-option>
          </md-select>
        </div>
        <div class="errorMessage"><span *ngIf="errors.occ_month_ended">{{errors.occ_month_ended}}</span></div>
      </div>

      <div class="dialog__row dialog__radio-row">

        <label>Current status: </label>
        <md-radio-group class="radio-group"
                        name="current"
                        [(ngModel)]="employment.current_status">
          <md-radio-button [value]="false">No</md-radio-button>
          <md-radio-button [value]="true">Yes</md-radio-button>
        </md-radio-group>
      </div>

    </div>


    <div class="dialog__form-buttons" *ngIf="index === -1">
      <button md-raised-button type="button" class="negative-btn" (click)="dialogRef.close()">
        <i class="material-icons">clear</i>
        Cancel
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Add
      </button>
    </div>

    <div class="dialog__form-buttons" *ngIf="index !== -1">
      <button md-raised-button type="button" class="negative-btn" (click)="deleteEmployment(index)">
        <i class="material-icons">delete</i>
        Delete
      </button>
      <button md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">create</i>
        Update
      </button>
    </div>

  </form>
</div>
