<div class="content-container">
  <h2 class="main-header">Please provide additional information for your Loan Application.</h2>
  <div class="income-section">
    <h4 class="income-header">Income & Work</h4>
    <div class="income-box">
      <div class="column">
        <p class="label">Total Gross Annual Income</p>
        <p>{{model.total_income_gross_ann ? (model.total_income_gross_ann | currency:'GBP':true:'.0-2') : ''}}</p>
      </div>
      <div class="column">
        <p class="label">Main Source of Income</p>
        <p>{{model.main_income_source ? model.main_income_source : ''}}</p>
      </div>
      <div class="column">
        <p class="label">Net Monthly Income</p>
        <p>{{model.total_net_income_monthly | currency:'GBP':true:'.0-2'}}</p>
      </div>
    </div>
  </div>
</div>

<form (submit)="onSubmit()">
  <div class="field-section content-container">
    <div class="row">
      <md-input-container class="field">
        <input mdInput
               type="number"
               step="0.01"
               name="mainincome"
               placeholder="Main Gross Annual Income"
               [(ngModel)]="model.main_income_gross_ann"
               (change)="errors.main_income_gross_ann = ''">
      </md-input-container>
      <div class="description">
        This is the income you receive from your main source.
      </div>
      <div class="errorMessage"><span *ngIf="errors.main_income_gross_ann">{{errors.main_income_gross_ann}}</span></div>
    </div>

    <div class="row">
      <md-input-container class="field">
        <input mdInput
               type="number"
               step="0.01"
               name="otherincome"
               placeholder="Other Gross Annual Income"
               [(ngModel)]="model.other_income_gross_ann"
               (change)="errors.other_income_gross_ann = ''">
      </md-input-container>
      <div class="description">
        This is if you have income from other sources, such as interest or a second job.
      </div>
      <div class="errorMessage"><span *ngIf="errors.other_income_gross_ann">{{errors.other_income_gross_ann}}</span></div>
    </div>

    <div class="row">
      <md-input-container class="field">
        <input mdInput
               type="number"
               step="0.01"
               name="totalnetincome"
               placeholder="Total Net Monthly Income"
               [(ngModel)]="model.total_net_income_monthly"
               (change)="errors.total_net_income_monthly = ''">
      </md-input-container>
      <div class="description">
        This is the amount you receive each month after tax.
      </div>
      <div class="errorMessage"><span *ngIf="errors.total_net_income_monthly">{{errors.total_net_income_monthly}}</span></div>
    </div>
    <div class="row">
      <md-input-container class="field">
        <input mdInput
               name="accname"
               placeholder="Name of Bank Account"
               [(ngModel)]="bankDetails.bank_account_name"
               (change)="errors.bank_account_name = ''">
      </md-input-container>
      <div class="description">
        The name that appears on your bank account.
      </div>
      <div class="errorMessage"><span *ngIf="errors.bank_account_name">{{errors.bank_account_name}}</span></div>
    </div>
    <div class="row">
      <md-input-container class="field">
        <input mdInput
               name="sortcode"
               placeholder="Bank Sort Code"
               [(ngModel)]="bankDetails.bank_sort_code"
               (change)="errors.bank_sort_code = ''"
                maxlength="6">
      </md-input-container>
      <div class="description">
        We require this information to verify your income. Please provide the details for the account that receives your Main Income payments.
      </div>
      <div class="errorMessage"><span *ngIf="errors.bank_sort_code">{{errors.bank_sort_code}}</span></div>
    </div>
    <div class="row">
      <md-input-container class="field">
        <input mdInput
               name="accnumber"
               placeholder="Bank Account Number"
               [(ngModel)]="bankDetails.bank_account_number"
               (change)="errors.bank_account_number = ''"
                maxlength="12">
      </md-input-container>
      <div class="errorMessage"><span *ngIf="errors.bank_account_number">{{errors.bank_account_number}}</span></div>
    </div>
  </div>

  <div class="table-section" *ngIf="employments.length">
    <h3 class="table-title content-container">Your Occupation History</h3>
    <div class="table-container">
      <table class="table">
        <tr>
          <th class="table__header-cell">Business Name</th>
          <th class="table__header-cell">Industry/Profession</th>
          <th class="table__header-cell">Business PostCode</th>
          <th class="table__header-cell">Ocupation Status</th>
          <th class="table__header-cell">Start Month</th>
          <th class="table__header-cell">Current</th>
          <th class="table__header-cell">End Month</th>
          <th class="table__header-cell">Job Description</th>
        </tr>

        <tr *ngFor="let employment of employments" (click)="editEmployment(employment)" style="cursor: pointer">
          <td class="table__cell">{{ employment.business_firm_name }}</td>
          <td class="table__cell">{{ employment.industry }}</td>
          <td class="table__cell">{{ employment.occ_postal_code }}</td>
          <td class="table__cell">{{ employment.occ_status }}</td>
          <td class="table__cell">{{ convertDateForDisplay(employment.occ_month_started) }}</td>
          <td class="table__cell">{{ employment.current_status ? 'Yes' : 'No' }}</td>
          <td class="table__cell">{{ convertDateForDisplay(employment.occ_month_ended) }}</td>
          <td class="table__cell">{{ employment.job_description }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="contact-text-center">
    Please let us know where you have worked. At least 5 years of work history is required for us to process your application.
  </div>
  <div class="button-section">
    <button md-raised-button type="button" (click)="back()">
      <i class="material-icons">arrow_back</i>
      Back
    </button>
    <button md-raised-button type="button" class="positive-btn" (click)="showOccupationPopup()">
      <i class="material-icons">add</i>
      Add Occupation (5-years)
    </button>
    <button md-raised-button type="submit" class="positive-btn" [disabled]="shortEmploymentPeriod">
      <i class="material-icons">arrow_forward</i>
      Next
    </button>
  </div>
  <md-divider></md-divider>

  <div class="calculate-section content-container">
    <h2 class="calculate-title">Your Loan Quote Result - QR{{paddingZeroService.pad(quoteId, 6, null)}} - SUCCESS</h2>
    <div class="calculate-information">
      <div class="calculate-item" *ngIf="quote.amount">
        <h3 class="value">
          {{quote.amount | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Loan Amount</p>
      </div>
      <div class="calculate-item" *ngIf="quote.monthly_payment">
        <h3 class="value">
          {{quote.monthly_payment | currency:'GBP':true:'.0-2'}}
        </h3>
        <p class="label">Monthly Payment</p>
      </div>
      <div class="calculate-item" *ngIf="quote.term">
        <h3 class="value">
          {{quote.term}} Months
        </h3>
        <p class="label">Loan Term</p>
      </div>
      <div class="calculate-item" *ngIf="quote.rate">
        <h3 class="value">
          {{quote.contract_rate/100 | percent:'.0-2'}}
        </h3>
        <p class="label">Contract Rate</p>
      </div>
    </div>
  </div>

</form>
