@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1200px;
}
.main-header {
  text-align: center;
}

.income {
  &-section {
    background-color: white;
    position: relative;
    padding: 20px;
    border: 2px solid black;
  }

  &-header {
    background-color: inherit;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: -13px;
    left: 20px;
  }

  &-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      width: 200px;
      font-weight: bold;
    }
  }
}


.field-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2.5em;

  .row {
    margin-right: 3%;
    width: 30%;
    margin-top: 2em;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 45%;
      margin-right: 4%;
    }

    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .field {
    width: 100%;
  }
}

.table-title {
  margin-bottom: 2em;
  padding: 0;
}

.table-container {
  box-sizing: border-box;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 0 1em;
  padding-right: 20px;
  padding-left: 20px;
}

.table {
  margin-right: auto;
  margin-left: auto;
}
.contact-text-center {
  text-align: center;
  padding-top: 10px;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 0;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
}
.mat-input-wrapper {
  height:56px;
}