<h1 class="main-header">Get your Free loan quote in 3 minutes</h1>

<section class="main-content">
  <form (submit)="onSubmit()">

    <md-input-container class="row">
      <input mdInput
             name="firstname"
             placeholder="First name"
             [(ngModel)]="model.firstname"
             (change)="errors.firstname = ''">
    </md-input-container>
    <div class="errorMessage"><span *ngIf="errors.firstname">{{errors.firstname}}</span></div>


    <md-input-container class="row">
      <input mdInput
             name="lastname"
             placeholder="Surname"
             [(ngModel)]="model.lastname"
             (change)="errors.lastname = ''">
    </md-input-container>
    <div class="errorMessage"><span *ngIf="errors.lastname">{{errors.lastname}}</span></div>

    <div class="date-field" style="position: relative">
      <md-input-container class="row date">
        <input mdInput
               name="birthdate"
               placeholder="Date of Birth (dd/mm/yyyy)"
               [(ngModel)]="model.birthdate"
               (ngModelChange)="errors.birthdate = ''; onChangeDateInput()"
               [textMask]="{mask: mask}">
      </md-input-container>
      <input type="text"
             name="hidden_input"
             class="date-hidden-input"
             [(ngModel)]="birthdateObj"
             (ngModelChange)="errors.birthdate = ''; onChangeDateCalendar()"
             ngbDatepicker #d="ngbDatepicker"/>
      <md-icon class="datepicker-icon" (click)="d.toggle()">date_range</md-icon>
    </div>
    <div class="errorMessage"><span *ngIf="errors.birthdate">{{errors.birthdate}}</span></div>

    <md-input-container class="row">
      <input mdInput
             name="username"
             placeholder="Email"
             type="text"
             [(ngModel)]="model.username"
             (change)="errors.username = ''">
    </md-input-container>
    <div class="errorMessage"><span *ngIf="errors.username">{{errors.username}}</span></div>


    <md-input-container class="row">
      <input mdInput
             name="password"
             placeholder="Password"
             type="password"
             [(ngModel)]="model.password"
             (change)="errors.password = ''">
    </md-input-container>
    <div class="errorMessage"><span *ngIf="errors.password">{{errors.password}}</span></div>

    <md-input-container class="row">
      <input mdInput
             name="plain_password"
             placeholder="Confirm Password"
             type="password"
             [(ngModel)]="model.plain_password"
             (change)="errors.plainPassword = ''">
    </md-input-container>
    <div class="errorMessage"><span *ngIf="errors.plainPassword">{{errors.plainPassword}}</span></div>


    <div class="form-buttons">
      <button md-raised-button type="submit" class="positive-btn" style="float: right">
        NEXT
      </button>
    </div>

  </form>
</section>
