@import "../../../css/_variables";

.main-header {
  text-align: center;
  max-width: 630px;
  font-family: 'Montserrat Light', sans-serif;
  font-weight: normal;
  font-size: 3em;
  color: $primary-text-color;
  margin: 40px auto 50px;
}

.main-content {
  max-width: 450px;
  padding: 0 45px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  display: block;
  margin-top: 2em;
}

.form-content {
  width: 80%;
  margin: 0 auto;
}

.form-buttons {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (max-width : 480px) {
  .container {
    .form-content,
    .form-buttons {
      width: 90%;
    }
  }
}
