
.table.table_sortable {
  min-width: 100%;
}

.client-search {
  text-align: right;
}

.client-pagination {
  display: flex;
  justify-content: flex-end;
}
/*
.table {
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  &__body-tr {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);;
    }
  }
}


.border-block {
  &__section {
    background-color: white;
    position: relative;
    border: 2px solid black;
    box-sizing: border-box;
  }
}

.client-search {
  position: relative;
  min-width: 300px;

  &__wrap {
    text-align: right;
    margin-bottom: 25px;
  }

  .material-icons {
    position: absolute;
    transform: translateX(-27px);
  }

}


//  pagination to right
/deep/
nav {
  text-align: right;
}

*/
