  <div class="client-search">
    <md-input-container>
      <input mdInput
             type="text"
             name="search"
             placeholder="Search"
             [ngModel]="searchStr"
             (ngModelChange)="filterChanged($event)"/>
      <i class="material-icons" matSuffix>search</i>
    </md-input-container>
  </div>

  <table class="table table_sortable b-table" *ngIf="clients.length">
    <thead class="b-table-header">
      <tr>
        <th class="table__header-cell b-table__cell-sort"
            (click)="sortTable('id')"
            [ngClass]="{'sort': sortingObj.name === 'id',
              'sort-desc': sortingObj.name === 'id' && sortingObj.reversed === true}">
          Client ID
        </th>
        <th class="table__header-cell b-table__cell-sort"
            (click)="sortTable('first_name')"
            [ngClass]="{'sort': sortingObj.name === 'first_name',
              'sort-desc': sortingObj.name === 'first_name' && sortingObj.reversed === true}">
          Name
        </th>
        <th class="table__header-cell">
          Email
        </th>
        <th class="table__header-cell b-table__cell-sort"
            (click)="sortTable('sign_up')"
            [ngClass]="{'sort': sortingObj.name === 'sign_up',
              'sort-desc': sortingObj.name === 'sign_up' && sortingObj.reversed === true}">
          Sign Up
        </th>
        <th class="table__header-cell b-table__cell-sort" (click)="sortTable('quote_status')"
            [ngClass]="{'sort': sortingObj.name === 'quote_status',
              'sort-desc': sortingObj.name === 'quote_status' && sortingObj.reversed === true}">
          Quote Status
        </th>
        <th class="table__header-cell" *ngIf="clientListName=='borrow'">
          Loan Status
        </th>
        <th class="table__header-cell">
          Action
        </th>
      </tr>
    </thead>

    <tbody>
      <tr class="table__body-tr" *ngFor="let item of clients">
        <td class="table__cell">{{ item.id }}</td>
        <td class="table__cell">{{ item.first_name + ' ' + item.surname }}</td>
        <td class="table__cell">{{ item.email }}</td>
        <td class="table__cell">{{ convertBirthDate(item.created_at) }}</td>
        <td class="table__cell">
          <span *ngIf="quoteStatus[item.quote_status] == 'Draft' ||
          quoteStatus[item.quote_status] == 'Funding Required' ||
          quoteStatus[item.quote_status] == 'Pending Funds'" class="badge badge-secondary">{{quoteStatus[item.quote_status]}}</span>
          <span *ngIf="quoteStatus[item.quote_status] == 'Approved' ||
          quoteStatus[item.quote_status] == 'Refer' ||
          quoteStatus[item.quote_status] == 'Verification' ||
          quoteStatus[item.quote_status] == 'Pending'" class="badge badge-warning">{{quoteStatus[item.quote_status]}}</span>
          <span *ngIf="quoteStatus[item.quote_status] == 'Active'" class="badge badge-success">{{quoteStatus[item.quote_status]}}</span>
          <span *ngIf="quoteStatus[item.quote_status] == 'Rejected' ||
           quoteStatus[item.quote_status] =='Declined'" class="badge badge-danger">{{quoteStatus[item.quote_status]}}</span>
          <span *ngIf="quoteStatus[item.quote_status] == 'Closed'" class="badge badge-light">{{quoteStatus[item.quote_status]}}</span>
        </td>
        <td class="table__cell" *ngIf="clientListName=='borrow'">
          <span *ngIf="loanStatus[item.loan_apply_status] == 'Active'" class="badge badge-success">{{loanStatus[item.loan_apply_status]}}</span>
          <span *ngIf="loanStatus[item.loan_apply_status] == 'Draft'" class="badge badge-secondary">{{loanStatus[item.loan_apply_status]}}</span>
          <span *ngIf="loanStatus[item.loan_apply_status] == 'Submitted' ||
          loanStatus[item.loan_apply_status] == 'Call Validate check' ||
          loanStatus[item.loan_apply_status] == 'Affordability Check' ||
          loanStatus[item.loan_apply_status] == 'Credit History Check' ||
          loanStatus[item.loan_apply_status] == 'Credit Decision' ||
          loanStatus[item.loan_apply_status] == 'Acceptance' ||
          loanStatus[item.loan_apply_status] == 'Matching' ||
          loanStatus[item.loan_apply_status] == 'Fully Matched' ||
          loanStatus[item.loan_apply_status] == 'Signed'" class="badge badge-warning">{{loanStatus[item.loan_apply_status]}}</span>
          <span *ngIf="loanStatus[item.loan_apply_status] == 'Declined' ||
          loanStatus[item.loan_apply_status] == 'Aborted'" class="badge badge-danger">{{loanStatus[item.loan_apply_status]}}</span>
          <span *ngIf="loanStatus[item.loan_apply_status] == 'Settled'" class="badge badge-light">{{loanStatus[item.loan_apply_status]}}</span>
        </td>
        <td class="table__cell">
          <button class="btn badge-secondary btn-sm" *ngIf="(item.quote_status > 20 && clientListName=='borrow') || clientListName=='investor'" (click)="clientData($event, item.quote_id)">Review</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="client-pagination">
    <ngb-pagination *ngIf="count > limit"
                    [collectionSize]="count"
                    [pageSize]="limit"
                    [(page)]="page"
                    (pageChange)="pageChanged()"
                    [maxSize]="10">
    </ngb-pagination>
  </div>
