//custom styles for input fields
.mat-input-placeholder {
  color: $accent-color;

  &.mat-focused {
    color: $accent-color;
  }
}

.mat-input-ripple.mat-focused,
.mat-input-underline .mat-input-ripple {
  background-color: $accent-color;
}
