@import '../../../node_modules/@angular/material/core/theming/_all-theme';

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-blue);
$app-warn: mat-palette($mat-blue);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
