@import "../../../css/_variables";

$height: 40px;

@mixin filling ($point-count) {
  @for $i from 1 through $point-count {
    .step-#{$i}.progress__fill {
      transform: translateX((-100% / ($point-count - 1)) * ($point-count - $i));
    }
  }
}

.progress {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: $height;
  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%;
    height: $height/2;
    background-color:$divider-color;
    overflow: hidden;
  }
  &__fill {
    height: 100%;
    width: 100%;
    background-color: $primary-color;
    transform: translateX(-100%);
  }
  &__flex {
    display: flex;
    justify-content: space-between;
  }
  &__point {
    width: $height;
    height: $height;
    border-radius: 50%;
    background-color: $divider-color;
    z-index: 1;
    transition: background-color 0.5s ease-in 0s;
  }

  .active {
    background-color: $primary-color;
    transition: background-color 0.5s ease-in 0.5s;
  }

  .step-1.progress__fill,
  .step-2.progress__fill,
  .step-3.progress__fill,
  .step-4.progress__fill,
  .step-5.progress__fill,
  .step-6.progress__fill,
  .step-7.progress__fill {
    transition: transform 0.5s linear 0s;
  }
}

.steps-2 {
  max-width: 117px;
  &.progress {
    @include filling (2);
  }
}

.steps-3 {
  max-width: 195px;
  &.progress {
    @include filling (3);
  }
}

.steps-5 {
  max-width: 350px;
  &.progress {
    @include filling (5);
  }
}

 .steps-7 {
  max-width: 500px;
  &.progress {
    @include filling (7);
  }
}
