<div class="progress steps-{{steps}}">
  <div class="progress__line">
    <div class="progress__fill step-{{step}}"></div>
  </div>
  <div class="progress__flex">
    <div *ngFor="let x of getStepsCount(steps); let i = index"
         [ngClass]="{'active': step > i}"
         class="progress__point">
    </div>
  </div>
</div>
