.borrow-container {
  padding-top: 50px;
  box-sizing: border-box;
  padding-bottom: 35px;
  background-image: url("../../assets/img/bg-borrow.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1000px auto;
  background-position: -200px 50px;
  min-height: calc(100% - 70px);
}
.ul-styling {
  max-width: 350px;
  display: block;
  margin: auto;
  padding-bottom: 15px;
  li {
    font-size: 18px;
    list-style: disc;
    text-align: left;
  }
}
.content-container {
  h2.main-header {
    text-align: center;
    margin-bottom: 1.5em;
  }

  h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
  .inform-div {
    width: 80%;
    margin: 0 auto;
  }
}

