.b-table-cell {
  padding: 0;
}

.b-table-child {
  width: 100%;
  td {
    border-top: none;
    border-bottom: none;
  }
}

.b-table-child-gray {
  width: calc(100% - 0.7rem );
  margin-left: 0.75rem;
  background: rgba(0,0,0,0.12);
  border-left: 0.25rem solid currentColor;
  tr:first-child th {
    border-top: none;
  }
  tr:last-child td {
    border-bottom: none;
  }

}
.c-user-card__content {
  overflow: auto;
}
.offer-description {
  padding: 5px 15px 0 15px;
  font-size: 15px;
}

