<div class="c-user-card">
  <div class="c-user-card__header">
    <h2>Offers & Details</h2>
  </div>
  <div class="offer-description">
    Here is a list of the offers that you have made in your portfolio. As your offer progresses, the origianal offer
    amount will be shown under each of the three columns:
    <ul>
      <li><b>Amount</b> - this is the original offer amount that you made</li>
      <li><b>Pending</b> - this represents that portion of your offer that is either not allocated to an borrower loan
        or is allocated to a loan that is not yet fully funded.
      </li>
      <li><b>Active</b> - this represents the outstanding capital on active loans</li>
      <li><b>Settled</b> - this represents the capital that has been paid back to you</li>
    </ul>
  </div>
  <div class="c-user-card__content">
    <table class="table b-table">
      <thead class="b-table-header">
      <tr>
        <th width="12.5%" class="table__header-cell">
          Offer ID
        </th>
        <th width="12.5%" class="table__header-cell">
          Name
        </th>
        <th width="12.5%" class="table__header-cell">
          Amount
        </th>
        <th width="12.5%" class="table__header-cell">
          Pending
        </th>
        <th width="12.5%" class="table__header-cell">
          Active
        </th>
        <th width="12.5%" class="table__header-cell">
          Settled
        </th>
        <th width="12.5%" class="table__header-cell">
          Matching %
        </th>
        <th width="12.5%" class="table__header-cell">
          Details
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offer of offers;let index = index;">
        <td colspan="8" class="b-table-cell">
          <table class="b-table-child">
            <tr class="table__body-tr">
              <td width="12.5%" class="table__cell">{{offer.offer_id}}</td>
              <td width="12.5%" class="table__cell">{{offer.name}}</td>
              <td width="12.5%" class="table__cell">{{offer.amount | currency:'GBP':true:'.0-2'}}</td>
              <td width="12.5%" class="table__cell">{{offer.pending | currency:'GBP':true:'.0-2'}}</td>
              <td width="12.5%" class="table__cell">{{offer.active | currency:'GBP':true:'.0-2'}}</td>
              <td width="12.5%" class="table__cell">{{offer.settled | currency:'GBP':true:'.0-2'}}</td>
              <td width="12.5%" class="table__cell">{{offer.matching | percent:'.0-2'}}</td>
              <td width="12.5%" class="table__cell">
                <a *ngIf="offer.agreements.length" (click)="indexArray[index] = !indexArray[index]">{{indexArray[index]
                  ?
                  'Close' : 'View'}}</a>
              </td>
            </tr>
          </table>

          <table class="b-table-child-gray" *ngIf="offer.agreements.length && indexArray[index]">
            <tr>
              <th class="table__header-cell"> Borrower ID</th>
              <th class="table__header-cell"> Amount</th>
              <th class="table__header-cell"> Term</th>
              <th class="table__header-cell"> Rate %</th>
              <th class="table__header-cell">Interest Amount</th>
              <th class="table__header-cell">Status</th>
              <th class="table__header-cell">Instalments</th>
            </tr>
            <tr class="table__body-tr" *ngFor="let agreement of offer.agreements">
              <td class="table__cell">{{agreement.borrower_id}}</td>
              <td class="table__cell">{{agreement.sum_amount | currency:'GBP':true:'.0-2'}}</td>
              <td class="table__cell">{{agreement.term}}</td>
              <td class="table__cell">{{agreement.rate /100 | percent:'.0-2'}}</td>
              <td class="table__cell">{{agreement.interest | currency:'GBP':true:'.0-2'}}</td>
              <td class="table__cell">{{status[agreement.status]}}</td>
              <td class="table__cell">
                <a *ngIf="status[agreement.status] == 'Active'" class="btn btn-light"
                   (click)="pdf(agreement.loanApply_id, agreement.offer_id)">PDF</a>
                <a *ngIf="status[agreement.status] == 'Active'" class="btn"
                   (click)="getInstalment(agreement.agreement_id, agreement.offer_id)">Instalment</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>