<div class="dialog">
  <h2 class="dialog__title">Enter pay amount</h2>
  <input type="number" #amount>
  <div class="dialog__form-buttons">
    <button type="submit" class="btn btn-sm btn-success" (click)="dialogRef.close(amount.value)">Confirm</button>
    <button type="submit" class="btn btn-sm btn-danger" (click)="dialogRef.close(false)">Cancel</button>
  </div>
</div>