@import "../../../css/_variables";

.content-container {
  max-width: 1000px;

  .form-content {
    width: 90%;
    margin: 0 auto;
  }

  .main-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    color: $primary-color;
  }

  .calc-header {
    margin-bottom: 50px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 200px;
    border: 2px solid $primary-color;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    .paragraph {
      padding: 10px;
      font-size: 1em;
      .material-icons {
        font-size: 1em;
      }
    }
    .title {
      margin: 0;
      padding: 0.2em 0;
      color: white;
      background-color: $primary-color;
      font-size: 1.7em;
      font-weight: normal;
    }

    &-label {
      color: $primary-color;
      margin: 20px auto;
      text-align: center;
      font-weight: normal;
      font-size: 1.6em;
    }

    &-btn {
      display: block;
      background-color: $accent-color;
      color: white;
      margin: 0 auto 40px;
    }
  }

  .column.disabled {
    .card {
      border-color: $grey-disabled-color;
    }

    .title,
    .card-btn {
      background-color: $grey-disabled-color;
    }

    .paragraph,
    .card-label {
      color: $grey-disabled-color;
    }
  }

  .form-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto 35px;
    width: 48%;
  }
}

@media only screen and (max-width : 992px) {
  .container {
    .form-buttons {
      width: 50%;
    }

    .row {
      justify-content: space-around;
    }
  }

  .second-row {
    width: 100%;
  }
  .third-row {
    width: 100%;
  }
}

@media only screen and (max-width : 768px) {
  .container {
    .form-buttons {
      justify-content: space-around;
      width: 70%;

      button {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .container {
    .form-buttons {
      justify-content: space-around;
      width: 100%;

      button {
        margin-bottom: 20px;
      }
    }
  }
}
