<div class="content-container">
  <div class="form-content">
    <h2 class="calc-header" *ngIf="model.amount">Amount Required: <span class="value">{{model.amount | currency:'GBP':true:'.2'}}</span></h2>
    <div class="row">

      <div class="column">
        <div class="card">
          <div class="paragraph">Select this option if you wish to use a valid UK debit card to fund your investment.</div>
          <h3 class="title">Debit Card</h3>
        </div>
        <h3 class="card-label">10 - minutes</h3>
        <button md-raised-button class="positive-btn card-btn" type="button" (click)="worldPayAction()">Select</button>
      </div>

      <div class="column" [ngClass]="{'disabled': true}">
        <div class="card">
          <div class="paragraph">Select this option if you would like to receive instructions on how you can transfer funds from your nominated UK bank account.</div>
          <h3 class="title">Bank Transfer</h3>
        </div>
        <h3 class="card-label">2 - hours</h3>
        <button md-raised-button class="positive-btn card-btn" type="button" [disabled]="true">Select</button>
      </div>

      <div class="column" [ngClass]="{'disabled': true}">
        <div class="card">
          <div class="paragraph">Select this option if you would like receive instructions on how to transfer prior year ISA funds to your new investment with Wealth Harbour.</div>
          <h3 class="title">ISA Transfer</h3>
        </div>
        <h3 class="card-label">30 - days</h3>
        <button md-raised-button class="positive-btn card-btn" type="button" [disabled]="true">Select</button>
      </div>
    </div>
  </div>
  <div class="form-buttons">
    <button md-raised-button type="button" (click)="goToDashboard()"><i class="material-icons">arrow_back</i> Back to
      Dashboard
    </button>
    <button md-raised-button type="button"><i class="material-icons">call</i> Request Call Back</button>
  </div>
  <form id="worldpay" action="https://secure-test.worldpay.com/wcc/purchase" method="POST">
    <input type="hidden" name="testMode" value="{{worldpay.test_mode}}"/>
    <input type="hidden" name="instId" value="{{worldpay.inst_id}}">
    <input type="hidden" name="cartId" value="{{worldpay.cart_id}}">
    <input type="hidden" name="amount" value="{{worldpay.amount}}">
    <input type="hidden" name="currency" value="{{worldpay.currency}}">
    <input type="hidden" name="MC_callback" value="{{worldpay.callback_url}}">
    <input type="hidden" name="MC_redirectUrl" value="{{worldpay.redirect_url}}">
  </form>
</div>
