<section class="border-block__section">
  <div class="c-user-card__header">
    <h2>Withdraw</h2>
  </div>
  <table class="table">
    <tr>
      <th class="table__header-cell">
        Transaction ID
      </th>
      <th class="table__header-cell">
        Customer ID
      </th>
      <th class="table__header-cell">
        Customer Name
      </th>
      <th class="table__header-cell">
        Creation Date
      </th>
      <th class="table__header-cell">
        Amount
      </th>
      <th class="table__header-cell">
        Type
      </th>
      <th class="table__header-cell">
        TransactionCCY
      </th>
      <th class="table__header-cell">
        Action
      </th>
    </tr>

    <tr class="table__body-tr" *ngFor="let withdraw of withdraws">
      <td class="table__cell">{{ withdraw.transaction_id }}</td>
      <td class="table__cell">{{ withdraw.customer_id }}</td>
      <td class="table__cell">{{ withdraw.customer_name}}</td>
      <td class="table__cell">{{convertDateForDisplay(withdraw.created)}}</td>
      <td class="table__cell">{{ withdraw.transaction_amt | currency:'GBP':true:'.2'  }}</td>
      <td class="table__cell">{{withdraw.type}}</td>
      <td class="table__cell">{{ withdraw.transaction_c_c_y }}</td>
      <td class="table__cell"><button (click)="confirmWithdraw(withdraw.transaction_id)" class="btn">Withdraw</button></td>
    </tr>
  </table>
</section>
