<div class="dialog">
  <h2 class="dialog__title">Please, add your comment</h2>
  <div class="dialog__form-content">
    <textarea #textarea ([ngModel])="comment" class="comment" placeholder="Add comment"></textarea>
  </div>
  <div class="dialog__form-buttons">
    <button type="submit" class="btn btn-sm btn-success" (click)="dialogRef.close({confirm: true, comment: textarea.value})">Submit</button>
    <button type="submit" class="btn btn-sm btn-danger" (click)="dialogRef.close({confirm: false})">Cancel</button>
  </div>
</div>