@import "../../../../../css/_variables";


.table {
   width: 100%;
   th {
     border-top: none;
   }
   tr:last-child td {
     border-bottom: none;
   }
 }
a {
  text-decoration: underline !important;
  cursor: pointer;
}
