<div class="c-user-status">
  <h3>ID CHECK:</h3>
  <div class="c-user-status__data">
    <div *ngIf="idCheck.status == 'success'" class="c-user-status-success"><i class="fa fa-check"></i> Success</div>
    <div *ngIf="idCheck.status == 'error'" class="c-user-status-error"><i class="fa fa-times"></i> Failed</div>
    <div *ngIf="idCheck.status == 'pending'" class="c-user-status-pending"><i class="fa fa-clock"></i> Pending</div>
    <div *ngIf="idCheck.status == 'new'" class="c-user-status-new"><i class="fa fa-file"></i> New</div>
    <a *ngIf="idCheck.status == 'success' && quoteStatus >= 20" (click)="changeTab('check')"> View Details</a>
  </div>
</div>

<div class="d-flex mb-3">

  <div class="c-user-card w-75">
    <div class="c-user-card__header">
      <h2>User Info</h2>
    </div>

    <div class="c-user-card__content d-flex ">
      <div class="w-50 mr-4">

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Customer ID
          </h3>
          <div class="c-user-card__item-data">
            {{ details.user_id }}
          </div>
        </div>

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Full Name
          </h3>
          <div class="c-user-card__item-data">
            {{ details.first_name }} {{details.surname}}
          </div>
        </div>

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Email
          </h3>
          <div class="c-user-card__item-data">
            {{ details.email}}
          </div>
        </div>

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Date Of Birth
          </h3>
          <div class="c-user-card__item-data">
            {{ convertBirthDate(details.birth_date)}}
          </div>
        </div>
      </div>
      <div class="w-50">

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Mobile
          </h3>
          <div class="c-user-card__item-data">
            <div *ngFor="let communication of details.communications">
              <ng-container *ngIf="communication.type == 200">
                {{ communication. value }}
              </ng-container>
            </div>
          </div>
        </div>

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Home
          </h3>
          <div class="c-user-card__item-data">
            <div *ngFor="let communication of details.communications">
              <ng-container *ngIf="communication.type ==300">
                {{ communication. value }}
              </ng-container>
            </div>
          </div>
        </div>

        <div class="c-user-card__item">
          <h3 class="c-user-card__item-title">
            Work
          </h3>
          <div class="c-user-card__item-data">
            <div *ngFor="let communication of details.communications">
              <ng-container *ngIf="communication.type == 400">
                {{ communication. value }}
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="c-user-card w-50">
    <div class="c-user-card__header">
      <h2>Finances</h2>
    </div>

    <div class="c-user-card__content">

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Main Source of Income
        </h3>
        <div class="c-user-card__item-data">
          {{ finances.main_source}}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Total Gross PA
        </h3>
        <div class="c-user-card__item-data">
          {{ finances.total_gross_annual}}
        </div>
      </div>

    </div>
  </div>

</div>


<div class="c-user-card">
  <div class="c-user-card__header">
    <h2>Addresses</h2>
  </div>

  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
          Address
        </th>
        <th class="table__header-cell">
          Poscode
        </th>
        <th class="table__header-cell">
          Current
        </th>
        <th class="table__header-cell">
          Moved In
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let address of addresses | async; let f = first ">
        <td class="table__cell">{{address.street}} {{address.building_number}}, {{address.city}}, {{address.country}}
        </td>
        <td class="table__cell">{{address.postal_code}}</td>
        <td class="table__cell"><i *ngIf="f" class="fa fa-check"></i></td>
        <td class="table__cell">{{convertDateForDisplay(address.moved)}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="c-user-card">
  <div class="c-user-card__header">
    <h2>Portfolio Summary</h2>
  </div>
  <div class="c-user-card__content">
    <table class="b-table table">
      <tr>
        <th class="table__header-cell">
        </th>
        <th class="table__header-cell">
          Total Amount
        </th>
        <th class="table__header-cell">
          Cash Available
        </th>
        <th class="table__header-cell">
          Offer Pending
        </th>
        <th class="table__header-cell">
          Interest Earned
        </th>
        <th class="table__header-cell">
          Outstanding Loan
        </th>
      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">ISA</td>
        <td class="table__cell">{{data.ISA.portfolio_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.cash_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.offer_pending | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.interest_earned | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.ISA.outstanding_loans | currency:'GBP':true:'.0-2'}}</td>

      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">General</td>
        <td class="table__cell">{{data.GEN.portfolio_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.cash_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.offer_pending | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.interest_earned | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.GEN.outstanding_loans | currency:'GBP':true:'.0-2'}}</td>

      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">SIPP</td>
        <td class="table__cell">{{data.SIPP.portfolio_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.cash_amount | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.offer_pending | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.interest_earned | currency:'GBP':true:'.0-2'}}</td>
        <td class="table__cell">{{data.SIPP.outstanding_loans | currency:'GBP':true:'.0-2'}}</td>

      </tr>
      <tr class="table__body-tr">
        <td class="table__cell">Total</td>
        <td class="table__cell"><b>{{(data.ISA.portfolio_amount + data.GEN.portfolio_amount+ data.SIPP.portfolio_amount)
          | currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.cash_amount + data.GEN.cash_amount + data.SIPP.cash_amount) |
          currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.offer_pending + data.GEN.offer_pending + data.SIPP.offer_pending) |
          currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.interest_earned + data.GEN.interest_earned +data.SIPP.interest_earned) |
          currency:'GBP':true:'.0-2'}}</b></td>
        <td class="table__cell"><b>{{(data.ISA.outstanding_loans + data.GEN.outstanding_loans +
          data.SIPP.outstanding_loans) | currency:'GBP':true:'.0-2'}}</b></td>
      </tr>
    </table>
  </div>
</div>
<!--
<h3>Portfolio Summary</h3>
<table class="table">
  <tr>
    <th class="table__header-cell">
      Ammount
    </th>
    <th class="table__header-cell">
      Cash Available
    </th>
    <th class="table__header-cell">
      % Earned
    </th>
    <th class="table__header-cell">
      Average %
    </th>
  </tr>
  <tr class="table__body-tr" *ngFor="let address of addresses | async; let f = first ">
    <td class="table__cell">{{address.street}}, {{address.city}}, {{address.country}}</td>
    <td class="table__cell">{{address.postal_code}}</td>
    <td class="table__cell">{{f ? 'Current' : '' }}</td>
    <td class="table__cell">{{convertDateForDisplay(address.moved)}}</td>
  </tr>
</table>-->
