.decision-textarea {
  width: 100%;
  height: 100%;
  padding: 0.75em;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 2px;
}
.decision-comment {
  padding: 0.75em;
}

.c-user-card__item-title {
  width: 60%;
}
.c-user-card__item-data {
  width: 36%;
}