<table class="table b-table mb-4">
  <thead class="b-table-header">
    <tr>
      <th class="table__header-cell">

      </th>
      <th class="table__header-cell">
        Quoted
      </th>
      <th class="table__header-cell">
        User Application
      </th>
      <th class="table__header-cell">
        Generated
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__body-tr">
      <td class="table__cell strong">Total Credit</td>
      <td class="table__cell ">{{content.quoted && content.quoted.loan_amount ? (content.quoted.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell ">{{content.user_application && content.user_application.loan_amount ? (content.user_application.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell ">{{content.generated && content.generated.loan_amount ? (content.generated.loan_amount | currency:'GBP':true:'.0-3') : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Loan Duration (months)</td>
      <td class="table__cell ">{{content.quoted && content.quoted.term ? content.quoted.term : ''}}</td>
      <td class="table__cell ">{{content.user_application && content.user_application.term ? content.user_application.term : ''}}</td>
      <td class="table__cell ">{{content.generated && content.generated.term ?  content.generated.term : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Interest (APR)</td>
      <td class="table__cell ">{{content.quoted && content.quoted.apr ? (content.quoted.apr / 100 | percent) : ''}}</td>
      <td class="table__cell ">{{content.user_application && content.user_application.apr ? (content.user_application.apr / 100 | percent) : ''}}</td>
      <td class="table__cell ">{{content.generated && content.generated.apr ?  (content.generated.apr / 100 | percent) : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Monthly Repayment</td>
      <td class="table__cell ">{{content.quoted && content.quoted.monthly ? (content.quoted.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell ">{{content.user_application && content.user_application.monthly ? (content.user_application.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell ">{{content.generated && content.generated.monthly ?  (content.generated.monthly | currency:'GBP':true:'.0-3') : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell ">Bonus Rate</td>
      <td class="table__cell ">{{content.quoted && content.quoted.bonus_rate ? (content.quoted.bonus_rate / 100 | percent) : ''}}</td>
      <td class="table__cell ">{{content.user_application && content.user_application.bonus_rate ? (content.user_application.bonus_rate / 100 | percent) : ''}}</td>
      <td class="table__cell ">{{content.generated && content.generated.bonus_rate ?  (content.generated.bonus_rate / 100 | percent) : ''}}</td>
    </tr>
    <tr class="table__body-tr">
      <td class="table__cell strong">Bonus</td>
      <td class="table__cell ">{{content.quoted && content.quoted.bonus_amount ? (content.quoted.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell ">{{content.user_application && content.user_application.bonus_amount ? (content.user_application.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
      <td class="table__cell ">{{content.generated && content.generated.bonus_amount ?  (content.generated.bonus_amount | currency:'GBP':true:'.0-3') : ''}}</td>
    </tr>
  </tbody>
</table>

<div class="c-user-card" *ngIf="this.loanStatus < 400 && this.checkGenerate.length">
  <div class="c-user-card__header">
    <h2> Decision </h2>
  </div>
  <div class="c-user-card__content d-flex">
    <div class="w-50 mr-4">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Total Credit
        </h3>
        <div class="c-user-card__item-data">
          <md-input-container>
            <input mdInput
                   name="loan_amount"
                   type="number"
                   (keyup)="changeData()"
                   [(ngModel)]="decision.loan_amount">
          </md-input-container>
          <!--<input [(ngModel)]="decision.loan_amount" type="number">-->
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Loan Duration (months)</h3>
        <div class="c-user-card__item-data">
          <md-input-container>
            <input mdInput
                   name="term"
                   type="number"
                   (keyup)="changeData()"
                   [(ngModel)]="decision.term">
          </md-input-container>
          <!--<input [(ngModel)]="decision.term" type="number">-->
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Interest (APR)</h3>
        <div class="c-user-card__item-data">
          <md-input-container>
            <input mdInput
                   name="apr"
                   type="number"
                   (keyup)="changeData()"
                   [(ngModel)]="decision.apr">
          </md-input-container>
          <!--<input [(ngModel)]="decision.apr" type="number">-->
        </div>
      </div>
    </div>
    <div class="w-50 mr-4">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Monthly Repayment</h3>
        <div class="c-user-card__item-data">
          {{decision.monthly | currency:'GBP':true:'.0-3'}}
          <!--<input [(ngModel)]="decision.monthly" type="number">-->
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Bonus Rate</h3>
        <div class="c-user-card__item-data">
          <md-input-container>
            <input mdInput
                   name="bonus_rate"
                   type="number"
                   (keyup)="changeData()"
                   [(ngModel)]="decision.bonus_rate">
          </md-input-container>
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Bonus</h3>
        <div class="c-user-card__item-data">
          {{decision.bonus_amount | currency:'GBP':true:'.0-3'}}
        </div>
      </div>
    </div>

    <div class="w-50">
      <textarea class="decision-textarea" #comment placeholder="Add comment"></textarea>
    </div>
  </div>

  <div class="c-user-card__footer">
    <div class="buttons c-user-card__footer-buttons">
      <button (click)="openConfirmDialog(true ,comment.value)" class="btn btn-success">Accept</button>
      <button (click)="openConfirmDialog(false)" class="btn btn-danger">Decline</button>
    </div>
  </div>
</div>

<div class="c-user-card" *ngIf="this.loanStatus >= 400">
  <div class="c-user-card__header">
    <h2> Decision </h2>
  </div>
  <div class="c-user-card__content d-flex">
    <div class="w-50 mr-4">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Total Credit
        </h3>
        <div class="c-user-card__item-data" >
          {{decision.loan_amount | currency:'GBP':true:'.0-3'}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Loan Duration (months)</h3>
        <div class="c-user-card__item-data">
          {{decision.term}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Interest (APR)</h3>
        <div class="c-user-card__item-data">
          {{decision.apr ? (decision.apr / 100 | percent) : ''}}
        </div>
      </div>
    </div>
    <div class="w-50 mr-4">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Monthly Repayment</h3>
        <div class="c-user-card__item-data">
          {{decision.monthly | currency:'GBP':true:'.0-3'}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Bonus Rate</h3>
        <div class="c-user-card__item-data" >
          {{decision.bonus_rate ? (decision.bonus_rate / 100 | percent) : ''}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">Bonus</h3>
        <div class="c-user-card__item-data" >
          {{decision.bonus_amount | currency:'GBP':true:'.0-3'}}
        </div>
      </div>
    </div>

    <div class="w-50">
      <div class="decision-comment"> <!--Comment text is here --></div>
    </div>

  </div>

</div>

