<admin-header [activeTab]="'finances'"></admin-header>

<section class="b-container">
<ul class="b-tabs">
  <li><button type="button" class="btn b-tabs__btn" [class.active]="type == 'finances'" (click)="changeClients('finances')">Finances</button></li>
  <li><button type="button" class="btn b-tabs__btn" [class.active]="type == 'withdraw'" (click)="changeClients('withdraw')">Withdraw</button></li>
  <li><button type="button" class="btn b-tabs__btn" [class.active]="type == 'transactions'" (click)="changeClients('transactions')">Transactions</button></li>
</ul>
<app-admin-finances-tab *ngIf="type == 'finances'" [client]="type"></app-admin-finances-tab>
<app-admin-withdraw-tab *ngIf="type == 'withdraw'" [client]="type"></app-admin-withdraw-tab>
<app-admin-transactions-tab *ngIf="type == 'transactions'" [client]="type"></app-admin-transactions-tab>
</section>