<div class="content-container">
  <h4>Account top-up / Transfer Instructions</h4>
  <div class="header-row">
    <div>
      <h2 class="main-header">Debit Card</h2>
    </div>
    <div>
      <img src="../assets/img/worldpay_logo.jpg" alt="worldpay logo">
    </div>
  </div>

  <div class="section">
    <h3 class="main-header" *ngIf="model.payment['payment_status'] === '100'">Well done! Your payment was successful.</h3>
    <h3 class="main-header" *ngIf="model.payment['payment_status'] !== '100'">
      Unfortunately your payment was unsuccessful. Your investment offer will still remain, but it will not be activated until funds are transferred into the offer via Worldpay. If you are having any issues, feel free to contact us at
      <a href="mailto:support@wh.money">support@wh.money</a>.
    </h3>
  </div>
  <div class="description" *ngIf="model.payment['payment_status'] === '100'">
    Thank you for choosing Wealth Harbour. We will now begin the process of matching your funds to our pool of vetted, responsible borrowers.<br /><br />
    Should you wish to refer back to the Terms of Use, follow this <a routerLink="/terms-of-use">link</a>.
  </div>
  <div class="buttons">
    <button md-raised-button type="button" (click)="goToDashboard()">
      <i class="material-icons">arrow_back</i>
      Back to Dashboard
    </button>
    <button md-raised-button type="button">
      <i class="material-icons">call</i>
      Request Call Back
    </button>
  </div>
</div>
