@import "../../../css/_variables";

.content-container {
  box-sizing: border-box;
  max-width: 1000px;
  padding: 50px;
  h3 {
    padding: 0;
  }
  .header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-header {
    margin-left: auto;
    margin-right: auto;
    color: $primary-color;
  }

  .content {
    width: 80%;
    padding-right: 10%;
    margin: 30px auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    padding: 10px 15px;
    width: 250px;
    border: 2px solid $primary-color-light;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto 35px;
    width: 48%;
  }
}


@media only screen and (max-width : 992px) {
  .container {
    .buttons {
      width: 50%;
    }

    .card {
      margin-bottom: 20px;
    }

    .row {
      justify-content: space-around;
    }
  }
}

@media only screen and (max-width : 768px) {
  .container {
    .buttons {
      justify-content: space-around;
      width: 70%;

      button {
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .container {
    .buttons {
      justify-content: space-around;
      width: 100%;

      button {
        margin-bottom: 20px;
      }
    }
  }
}
