<!--<h3>ID CHECK</h3>-->
<!--&lt;!&ndash;{{ idCheck.status }}&ndash;&gt;-->
<!--<i [class.fa-file-text]="idCheck.status == 'new'" -->
<!--[class.fa-clock]="idCheck.status == 'pending'" -->
<!--[class.fa-times]="idCheck.status == 'error'" -->
<!--[class.fa-check]="idCheck.status == 'success'" -->
<!--class="fa"></i>-->
<!--<a *ngIf="idCheck.status == 'success' && loanStatus >= 300" (click)="changeTab('check')"> View Details</a>-->

<div class="c-user-status">
  <h3>ID CHECK:</h3>
  <div class="c-user-status__data">
    <div *ngIf="idCheck.status == 'success'" class="c-user-status-success"><i class="fa fa-check"></i> Success</div>
    <div *ngIf="idCheck.status == 'error'" class="c-user-status-error"><i class="fa fa-times"></i> Failed</div>
    <div *ngIf="idCheck.status == 'pending'" class="c-user-status-pending"><i class="fa fa-clock"></i> Pending</div>
    <div *ngIf="idCheck.status == 'new'" class="c-user-status-new"><i class="fa fa-file"></i> New</div>
    <a *ngIf="idCheck.status == 'success' && loanStatus >= 300" (click)="changeTab('check')"> View Details</a>
  </div>
</div>

<div class="d-flex mb-4">

  <div class="c-user-card w-50">
    <div class="c-user-card__header">
      <h2>User Info</h2>
    </div>

    <div class="c-user-card__content ">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Customer ID
        </h3>
        <div class="c-user-card__item-data">
          {{ details.user_id }}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Full Name
        </h3>
        <div class="c-user-card__item-data">
          {{ details.first_name }} {{details.surname}}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Email
        </h3>
        <div class="c-user-card__item-data">
          {{ details.email}}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Date Of Birth
        </h3>
        <div class="c-user-card__item-data">
          {{ convertBirthDate(details.birth_date)}}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Mobile
        </h3>
        <div class="c-user-card__item-data">
          <div *ngFor="let communication of details.communications">
            <ng-container *ngIf="communication.type == 200">
              {{ communication. value }}
            </ng-container>
          </div>
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Home
        </h3>
        <div class="c-user-card__item-data">
          <div *ngFor="let communication of details.communications">
            <ng-container *ngIf="communication.type ==300">
              {{ communication. value }}
            </ng-container>
          </div>
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Work
        </h3>
        <div class="c-user-card__item-data">
          <div *ngFor="let communication of details.communications">
            <ng-container *ngIf="communication.type == 400">
              {{ communication. value }}
            </ng-container>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="c-user-card w-50">
    <div class="c-user-card__header">
      <h2>Finances</h2>
    </div>

    <div class="c-user-card__content">

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Total Gross Income
        </h3>
        <div class="c-user-card__item-data">
          {{ finances.total_gross_annual}}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Main Source of Income
        </h3>
        <div class="c-user-card__item-data">
          {{ finances.main_source}}
        </div>
      </div>


      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Home Owner
        </h3>
        <div class="c-user-card__item-data">
          <i [class.fa-check]="finances.is_homeowner" [class.fa-times]="!finances.is_homeowner" class="fa"></i>
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Current CCJ
        </h3>
        <div class="c-user-card__item-data">
          <i [class.fa-check]="finances.has_c_c_j" [class.fa-times]="!finances.has_c_c_j" class="fa"></i>
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Current Default
        </h3>
        <div class="c-user-card__item-data">
          <i [class.fa-check]="finances.has_current_default" [class.fa-times]="!finances.has_current_default"
             class="fa"></i>
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Raiting for handling credit
        </h3>
        <div class="c-user-card__item-data">
          {{ rate }}
        </div>
      </div>

    </div>
  </div>

  <div class="c-user-card w-50">
    <div class="c-user-card__header">
      <h2>Loan info</h2>
    </div>

    <div class="c-user-card__content">

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Credit Request
        </h3>
        <div class="c-user-card__item-data">
          {{ terms.loan_amount }}
        </div>
      </div>

      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Loan Term
        </h3>
        <div class="c-user-card__item-data">
          {{ terms.term }}
        </div>
      </div>

    </div>
  </div>
</div>


<div class="c-user-card  mb-4">
  <div class="c-user-card__header"><h2>Occupation History</h2></div>
  <div class="c-user-card__content">
    <table class="table b-table">
      <tr>
        <th class="table__header-cell">
          Business Name
        </th>
        <th class="table__header-cell">
          Industry / Profession
        </th>
        <th class="table__header-cell">
          Pstcode
        </th>
        <th class="table__header-cell">
          Occupation Status
        </th>
        <th class="table__header-cell">
          Start Month
        </th>
        <th class="table__header-cell">
          Current
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let history of histories | async">
        <td class="table__cell">{{ history.business_firm_name}}</td>
        <td class="table__cell">{{ history.industry}}</td>
        <td class="table__cell">{{ history.occ_postal_code}}</td>
        <td class="table__cell">{{ history.occ_status}}</td>
        <td class="table__cell">{{ convertDateForDisplay(history.occ_month_started)}}</td>
        <td class="table__cell"><i *ngIf="history.current_status" class="fa fa-check"></i></td>
      </tr>
    </table>
  </div>
</div>

<div class="c-user-card  mb-4">
  <div class="c-user-card__header"><h2>Creditor / Debts</h2></div>
  <div class="c-user-card__content">
    <table class="table b-table">
      <tr>
        <th class="table__header-cell">
          Type of Credit
        </th>
        <th class="table__header-cell">
          Name
        </th>
        <th class="table__header-cell">
          Original Credit Limit
        </th>
        <th class="table__header-cell">
          Balance
        </th>
        <th class="table__header-cell">
          Interest
        </th>
        <th class="table__header-cell">
          Monthly Payment
        </th>
        <th class="table__header-cell">
          Total Interest
        </th>
        <th class="table__header-cell">
          Total to repay
        </th>
        <th class="table__header-cell">
          Months to Clear
        </th>
        <th class="table__header-cell">
          dClutter
        </th>
        <th class="table__header-cell">
          Close
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let debt of debts | async">
        <td class="table__cell">{{creditType[debt.credit_line.type]}}</td>
        <td class="table__cell">{{debt.credit_line.name}}</td>
        <td class="table__cell">{{debt.credit_line.credit_limit | currency:'GBP':true:'.2' }}</td>
        <td class="table__cell">{{debt.credit_line.credit_balance_now | currency:'GBP':true:'.2' }}</td>
        <td class="table__cell">{{debt.credit_line.apr /100 | percent:'.2'}}</td>
        <td class="table__cell">{{debt.credit_line.monthly_payment | currency:'GBP':true:'.2' }}</td>
        <td class="table__cell">{{debt.credit_line.total_interest | currency:'GBP':true:'.2' }}</td>
        <td class="table__cell">{{debt.credit_line.total_repaid | currency:'GBP':true:'.2' }}</td>
        <td class="table__cell">{{debt.credit_line.total_months_to_clear}}</td>
        <td class="table__cell"><i *ngIf="debt.dclutter" class="fa fa-check"></i></td>
        <td class="table__cell"><i *ngIf="debt.need_to_close" class="fa fa-check"></i></td>
      </tr>
    </table>
  </div>
  <div class="c-user-card__footer d-flex">
    <div class="c-user-card__item c-user-card__item--no-border ml-auto">
      <h3 class="c-user-card__item-title">
        Total Monthly Payment:
      </h3>
      <div class="c-user-card__item-data font-weight-bold">
        {{totaldebts | currency:'GBP':true:'.2'}}
      </div>
    </div>
    <div class="c-user-card__item ml-auto">
      <h3 class="c-user-card__item-title">
        Total Credit Balance:
      </h3>
      <div class="c-user-card__item-data font-weight-bold">
        {{totalbalance | currency:'GBP':true:'.2'}}
      </div>
    </div>
  </div>
</div>

<div class="c-user-card  mb-4">
  <div class="c-user-card__header"><h2>Main Household expenses</h2></div>
  <div class="c-user-card__content d-flex">
    <div class="w-50 mr-4">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Rent
        </h3>
        <div class="c-user-card__item-data">
          {{household.monthly_rent | currency:'GBP':true:'.2'}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Food
        </h3>
        <div class="c-user-card__item-data">
          {{household.monthly_food | currency:'GBP':true:'.2'}}
        </div>
      </div>
    </div>

    <div class="w-50 mr-4">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Utilities
        </h3>
        <div class="c-user-card__item-data">
          {{household.monthly_utilities | currency:'GBP':true:'.2'}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Entertainment
        </h3>
        <div class="c-user-card__item-data">
          {{household.monthly_entertainment | currency:'GBP':true:'.2'}}
        </div>
      </div>
    </div>

    <div class="w-50">
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Travel
        </h3>
        <div class="c-user-card__item-data">
          {{household.monthly_travel | currency:'GBP':true:'.2'}}
        </div>
      </div>
      <div class="c-user-card__item">
        <h3 class="c-user-card__item-title">
          Saving
        </h3>
        <div class="c-user-card__item-data">
          {{household.monthly_savings | currency:'GBP':true:'.2'}}
        </div>
      </div>
    </div>

  </div>
  <div class="c-user-card__footer">
    <div class="c-user-card__item">
      <h3 class="c-user-card__item-title">
        Total
      </h3>
      <div class="c-user-card__item-data font-weight-bold">
        {{
        sum(household.monthly_rent,household.monthly_food,household.monthly_utilities,household.monthly_entertainment,household.monthly_savings,household.monthly_travel)
        | currency:'GBP':true:'.2'}}
      </div>
    </div>
  </div>
</div>

<div class="c-user-card  mb-4" *ngIf="dependants.length">
  <div class="c-user-card__header"><h2>Dependants</h2></div>
  <div class="c-user-card__content">
    <table class="table b-table">
      <tr>
        <th class="table__header-cell">
          First Name
        </th>
        <th class="table__header-cell">
          Date of Birth
        </th>
        <th class="table__header-cell">
          Age
        </th>
      </tr>
      <tr class="table__body-tr" *ngFor="let address of addresses | async; let f = first">
        <td class="table__cell">{{address.street}} {{address.building_number}}, {{address.city}}, {{address.country}}
        </td>
        <td class="table__cell">{{address.postal_code}}</td>
        <td class="table__cell"><i *ngIf="f" class="fa fa-check"></i></td>
      </tr>
    </table>
  </div>
</div>

<div class="d-flex">

  <div class="c-user-card w-75">
    <div class="c-user-card__header">
      <h2>Addresses</h2>
    </div>

    <div class="c-user-card__content">
      <table class="b-table table">
        <tr>
          <th class="table__header-cell">
            Address
          </th>
          <th class="table__header-cell">
            Poscode
          </th>
          <th class="table__header-cell">
            Current
          </th>
          <th class="table__header-cell">
            Moved In
          </th>
        </tr>
        <tr class="table__body-tr" *ngFor="let address of addresses | async; let f = first ">
          <td class="table__cell">{{address.street}} {{address.building_number}}, {{address.city}},
            {{address.country}}
          </td>
          <td class="table__cell">{{address.postal_code}}</td>
          <td class="table__cell"><i *ngIf="f" class="fa fa-check"></i></td>
          <td class="table__cell">{{convertDateForDisplay(address.moved)}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="c-user-card w-50">
    <div class="c-user-card__header"><h2>Social Contacts</h2></div>
    <div class="c-user-card__content">
      <div class="c-user-card__item" *ngFor="let contact of social_contacts | async">
        <h3 class="c-user-card__item-title">
          {{contacts[contact.type].label}}
        </h3>
        <div class="c-user-card__item-data">
          {{ contact.value}}
        </div>
      </div>
    </div>
  </div>
</div>