@import "../../../css/_variables";

.content-container {
  width: 95%;
  max-width: 1100px;

  .main-header {
    text-align: center;
  }
}

.form-content {
  width: 90%;
  margin: 0 auto;
}

.address-input-block {
  width: 50%;
  margin-bottom: 1.5em;

  @media (max-width : 480px) {
    width: 100%;
  }

  .row {
    width: 100%;
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }
}

.address-info-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  .address-info,
  button {
    display: inline-block;
  }

  button {
    margin-left: 45px;
  }

  .label {
    color: $secondary-text-color;
    margin-bottom: 0.1em
  }

  .value {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.1em
  }
}

.field-section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .row {
    margin-right: 3%;
    width: 30%;
    margin-top: 2em;

    @media (max-width : 768px) {
      width: 45%;
      margin-right: 4%;
    }

    @media (max-width : 480px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .field {
    width: 100%;
  }
}

.select {
  position: relative;
  top: 8px;
}

.checkbox {
  margin-top: 50px;
  &.half-margin {
    margin-top: 25px;
  }
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 50px auto 35px;
  width: 60%;
  max-width: 300px;

  .accent-btn {
    margin: 0 auto;
  }

  .positive-btn {
    float: right;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.terms-of-use {
  height:150px;
  overflow: auto;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #000;
  margin-top: 25px;
}
