<div class="table__wrapper client-address-info-width">
  <table class="table client-address-info-width">
    <tr>
      <th>Post Code</th>
      <th>Full Address</th>
      <th>Moved In</th>
      <th>Current</th>
    </tr>

    <tr *ngFor="let address of addresses; let index = index">
      <td class="no-wrap">{{ address.postal_code }}</td>
      <td>
        {{ address.street }}
        {{ address.building_number }},
        {{ address.city }},
        {{ address.country }}
      </td>
      <td class="no-wrap">{{ convertDateForDisplay(address.moved) }}</td>
      <td>{{ index === 0 ? 'Y' : 'N' }}</td>
    </tr>

  </table>
</div>
