.table__wrapper {
  display: inline-block;
  max-height: 243px;
  min-height: 100px;
  overflow-y: auto;
}

th {
  height: 47px;
  font-weight: 500;
}

.no-addresses-label {
  text-align: center;
  margin-top: 10px;
}
