<div class="dialog">
  <h2 class="dialog__title">Are you sure?</h2>
  <div class="dialog__form-buttons">
    <button type="submit" class="btn btn-sm btn-success" (click)="dialogRef.close({confirm: true})">Confirm</button>
    <button type="submit" class="btn btn-sm btn-danger" (click)="dialogRef.close({confirm: false})">Cancel</button>
  </div>
</div>