<form action="https://secure-test.worldpay.com/wcc/purchase" method="POST" id="worldpay_form">
    <input type="hidden" name="testMode" value="100" />
    <input type="hidden" name="instId" value="1122806">
    <input type="hidden" name="cartId" value="1234567">
    <input type="hidden" name="amount" value="1">
    <input type="hidden" name="currency" value="GBP">
    <input type="hidden" name="callbackPW" value="password">
    <input type="hidden" name="MC_callback" value="http://cu540.effective-soft.com/app_dev.php/api/worldpay/callback">
    <input type="hidden" name="MC_redirectUrl" value="/#/portal/invest/transfer_money_result">
</form>
<script type="text/javascript">
    document.getElementById('worldpay_form').submit();
</script>