<!DOCTYPE html>
<html>
<head>
    <!-- HTML meta refresh URL redirection -->
    <meta http-equiv="refresh"
          content="0; url=http://{{redirectUrl}}">
</head>
<body>
<WPDISPLAY ITEM=banner>
</body>
</html>