<div class="rest-container">

  <div class="content-container content-container_stylized">

    <h2 class="main-header">Set the new password</h2>

    <form (submit)="onSubmit()">
      <div class="form-content">

        <md-input-container class="row">
          <input mdInput
                 type="password"
                 name="new-password"
                 placeholder="New password"
                 [(ngModel)]="model.plain_password"
                 (change)="errors.plainPassword = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.plainPassword">{{errors.plainPassword}}</span></div>


        <md-input-container class="row">
          <input mdInput
                 type="password"
                 name="confirm-password"
                 placeholder="Confirm password"
                 [(ngModel)]="model.repeat_password"
                 (change)="errors.repeatPassword = ''">
        </md-input-container>
        <div class="errorMessage"><span *ngIf="errors.repeatPassword">{{errors.repeatPassword}}</span></div>

      </div>
      <div class="form-buttons new-pass__form-buttons">
        <button md-raised-button type="submit" class="positive-btn">
          Send
        </button>
      </div>
    </form>

  </div>

</div>
