<div class="content-container content-container_stylized">
  <h2 class="main-header">Confirm your contact details and verify your mobile</h2>
  <form (submit)="onSubmit()">
    <div class="form-content">

      <div class="address-input-block" *ngIf="!hasCurrentAddress">
        <my-autocomplete class="address-row" [searchStr]="searchStr" [errors]="errors"></my-autocomplete>
        <div class="description">
          This is where you live right now and a way we can send letters to you, if required.
        </div>
        <div class="row">
          <div class="date-select-wrap">
            <md-select class="date-select"
                       name="month"
                       placeholder="Month of move"
                       [(ngModel)]="month"
                       (ngModelChange)="check(month, year);">
              <md-option *ngFor="let item of months" [value]="item">{{item}}</md-option>
            </md-select>
            <md-select class="date-select"
                       name="year"
                       placeholder="Year of move"
                       [(ngModel)]="year"
                       (ngModelChange)="check(month, year);">
              <md-option *ngFor="let item of years" [value]="item">{{item}}</md-option>
            </md-select>
          </div>
          <div class="errorMessage date__error-message"><span *ngIf="errors.moved">{{errors.moved}}</span></div>
        </div>
      </div>

      <div class="address-info-block" *ngIf="hasCurrentAddress">
        <div class="address-info">
          <p class="label">Your current address:</p>
          <p class="value">{{displayedAddress}}</p>
          <p class="label">Month moved in:</p>
          <p class="value">{{displayedMoved}}</p>
        </div>
        <button md-raised-button type="button" class="positive-btn" (click)="addAddress()">
          <i class="material-icons">add</i>
          Add New Address
        </button>
      </div>

      <div class="field-section">
        <div class="row">
          <md-input-container class="field">
            <input mdInput
                   name="mobile"
                   type="text"
                   pattern="[+0-9]*"
                   placeholder="Mobile Number"
                   [(ngModel)]="model.mobile_phone"
                   (change)="errors.mobilePhone = ''; showMobileVerificationButton = false">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.mobilePhone">{{errors.mobilePhone}}</span></div>
        </div>

        <div class="row">
          <md-input-container class="field">
            <input mdInput
                   name="homenumber"
                   type="text"
                   pattern="[+0-9]*"
                   placeholder="Home Number"
                   [(ngModel)]="model.home_phone"
                   (change)="errors.homePhone = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.homePhone">{{errors.homePhone}}</span></div>
        </div>

        <div class="row">
          <md-input-container class="field">
            <input mdInput
                   name="worknumber"
                   type="text"
                   pattern="[+0-9]*"
                   placeholder="Work Number"
                   [(ngModel)]="model.work_phone"
                   (change)="errors.workPhone = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.workPhone">{{errors.workPhone}}</span></div>
        </div>

        <div class="select row">
          <md-select name="title"
                     placeholder="Title"
                     [(ngModel)]="model.title"
                     (ngModelChange)="errors.title = ''">
            <md-option *ngFor="let opt of options" [value]="opt">{{opt}}</md-option>
          </md-select>
          <div class="errorMessage"><span *ngIf="errors.title">{{errors.title}}</span></div>
        </div>

        <div class="row">
          <md-input-container class="field">
            <input mdInput
                   name="screenname"
                   placeholder="Screen Name"
                   [(ngModel)]="model.screen_name"
                   (change)="errors.screenName = ''">
          </md-input-container>
          <div class="errorMessage"><span *ngIf="errors.screenName">{{errors.screenName}}</span></div>
        </div>
      </div>
      <div class="description">
        We use your mobile number for authenticating all transactions. So lets take a moment to confirm your mobile number is correct and you have access to it.<br />
        Once you have confirmed your contact details, press Verify Mobile and we will send you a verification code within a minute or two. Enter that code sent to your mobile on the following screen to complete your verification.
      </div>
    </div>


    <div class="form-buttons">
      <button *ngIf="!showMobileVerificationButton" md-raised-button type="submit" class="positive-btn">
        <i class="material-icons">arrow_forward</i>
        Next
      </button>
      <button *ngIf="showMobileVerificationButton" md-raised-button class="accent-btn" type="button" (click)="showVerificationPopup()">
        <i class="material-icons">thumb_up</i>
        Verify Mobile
      </button>
    </div>
  </form>

</div>
