.buttons {
  text-align: center;
  margin-top: 10px;
}
.c-user-card__content {
  overflow: auto;
}
.table__body-tr.grey {
  background-color: rgba(0, 0, 0, 0.08);
}
.principle {
  white-space: nowrap;
}